[2021-09-15 09:46] flokli commented on #1950
Yes, we were able to create clusters without crashing, but I'm not sure if the segfault has been fixed in the meantime, of if it'll resurface.

What about the stacktrace from https://github.com/vectorizedio/redpanda/issues/1950#issuecomment-891271897?

[2021-09-15 09:51] jcsp commented on #1875
This may be fixed - I just tried (on dev `1dfb4a0`)increasing core count on a node and other nodes restarted+did topic creations without issues.l

[2021-09-15 09:53] mmaslankaprv commented on #1875
it was indeed fixed.

[2021-09-15 09:57] jcsp commented on #2246
Related: UAF on partition movement in unit test https://github.com/vectorizedio/redpanda/issues/1955

[2021-09-15 09:58] jcsp commented on #2282
Related: UAF on partition movement unit tests https://github.com/vectorizedio/redpanda/issues/1955

[2021-09-15 09:58] #1875 closed

[2021-09-15 10:03] jcsp commented on #1789
@BenPope this looks to be a sub-task of pandaproxy work, should it still be open?

[2021-09-15 10:06] BenPope commented on #1789
I don't know what this ticket is for. I think the meta-issue covers it.

[2021-09-15 10:06] #1789 closed

[2021-09-15 10:27] #618 closed

[2021-09-15 10:40] jcsp commented on #41
@dotnwat can you write a description if this is still a live issue?

[2021-09-15 10:53] jcsp opened #2318 "tests: KafkaCliTools._execute should raise on error"
Currently this function returns None on errors, which causes problems:
- Functions like `produce` will appear to succeed even if they fail
- Functions that try to parse stdout from a command will fail in ugly ways like trying to do a split on a None

The function should raise on error, and any callers that truly want to ignore errors should do so.

[2021-09-15 15:38] jcsp opened #2320 "storage: cope more gracefully with exceeding open files ulimit"
Like all programs, Redpanda is subject to system limits on how many file handles we can have.

Currently we handle this as an IO error, and log an error something like
```ERROR 2021-09-15 14:30:25,567 [shard 0] storage - Error writing record batch std::__1::__fs::filesystem::filesystem_error (error system:24, filesystem error: open failed: Too many open files [/var/lib/redpanda/data/kafka/topic-et

[2021-09-15 15:44] jcsp commented on #2320
Thoughts on mitigation:
- Some process-wide metric for when we've hit the limit (and other system limits?  can't think of any we hit regularly right now) and then error-out API calls up-front (ideally with a message expressing the file handle issue)
- Expose a prometheus gauge of open files vs. the limit.  As with free space #2166 this is something the user can monitor externally, but we cannot re

[2021-09-15 16:38] jcsp commented on #2320
Noah:

[2021-09-15 16:44] jcsp opened #2321 "Tests failing (e.g. create_partitions_test) on running out of file handles"
PR #2279 increased the docker limit on file handles, but it doesn't seem to have taken effect.

I suspect this is because the hosts running our docker containers have a lower limit to begin with, so increasing the docker limit isn't helping.

On my workstation where this test passes reliably, I also have my /etc/security/limits.conf set with:
[code]

I wonder if we can get the equivalent on the se

[2021-09-15 16:48] jcsp commented on #2321
@ivotron when you have a minute, could use your input on whether Buildkite can be tweaked for the systemwide resource limits, or maybe we have to work within the default limits.

[2021-09-15 20:18] nicscl commented on #445
Hi!
The release https://github.com/vectorizedio/redpanda/releases/tag/v21.8.1 mentions support for the transactions API, is this issue closed?

[2021-09-15 20:52] senior7515 commented on #445
@nicscl yes. i'd recommend 21.8.2

[2021-09-15 20:52] #445 closed

[2021-09-15 21:17] BenPope commented on #2304
For Ubuntu:

Install specific version:
[code]
Hold redpanda (prevent non-explicit upgrades):
[code]
Manually change to specific version:
[code]
Manually upgrade to latest (not currently recommended if beta and production channels are enabled - the ordering is wrong)
[code]
Unhold redpanda:
[code]

[2021-09-16 09:49] jcsp opened #2323 "admin: replica configuration change is applied even if it's a no-op"
This makes testing awkward, because we can't distinguish between the config operation being complete  & the operation having not started yet.  Tests would proceed thinking they were done when really the partition was about to go into in_progress state.  This is one source of failures in partition_movement_test.py

[2021-09-16 10:32] mmaslankaprv opened #2326 "Kafka offsets are off by one after log eviction"
When log eviction happen all the Kafka offsets are shift. This should never happen as offsets in WAL MUST be immutable. Offset shift may cause consumer to skip some batches and also lead to the situation in which the same offset is returned to the producers for different batches.

Example:
high watermark before eviction was triggered:

[code]

after log eviction:
[code]

[2021-09-16 12:11] mmaslankaprv opened #2327 "raft: recovery throttle access after free"
When `stop()` is being called on `ss::sharded<raft::recovery_throttle>`  it not only stops the instance but also destroys it. This lead to use after free assertion being triggered in some of the tests.

[2021-09-16 12:59] #272 closed

[2021-09-16 14:59] paulrostorp opened #2329 "[Feature request] Topic Custom Resource for kubernetes"
When deploying to kubernetes, managing topics via code is a very nice thing to have.

Currently, we could use something like https://github.com/btrace-baader/kafka-topic-operator, but it would be more convenient to that the redpanda operator handled it.

For reference, Strimzi has the `KafkaTopic` CRD ([doc](https://strimzi.io/docs/operators/latest/using.html#ref-operator-topic-str) and [schema](h

[2021-09-16 16:38] #2327 closed

[2021-09-16 18:06] #2310 closed

[2021-09-16 18:28] #2323 closed

[2021-09-16 21:29] jcsp commented on #1955
Here's another more recent example of a sanitizer fail on that test
https://buildkite.com/vectorized/redpanda/builds/2311#22f3725c-ecad-4042-87a5-81c1eec66537

[2021-09-17 00:02] NyaliaLui commented on #2307
I'm assuming print ip in release mode?

[2021-09-17 01:10] senior7515 commented on #2307
No. So when auth fails in the Kafka subsystem we throw an exception and catch it which looses context. Before we close the connection we should print source ip

[2021-09-17 08:47] jcsp commented on #2321
Leaving ticket open to track the more general issue that our docker ulimit settings aren't meaningful without increasing the limits on the host where we run, and we're not sure what those limits are or whether they're adjustable.

[2021-09-17 08:55] jcsp opened #2339 "Failures in `src/js/tests`"
This is the thing I saw locally a couple days ago & mentioned in slack.  Now it's happening in CI:

https://buildkite.com/vectorized/redpanda/builds/2325#a49aaa20-acec-4e6c-ba88-2a3d4eebf7c3

[2021-09-17 09:02] jcsp commented on #2339
@VadimPlh suggests that @graphcareful might have some ideas about this one

[2021-09-17 12:47] jcsp opened #2340 "refactor: generalize validation of raft configuration changes on replay"
In issues like https://github.com/vectorizedio/redpanda/pull/2291, we encounter severe consequences if we commit a configuration change that is in any way invalid.  Once a message is committed, if it trips an assertion on replay it'll break the node (+ probably cluster) entirely.  We can fix validation issues one by one, but that's also a bit racy - maybe a configuration change was valid at the mo

[2021-09-17 16:31] #2287 closed

[2021-09-17 18:13] #2283 closed

[2021-09-17 18:14] ivotron commented on #2283
as Ben mentioned, the `EXPOSE` directive in Dockerfiles is mainly there for documentation purposes, as it doesn't cause docker to map or open any ports

[2021-09-18 01:59] patrickangeles opened #2346 "Update CLI flags (missing `rpk redpanda start --set`)"
`rpk redpanda start --set ...` is not documented. There may be other flags missing.

[2021-09-18 02:41] patrickangeles commented on #2346
Also worth mentioning the following flags which aren't publicly documented:
--smp
--memory
--reserve-memory
--overprovisioned

[2021-09-18 05:07] dswang commented on #2346
@patrickangeles Regarding the other flags in your second comment: https://github.com/vectorizedio/redpanda/blob/1e6de4f6a340ced73dca02d762c218aa87bd3d36/src/go/rpk/pkg/cli/cmd/redpanda/start.go#L487 explicitly hides all Seastar-related parameters from the help text, so I think this is intentional.  I won't tackle that change unless we decide we want to expose Seastar-related parametners in the hel

[2021-09-18 05:07] dswang commented on #2346
@patrickangeles Regarding the other flags in your second comment: https://github.com/vectorizedio/redpanda/blob/1e6de4f6a340ced73dca02d762c218aa87bd3d36/src/go/rpk/pkg/cli/cmd/redpanda/start.go#L487 explicitly hides all Seastar-related parameters from the help text, so I think this is intentional.  I won't tackle that change unless we decide we want to expose Seastar-related parametners in the hel

[2021-09-18 20:19] zimbatm commented on #2304
thanks!

[2021-09-19 16:54] #2326 closed

[2021-09-19 19:53] #2346 closed

[2021-09-20 09:43] jcsp commented on #2339
Here's another instance of the failure
https://buildkite.com/vectorized/redpanda/builds/2335#a7549b34-c0a4-4759-be99-f5d0d6ad1cfe

Discussion on Slack:

[code]

[2021-09-20 10:07] jcsp opened #2355 "`rpk topic --help` output is strangely formatted"
`alter-config` was added with a much more verbose description than other commands, and that description isn't indented.  On a modestly sized terminal, the alter-config part tends to scroll off the top and it looks like the list of shorted-description commands is the whole list of commands.

Probably need to indent the alter-config description and/or add equally detailed explanation of other comman

[2021-09-20 14:00] dswang commented on #2084
Can this be closed out now that #2182 is in @Lazin?

[2021-09-20 14:41] dotnwat opened #2357 "storage: copy_helper should run on top of batch_consumer"
This is what I was going to do initially. But the problem is that I need to write the result to `ss::output_stream<char>` which isn't possible in the context of `batch_consumer` because the code paths are not futurized. Changing the interface of the `batch_consumer` is possible but will require a lot of changes which are not related to this PR. It can be done in a separate PR later.

_Originally p

[2021-09-20 14:42] dotnwat commented on #2357
@Lazin can you describe what is needed to accomplish this? i'm not sure the code paths need to be futurized. as an example, the log reader uses batch consumer via record batch reader so we can have a futurized streaming interface.

[2021-09-20 14:52] Lazin commented on #2357
This utility can read any stream, not only disk based log segments. Shadow indexing needs it to patch downloaded log segments on the fly. The `log_reader` looks like something purpose built for storage. It also requires storage::probe and lock_manager which are not available for remote data.

Another use for this `transform_stream` utility is scanning of the log segment starting from the offset th

[2021-09-20 15:05] dotnwat commented on #2357
@Lazin that makes sense. i'm confused then why you are using the batch_consumer state machine enums if we aren't really using the state machine. can you comment on that? i'm trying to figure out how to evolve this because there does seem to be something here worth improving.

[2021-09-20 15:18] Lazin commented on #2357
I agree.
Using transform_stream for storage in archival subsystem wasn't very
ergonomic. But the problem that it solves is that archival works on
filesystem level. It gets the input_stream and uploads it to S3. And to
start upload from some offset we need to locate the offset using the index.
The index gives us file offset and the `transform_stream` is used to scan
starting from that offset to the

[2021-09-20 15:23] Lazin commented on #2357
The enums are used because the lambda that is passed to `transform_stream`
function is using them to control the output. Do you think it makes sense
to use different enum?

On Mon, Sep 20, 2021 at 6:18 PM Evgeny Lazin ***@***.***> wrote:

[2021-09-20 15:24] dotnwat commented on #2357
Thanks! This is great context to have for later refactoring

[2021-09-20 20:14] ivotron commented on #2321
sorry for the delay. Yes, they can be adjusted to whatever we want. However the `dockerd` daemon has the capability to modify these limits, so whatever is given in `--ulimit` flag (or docker-compose yaml) should work. I'll double check by booting a buildkite agent manually and report back

[2021-09-20 20:24] dotnwat commented on #2307
@NyaliaLui the case here that @senior7515 is referring to is slightly different than the authorization / authentication cases we discussed on friday. logging for the case alex is mentioning i think you can handle in one place--probably in kafka/server/protocol.cc--with a single finally continuation.

[2021-09-20 21:07] dotnwat commented on #41
@jcsp thanks for pinging me on this. updated.

[2021-09-20 23:10] dotnwat commented on #1836
are you think time-based flushing or some sort of best effort / low-priority flushing? currently we don't track any dirty state in our batch cache, and the equivalent of a block cache are background futures in the segment appender. working on something like this might be a convenient time to move to a batch cache v2 that unifies these caches and also provides coherent dirty reads.

[2021-09-20 23:25] senior7515 commented on #1836
@jcsp how does this differ from in-memory acks

[2021-09-21 01:38] dotnwat opened #2363 "Failure in `test_coproc_router_multi_route`: coproc test destroys output stream without shutting down"
This looks like it is happening on shutdown.

* https://buildkite.com/vectorized/redpanda/builds/2415#d67f85ed-8250-499f-9b63-3173067af42f/6-4559

[code]

[2021-09-21 02:16] dotnwat commented on #2355
@twmb is this foreshadowing some cli help similar to kcl's in style and size?

[2021-09-21 02:19] twmb commented on #2355
This is a mistake in initializing the command. The current text is meant to be in the `Long` field, vs. the `Short` field which is meant to be a single line.

I'll open a PR to fix this. Good catch, thank you!

[2021-09-21 02:23] twmb commented on #2355
https://github.com/vectorizedio/redpanda/pull/2365

[2021-09-21 03:00] #2294 closed

[2021-09-21 04:35] #2084 closed

[2021-09-21 05:08] #2355 closed

[2021-09-21 05:11] dotnwat commented on #2284
@ztlpn great write up. is this still relevant after the recent changes related to offset translation?

[2021-09-21 08:39] jcsp commented on #1836
Different names for the same logical result of acking before persistent: we can implement it at different levels -- the "in memory" might be userspace memory, might be page cache memory, might be drive buffer memory.

I'm thinking there may be some flow control benefit to still having requests wait for their disk write (but not fsync), to avoid accepting writes faster than we can send them to disk

[2021-09-21 09:51] VadimPlh opened #2369 "[coproc] Async engine testng"
# Limits
## Setup:
* 1machine (c5.9xlarge) the machine has:
* 36 vcpus
* 3 TB storage (external volume)
* 72GB RAM (2GB/vcpu)
* On this one machine, 3 redpanda processes and 3 wasm engine sidecars deployed.
* 20 partitions
* record size: 500 bytes
* messages count: 50000
* -c 5 -g 10G
* Throuputs 1000 record/sec
* https://github.com/VadimPlh/redpanda/pull/8
## Testing
|Coproc count|Redpanda settin

[2021-09-21 10:11] jcsp opened #2370 "Operator (or at least tests) should wait til cluster forms before creating topic"
In https://github.com/vectorizedio/redpanda/pull/2298 we added a sleep to work around this.

The operator considers the cluster up and ready as soon as the nodes start, but internally Redpanda doesn't form a cluster until a few seconds later as the nodes join the controller raft group.  Until that happens, attempts to create a topic with replicas>1 (like we do in the test) will fail.

We should ha

[2021-09-21 10:30] jcsp commented on #2321
I'm not too familiar with how these nodes are provisioned -- where would we make changes to adjust system-wide settings on the nodes where tests run?

[2021-09-21 11:20] jcsp commented on #1955
Same issue reproduced in a ducktape test

https://buildkite.com/organizations/vectorized/pipelines/redpanda/builds/2439/jobs/b5a29da8-e33a-4a74-b0bc-fc840c8a46f6/artifacts/7f8ef3a4-fa29-41e2-85a6-f6010ccde7be

(an `AddressSanitizer: heap-use-after-free` about 80ms after a consensus group is stopped)

[2021-09-21 13:58] jcsp opened #2374 "tests: instrumented kafka workload generator"
This is not a benchmarking tool (though it might end up having a lot in common with one) -- the primary functions are:
- *Stress redpanda* nodes under test so that we can reproduce bugs that don't appear on idle systems.  Stress means bytes per sec, messages per sec, and total number of open producers/consumers
- *Measure responsiveness* so that we can detect transient availability issues.  If a r

[2021-09-21 14:55] rkruze commented on #2374
Could we possibly use https://github.com/apache/kafka/blob/trunk/TROGDOR.md for this?

[2021-09-21 15:22] BenPope commented on #1836
What about flushing batches (with size, time, or against IOPs limit), and then acking the requests when the batch is done. It will increase latency (especially as IOPs limit is approached), but reduce flushes.

[2021-09-21 16:23] jcsp commented on #369
This is quite old, unless anyone has seen it recently will close this ticket.

[2021-09-21 16:57] ivotron opened #2375 "helm chart test timeouts"
need to apply same fix as in https://github.com/vectorizedio/vtools/pull/251

[2021-09-21 17:54] jcsp opened #2376 "Tests should run on local storage & XFS"
Currently test nodes in ducktape use /var/lib/redpanda, which is the container's overlayfs.

We should test Redpanda on XFS, as it would be used in real life.

It's straightforward to have the containers use a volume mounted from the host running docker, it's less obvious to me where in the CI process we would create an XFS filesystem on that host.

[2021-09-21 20:59] patrickangeles opened #2377 "Document all CLI flags, including Seastar flags."

[2021-09-22 02:49] dotnwat commented on #224
The previous comment is valid. This ticket is probably completed, but it needs to be verified for cross-segment compaction IO.

[2021-09-22 03:01] dotnwat commented on #63
This would manifest as a producer writing at a _very_ low throughput and then not observing data being visible via fetch in a timely manner. This ticket is probably reasonable to close and not work unless a workload happens to trigger in the future. By that point we've probably moved on to segment appender v2.

[2021-09-22 03:07] dotnwat commented on #42
This is probably not worth working on proactively until we start to debug longer tail latencies.

[2021-09-22 03:12] dotnwat commented on #41
Closing this ticket. We haven't been hitting OOMs lately, and the chunk cache is an obvious choice for reclaiming memory from the next time we run into low memory situations, so it probably doesn't need its own ticket.

[2021-09-22 03:12] #41 closed

[2021-09-22 03:49] dotnwat commented on #245
Assigning @jcsp I think this ticket is effectively an alias for centralized configuration.

[2021-09-22 03:50] dotnwat commented on #264
This is probably a non-issue by now, but should be verified.

[2021-09-22 03:53] #269 closed

[2021-09-22 04:01] dotnwat commented on #339
This ticket needs to be verified again to exist.

[2021-09-22 04:02] #344 closed

[2021-09-22 04:06] dotnwat commented on #376
Closing but labeling with performance for searchability.

[2021-09-22 04:06] #376 closed

[2021-09-22 04:10] dotnwat commented on #411
Closing this since we have improved the situation of creating topic then querying metadata, and haven't had reports of this issue in some time.

[2021-09-22 04:10] #411 closed

[2021-09-22 05:09] dotnwat commented on #2284
@mmaslankaprv this seems pretty critical right?

[2021-09-22 05:24] #2048 closed

[2021-09-22 08:03] ivotron commented on #2321
i started a vm with the image currently used by the buildkite agents.

limits for the `dockerd` daemon, which is what containers inherit from:

[code]

for example, a container without specifying limits:

[code]

and now with limits:

[code]

for completeness, this is what is shown at the host level (though the daemon has the capability of overriding this as shown above):

[code]

@jcsp , can you

[2021-09-22 09:14] jcsp commented on #2377
On seastar CLI flags: IMO our default policy should be that they're unsupported for customers unless instructed otherwise by support.  Our testing doesn't include most of these settings.  Where there are specific ones we would like customers to use, then those should be documented of course.

It's not ideal to have "secret" options in the software, but in this case I think it's the lesser of two e

[2021-09-22 11:42] alenkacz opened #2381 "Make sure we have redpanda logs from all kuttl test runs"
Right now we have bundle with logs provided by kuttl but lots of logs are missing e.g. redpanda logs are missing from almost all runs. Investigate how log collection works and how to get more detailed logs. Additional log collectors might be a solution as well.

[2021-09-22 11:54] alenkacz opened #2382 "update-conf-image causes cluster restarts for tests run in parallel (k8s-operator `produce-consume` failure)"
so this is actually pretty interesting. @John Spray pinged me to look at produce-consume  test failure he was debugging. When I digged a bit more it looked like there was rolling restart being performed in the middle of test which is not intentional. Going through the logs I found this
[code]
the TLDR for the impatient is that we have update-conf-image  test that kind of mutates shared state for a

[2021-09-22 11:56] jcsp commented on #2382
Example of failure in CI: https://buildkite.com/vectorized/redpanda/builds/2460#43055c6c-bc36-4001-9b3a-c2fe7532243f

[2021-09-22 12:02] jcsp commented on #2375
It looks like the `k8s:test-helm-chart` task is using the `k8s:run-make` task that already includes the `KUTLL_TEST_FLAGS: --skip-cluster-delete=true` change that is linked here?

If you have an example of the failure please link here.

[2021-09-22 12:21] jcsp commented on #2382
Testing with parallel execution disabled here: https://github.com/vectorizedio/redpanda/pull/2380

[2021-09-22 12:38] jcsp commented on #2376
Currently test runners are m5.12xlarge AWS nodes, which only have EBS storage -- we should switch to an instance type that has NVME storage (e.g. m5d.12xlarge), format it with XFS when provisioning the instance, and then use that filesystem as the data location for test nodes.

[2021-09-22 13:01] jcsp opened #2383 "k8s-operator/kuttl tests fail with no output"
Here's an example:
https://buildkite.com/vectorized/redpanda/builds/2474#6acda3c4-5849-4264-85fc-0114f704ffb1

The log output gives no indication of what failed other than "FAIL: kuttl (157.10s)"

An artifact is produced, but buildkite reports its size as 6.26kB, and if you try to download it you only get 15 bytes.

[2021-09-22 13:07] alenkacz commented on #2383
[code]

this is cause, docker exec is failing for some reason on that worker. never happened to me locally

[2021-09-22 13:09] alenkacz commented on #2383
related https://github.com/kudobuilder/kuttl/issues/296

[2021-09-22 13:12] jcsp commented on #2339
It looks as if the tests are being run using mocha, which afaict does not run things in parallel by default
[code]

Given that there are failures to listen on 43000 *and* failures to connect to the same port, it seems less likely that this is two servers clashing, and more likely that one server is trying to listen when a previous one is incompletely shut down.

[2021-09-22 13:15] jcsp commented on #2246
We have other tickets for the UAF in partition movement test, changing this ticket to be specific to the node_fuzzy_operations test

[2021-09-22 13:23] jcsp commented on #2383
Thanks @alenkacz .  I now realise the trick to see the error is that BuildKite is folding it into the previous "PASS" section.  Looking at the raw output helps:L

[code]

[2021-09-22 13:32] alenkacz commented on #2383
@jcsp I always click on "Raw" in the top right corner - buildkite does terrible job collapsing the output

[2021-09-22 13:41] jcsp commented on #2383
Trying kuttl downgrade here https://github.com/vectorizedio/redpanda/pull/2384

[2021-09-22 14:37] ivotron commented on #2375
that's true! gonna close this then, thanks! 🙏

[2021-09-22 14:37] #2375 closed

[2021-09-22 14:48] jcsp commented on #2382
When this issue is fixed, parallelism in the operators can be turned back on (i.e. revert #2380 )

[2021-09-22 14:53] jcsp commented on #1877
No link to a failure & unclear which test it was, have to close this.

[2021-09-22 14:53] #1877 closed

[2021-09-22 14:55] jcsp commented on #369
@nwat @mmaslankaprv This is fairly old and I don't recall seeing it reproduce while I've been here.  Suggest we close unless anyone else has seen it recently?

[2021-09-22 15:02] mmaslankaprv opened #2385 "Failure in `test_dynamic` partition movement test"
This issue tracks failure in the PartitionMovingTest.test_dynamic ducktape test and the partition_moving_test unit test -- sanitizer errors and segfaults here are believed to have the same (as yet undetermined) root cause.

Dynamic test moving partitions failed with the following sanitizer error:
[code]

[2021-09-22 15:10] jcsp opened #2386 "docker fails to start/stop containers"
Tracking issue for the increasingly frequent docker issues on buildkite nodes.

These manifest as errors starting containers:
[code]

...and also timeouts stopping containers during the pre-test purge task.

[2021-09-22 17:23] ivotron commented on #2386
we could try to increase the timeout in docker compose as described here:  https://github.com/docker/compose/issues/3927#issuecomment-245948736

[2021-09-22 17:26] jcsp commented on #2386
This PR has an increased timeout (https://github.com/vectorizedio/vtools/pull/265) as well as more verbose output, and is on its third buildkite run without docker issues so far.

[2021-09-22 18:49] jcsp opened #2388 "Failure in `NodesDecommisioningTest.test_decommissioning_working_node`"
https://buildkite.com/vectorized/vtools/builds/306#3d5fa10a-5652-48fe-8e90-28832108c106

http://ci-artifacts.dev.vectorized.cloud/vtools/3d5fa10a-5652-48fe-8e90-28832108c106/vbuild/ducktape/results/2021-09-22--001/report.html

From the test log, it looks like the partitions were correctly moved away from the node, but the node itself remained in the list of brokers and the test timed out waiting f

[2021-09-22 20:10] jcsp commented on #2382
Removing ci-failure label, this is no longer breaking -- just making tests take longer to run because they can't be parallelised.

[2021-09-22 20:11] jcsp commented on #1957
This one was disabled in `a7d771f9c` and is still disabled now.

[2021-09-22 20:19] dotnwat opened #2390 "segfault under high produce load to compacted topic"
* Redpanda v21.8.2 - a44570ca9471f97af2abc6a2ea1c8f26ff1aa647
* franz-go bench modified to write uuid keys
* ./bench -brokers 172.31.11.44:9092 -record-bytes 1024 -topic foo
* 512 partitions, repl=3, compacted

[code]
and
[code]

[2021-09-22 20:33] BenPope opened #2393 "Create Partitions adds x partitions instead of making it the new total."
#2025 implemented [KIP-195](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=73637005), but I believe `count` should be the new total partition count, not the number of additional partitions.

https://github.com/vectorizedio/redpanda/blob/67254cb7b4e789fb5c095f4f38f657b3505cae0b/src/v/cluster/topic_table.cc#L92-L95

Another data point is the Materialize test suite which fails thus:

[2021-09-22 21:35] BenPope commented on #2393
Here's a head start
[code]

[2021-09-22 22:05] BenPope opened #2396 "Failure with Materialize test suite (mz_kafka_consumer_partitions)"
With the fix supplied in issue #2393, I saw a failure with the Materialize test suite (test was previously disabled):
[code]
[code]

[2021-09-22 22:05] BenPope opened #2397 "Failure with Materialize test suite (kafka-time-offset.td)"
With the fix supplied in issue #2393, I saw a failure with the Materialize test suite (test was previously disabled):
[code]
[code]

[2021-09-22 22:25] BenPope commented on #2396
I don't see this on every run. I've also seen:
[code]

[2021-09-22 23:32] senior7515 commented on #2393
ah awesome @mmaslankaprv take a look.

[2021-09-22 23:33] senior7515 commented on #2397
interesting.

[2021-09-23 03:46] #1913 closed

[2021-09-23 04:32] dotnwat commented on #2390
this is a good example of some error handling improvements we need to make. i went down multiple rabbit holes looking at this, and found that it is an issue in our snappy compression handling. notice the very distinct and obvious lack of anything related to snappy in the error, logs, backtrace.

the issue is simply that we aren't collecting enough context at the point of exceptions being thrown in

[2021-09-23 04:57] bigangryrobot opened #2398 "libc++abi: __cxa_guard_acquire detected recursive initialization"
Running into this in various ways across multiple linux hosts on ubuntu 20. It just gets here and crashes. Verbose provides nothing more to help

[code]

[2021-09-23 05:05] dotnwat commented on #1768
this is a low priority enhancement. _not_ doing this has resulted in a lot of headaches, but it largely behaves ok today. resolving this ticket by building a read through cache would likely be more robust and easier to work on. easier to deal with inconsistencies with kafka and race conditions involving metadata that we solve today usually by introducing small delays to wait for propogtation.

[2021-09-23 05:06] #1769 closed

[2021-09-23 05:06] #1770 closed

[2021-09-23 05:07] dotnwat commented on #1770
this is an enhancement that will be clear if/when we end up needing to refine the throttling mechanism we use for learner recovery.

[2021-09-23 05:09] bigangryrobot opened #2399 "Why does this call home with my entire config and no way to turn it off?"
Im in an air gapped network, which means that this call fails silently in the background and results in a slow start, but that said, why cant i disable it in the first place or even know that it was trying to post this data out? Shouldnt it be optional? I cant seem to find any flag referenced in the code.

[code]

[2021-09-23 05:15] rkruze commented on #2399
You can disable this by adding the following to the `redpanda` section in the `redpanda.yaml` file: `disable_metrics: true`

[2021-09-23 05:23] dotnwat commented on #1771
I would expect that this (or something related) ends up being relevant.

[2021-09-23 05:25] dotnwat commented on #1773
A form of this was completed for learner node recovery.

[2021-09-23 05:25] #1773 closed

[2021-09-23 05:32] #2399 closed

[2021-09-23 05:43] senior7515 commented on #2399
@bigangryrobot hi Clark. I edited the subject line for you. Let us know any questions.

[2021-09-23 05:45] senior7515 commented on #2398
@bigangryrobot can you try specifying v21.9.1 as the version on docker instead of latest

[2021-09-23 05:46] senior7515 commented on #2398
Also what cpu architecture is this docker on windows by chance ?

[2021-09-23 05:55] senior7515 commented on #2398
Ah good point. If Redpanda is on the host it might collide on ports with the docker

[2021-09-23 06:00] senior7515 commented on #2398
Also if interested there is a vectorized.io/slack if you have real time questions

[2021-09-23 06:53] #2398 closed

[2021-09-23 08:55] jcsp commented on #2386
Here's an instance of docker startup failing even with the increased timeout: https://buildkite.com/vectorized/redpanda/builds/2500#452df15e-c299-46d1-af45-935255ec32a3

Couple of noteworthy things:
- The javascript compilation is running concurrently with the docker startup at the time it times out, which suggests it might be a source of timing issues.
- While we are running docker-compose with "

[2021-09-23 08:59] jcsp opened #2402 "ducktape worker shutdown hang (after successful tests)"
Here's an example:
https://buildkite.com/vectorized/redpanda/builds/2502#e21493e3-c5da-4440-8d3d-386d6147fff8

The execution fails 30 minutes after the last test has successfully passed, with exceptions like:
[code]

A report file is output showing success of all tests before the ducktape process eventually fails with this timeout during shutdown.

I'm somewhat suspicious that this is something li

[2021-09-23 09:01] jcsp commented on #2383
Unfortunately we're still seeing this `k8s-operator` failure overnight: https://buildkite.com/vectorized/redpanda/builds/2502#1fb49b90-e2e8-43bf-99c6-a6477063ab38

[2021-09-23 09:02] SteadBytes opened #2403 "rpk: Configurable SASL mechanism for new users"
`rpk acl user create` does not support specifying which SASL mechanism to use for the new user and defaults to `SCRAM-SHA-256` - the global `--sasl-mechanism` flag is only ever used for the authenticating Redpanda user (not used in this case due to direct Redpanda API access rather than Kafka API).

In keeping with the existing `--new-username` and `--new-password` flags, perhaps a `--new-sasl-mec

[2021-09-23 09:09] alenkacz commented on #2383
@jcsp bummer :( we'll need to dig deeper probably. What's strange is that we're using 1.21 kind nodes in cloud tests and I did not see this kind of failure 🤔

[2021-09-23 09:11] jcsp opened #2404 "Update librdkafka in test docker image"
[code]

Latest is 1.8.0

[2021-09-23 10:19] jcsp opened #2406 "Failure in `RetentionPolicyTest.test_changing_topic_retention_with_restart`"
Example failure: https://buildkite.com/vectorized/redpanda/builds/2496#a4a3cbd2-d134-4234-a7d3-6027cf50801a

The test tries to modify a topic config immediately after a cluster restart and the server rejects it.

[code]

[code]

A few milliseconds later the node that rejected the client request learns of the new controller leader
[code]

[2021-09-23 12:10] BenPope opened #2408 "security: Multiple definitions of operator<< for scram_credential"
Depending on how the linker feels, we may still log scram credentials:

https://github.com/vectorizedio/redpanda/blob/470e9e7d7f94ea81525b262d0745244b549d143f/src/v/security/scram_algorithm.cc#L332-L341
https://github.com/vectorizedio/redpanda/blob/470e9e7d7f94ea81525b262d0745244b549d143f/src/v/security/scram_credential.cc#L17-L19

[2021-09-23 12:25] jcsp commented on #369
Closing because stale.

[2021-09-23 12:25] #369 closed

[2021-09-23 13:18] Lazin opened #2409 "archival: Metric `vectorized_ntp_archiver_missing` is computed incorrectly"
The metric `vectorized_ntp_archiver_missing` is compute incorrectly if there topic is compacted.
The problem is that the compaction can cause  gap in the offsets tat archival subsystem can't upload (it can't upload compacted segments). If the last non-sealed segment is compacted the metric will be updated multiple times using the same value (on every retry).

The metric should only be updated afte

[2021-09-23 13:30] jcsp commented on #2388
This looks like a genuine redpanda bug.

On a passing run of the test, the time between "changing node {} membership state to: draining" and "decommissioning finished, removing node {} from cluster" is only 10 seconds.

On this failure, we're never getting the second message, and the timeout is 120 seconds.

I do notice that the leadership balancer is doing transfers at the same time as the decomm

[2021-09-23 13:46] jcsp opened #2412 "Enable librdkafka tests in ducktape"
We have a ducktape test for running librdkafka's suite, but it's disabled at present (in the `excluded` list of `test_suite_quick.yml`).  It genuinely does fail, but in many cases for bad reasons, like tests that assert things should take certain fixed times that may not be true in a CI environment.

The ducktape test itself also has a list of individual numbered librdkafka tests to ignore.  This

[2021-09-23 14:11] graphcareful commented on #1633
https://github.com/vectorizedio/redpanda/pull/1799

[2021-09-23 14:11] #1633 closed

[2021-09-23 14:32] #2282 closed

[2021-09-23 14:50] jcsp commented on #2406
Thinking about this more, maybe this is not just a test behavior issue -- shouldn't redpanda handle the request even if the controller group is mid-election?  Maybe the redpanda node should block the request until the controller group is ready to service the request.

[2021-09-23 14:58] jcsp commented on #1524
Closing for https://github.com/vectorizedio/redpanda/pull/2378.  For outstanding issues in test_dynamic
this we have #2388.

[2021-09-23 14:58] #1524 closed

[2021-09-23 14:58] jcsp commented on #1955
Closing for https://github.com/vectorizedio/redpanda/pull/2378.  For outstanding issues in test_dynamic
this we have #2388.

[2021-09-23 14:59] jcsp commented on #2163
Closing for https://github.com/vectorizedio/redpanda/pull/2378.  For outstanding issues in test_dynamic
this we have #2388.

[2021-09-23 15:01] #2163 closed, assigned to mmaslankaprv

[2021-09-23 15:26] jcsp commented on #2388
This test is now disabled in `dev`, PR that fixes it should re-enable test too.

[2021-09-23 15:26] jcsp commented on #2406
This test is now disabled in `dev`, PR that fixes it should re-enable test too.

[2021-09-23 15:27] jcsp commented on #2385
This test is now disabled in `dev`, PR that fixes it should re-enable test too.

Revert these two commits:
- https://github.com/vectorizedio/redpanda/pull/2389/commits/fdf703636f02932a5bcb938b66d7d9882ffcc18b
- https://github.com/vectorizedio/redpanda/pull/2389/commits/b65a065beb7e81d871cbe13552b0f2fe4f97a92d

[2021-09-23 15:49] jcsp commented on #2381
Looking at a failure with incomplete logs here:
https://buildkite.com/vectorized/redpanda/builds/2517#5eef9c56-7a14-4a52-82bd-cacc994f3efd/2413

The output present in the tarball corresponds to the last four namespaces created (from searching "Creating namespace" in the buildkite log).  So maybe this is the default behavior in the test tool, to only keep the last N tests?  That would be bizarre bu

[2021-09-23 16:42] mmaslankaprv commented on #2385
I was able to reproduce this test failure. It triggered UAF error in `storage::disk_log_impl`

[code]

[2021-09-23 16:47] senior7515 commented on #2403
Thanks @SteadBytes ! This is a bug

[2021-09-23 16:56] twmb commented on #2403
I was looking at this yesterday actually, and want to drop `new` from these flag names. I can get to this quite soon, good report.

[2021-09-23 17:34] dotnwat commented on #2390
It appears that the issue is as follows:

1. snappy requests a memory reservation on an iobuf (e.g. 156 KB)
2. iobuf doesn't contain enough space so it allocates a new internal buffer
3. the iobuf allocation maxes out at 128 KB fragment sizes
4. the iobuf reservation code assumes that (1) the reservation satisifes the request and (2) reservations are required to be contiguous in memory. so there a

[2021-09-23 18:04] rystsov opened #2416 "Make id_allocator_stm support handle_eviction"
Right now id_allocator_stm blocks when an isolated node joins a cluster after a log eviction happened

[2021-09-23 18:19] dotnwat commented on #2390
confirmed this is snappy by manually adding an assertion

[code]

[2021-09-23 18:45] jcsp opened #2418 "Failure in `rpk:test-container`"
This test is run after all the ducktape tests & seems to be failing every 10-20 runs.

https://buildkite.com/vectorized/redpanda/builds/2528#e0afe087-83be-4b09-9899-3cea1e8c966c

Couple lines stand out

```Error: Error restarting the cluster: Error response from daemon: driver failed programming external connectivity on endpoint rp-node-1 (77e690e2d23268aed897727feaa2caa7837f7c60d531150ed7f87fe352

[2021-09-23 19:10] twmb opened #2419 "sasl: user creation succeeds even if enable_sasl is not true"
In redpanda, the admin API allows for creating SASL users even if enable_sasl is not true. When a client then goes to use this user, redpanda will reply with `INVALID_SASL_STATE`.

The admin handler should not allow users to be created if SASL is not enabled, because doing so mistakenly gives the impression that the user is fine to use.

[2021-09-23 19:10] jcsp commented on #2321
It was CreatePartitionsTest (https://github.com/vectorizedio/redpanda/issues/2321) prior to 691a16ccc where we made it use fewer handles.  The test was passing reliably on my workstation, but running out of file handles sometimes in CI, so I figured the limit in CI was lower.

I wondered that too, but I don't think so -- the compose cluster is set up outside of that runner, and it was in those com

[2021-09-23 19:53] jcsp commented on #2412
Just realized we actually don't run any of the librdkafka tests in CI, they're excluded in `test_suite_quick.yml`.

Most of them do actually pass, but some are very sensitive, e.g. test 001 requires that creating and deleting a topic takes under a second.  I think a bunch of them might also be failing because the ducktape wrapper doesn't appear to ensure that the redpanda cluster is available afte

[2021-09-23 19:56] parkerjm commented on #2419
Instead of preventing the user from creating SASL users, maybe a warning is sufficient.

[2021-09-23 20:00] #2404 closed

[2021-09-23 21:12] dotnwat opened #2421 "Topic deletion does not properly clean-up partitions"
* created a topic with compaction and 512 partitions replication 3
* wrote about a TB into it
* deleted topic
* grafana dashbaord still reported this partitions

file system seems to have also not been cleaned up properly

[code]

[2021-09-23 22:12] rkruze opened #2423 "Provide a compaction strategy for segment files that get upload by hitting cloud_storage_segment_max_upload_interval_sec timeout"
With the introduction of https://github.com/vectorizedio/redpanda/pull/2182 there is the possibility that many small files may be uploaded to the object store when they hit the timeout defined by cloud_storage_segment_max_upload_interval_sec. This could create many small files if this time limit is low, like 30 seconds. There should be a process that runs in the background to compact these smaller

[2021-09-23 22:14] twmb opened #2424 "Failure in `test_recreated_topic_does_not_lose_data`"
https://buildkite.com/vectorized/redpanda/builds/2538#cf83539e-ccef-480c-acc2-7b6c1cb50d78

[code]

[2021-09-23 22:15] BenPope opened #2425 "kafka/server: Look at map_topic_error_code"
https://github.com/vectorizedio/redpanda/pull/2422 Introduced specific handling for all `cluster::errc`, but only changed the mapping for `cluster::errc::no_leader_controller`.

The [other codes](https://github.com/vectorizedio/redpanda/pull/2422/commits/c70a31dee5ed181a5590fb80644a417dc62aef5c) should be considered.

[2021-09-23 22:18] dotnwat commented on #2419
Checking for `enable_sasl` in the admin interface is reasonable. I wonder if there anything holding us back from implementing `AlterUserScramCredentials`, and how it behaves when no security mechanism is enabled.

[2021-09-23 22:21] dotnwat commented on #2412
this was probably the very first test i wrote in ducktape and since then a lot has changed. @NyaliaLui did you look at this too at one point?

[2021-09-23 22:43] NyaliaLui commented on #2412
I was re-evaluating which tests could be enabled but then my priorities switched to Kafka streams. I can get back to this eventually. We, however, have not had many issues with librdkafka (or any of the clients built on-top of librdkafka) so is this issue high priority?

[2021-09-23 23:31] senior7515 commented on #2412
@NyaliaLui getting the kafka-streams tests is probably higher priority. I think also @rystsov can enable the transactions since he'll have to debug it at some point.

[2021-09-24 01:31] twmb commented on #2406
Today, I _think_ rebased on dev,
[code]

[2021-09-24 08:57] jcsp commented on #2424
This is a failure to properly close a stream somewhere:
`test_kafka_server_fixture_rpunit: /vectorized/include/seastar/core/iostream.hh:383: seastar::output_stream<char>::~output_stream() [CharType = char]: Assertion `!_in_batch && "Was this stream properly closed?"' failed.`

[2021-09-24 09:34] jcsp commented on #2424
I'm inclined not to disable this test yet -- that could be a generic shutdown issue that could occur in any test.  It's a real bug, but not necessarily specific to this test.

[2021-09-24 09:42] jcsp commented on #2153
So I hacked in a file listing of vbuild in the PR, and indeed the `v_deps_build` directory is empty in the CI environment

[2021-09-24 09:57] jcsp commented on #2321
```INFO  2021-09-24 09:19:53,989 [shard 0] redpanda::main - application.cc:149 - File handle limit: 1024/131072```

So we're getting our 131072 hard limit, but somewhere along the line the soft limit is going all the way down to 1024.

I hit this again while re-enabling DescribeTopicsTest, which just creates and describes 100 topics with 1-20 partitions each, thereby hitting the low 1024 cap.

[2021-09-24 11:04] jcsp commented on #2406
Thanks for spotting that @twmb , the test was indeed still enabled, it turns out the ignore decorator is twitchy about being called with no arguments (https://github.com/vectorizedio/redpanda/pull/2427)

[2021-09-24 11:10] jcsp commented on #2142
Related:  https://github.com/vectorizedio/redpanda/issues/2388 is a failure on the same test, but looks to be a different failure mode.

@mmaslankaprv when you say this is a false positive, do you mean the test should be doing something different?  The default poll interval threshold in kafka client is 5 mins (I'm not aware of the test modifying it) so it doesn't seem that likely that this was jus

[2021-09-24 12:17] jcsp commented on #2153
Needed a vtools change to preserve the addr2lines tool from the build phase -- can finish the PR for this one once that is merged https://github.com/vectorizedio/vtools/pull/268

[2021-09-24 13:36] jcsp opened #2429 "Failure in `k8s-operator` `TestAPIs`"
This appears to be something different to #2383 -- some tests are passing, but one fails

https://buildkite.com/vectorized/redpanda/builds/2576#fcf2cf92-acd9-44dd-a281-a1c6dcd41bf2l

First failure:
[code]

[2021-09-24 14:52] jcsp opened #2430 "Unclean shutdown: failure in `partition_allocator_tests`"
https://buildkite.com/vectorized/vtools/builds/311#cd9d7700-36a2-46cd-bf17-417aa1052332/6-4970

[code]

This was on a PR that didn't change any C++ code, but did set `-fprofile-instr-generate` for the compile, which might be relevant to reproducing.  I'm opening this as a `ci-failure` because I'd see another failure around the same point from another branch (comment below).

[2021-09-24 14:58] jcsp commented on #2430
Here's another failure which appears to be a LeakSanitizer issue on the same test (although the test itself claimed to have passed).

https://buildkite.com/vectorized/redpanda/builds/2574#dc789341-a41d-4cd5-822c-4d892989fd27

The logs for these tests aren't always great at indicating exactly which test had the issue, so this needs a deeper dig into logs.

[2021-09-26 01:10] dotnwat commented on #2321
No idea if this is relevant, but I was just debugging open file limit on my ubuntu desktop and nothing worked. I finally ran into this SO post https://superuser.com/questions/1200539/cannot-increase-open-file-limit-past-4096-ubuntu about needing to also change it for the systemd user. This applies in my case to the graphical login shell but I wonder if it also might apply to whatever context is be

[2021-09-26 14:02] rauanmayemir commented on #2183
I've added `rpk.additional_start_flags: "--default-log-level=debug"` to operator CR's `additionalConfiguration` section and fortunately it worked, but I still don't see anything meaningful in the logs. Upon reviewing the `redpanda.conf`, all the `cloud_storage_*` settings looked correct so there's no problem there either.

But. `Connection timeout` seems suspicious as it's not realistic. It's just

[2021-09-26 14:28] rauanmayemir commented on #2183
Came back to confirm that's the main reason. Also, turns out yandex cloud does support subdomains, just no tls in that case. So here's a working config if someone's not bothered by the lack of TLS for archival transport just to get by:

[code]

[2021-09-27 00:15] senior7515 commented on #2183
@rauanmayemir  - AWESOME find! thank you!

we're working on a big refactoring of the archival to be released in a few weeks. But we should schedule this fix after. cc @dswang

[2021-09-27 08:26] alenkacz commented on #2381
so I looked a bit into this from what I understand so far - the kind cluster runs within docker and uses journald for log collection so it in the end takes container logs from /var/log/containers. But I tested today that when you start a pod within kind and then delete it, the item from /var/log/containers also get deleted. So basically we get logs only from tests that run last and were not delete

[2021-09-27 08:43] jcsp commented on #2246
A more recent failure of node_fuzzy_operations on tip of dev:
https://buildkite.com/vectorized/redpanda/builds/2617#47c538e8-72c3-442b-97be-d8a861f98c51

[2021-09-27 08:49] jcsp opened #2438 "Failure in `test_archival_service_rpunit`"
https://buildkite.com/vectorized/redpanda/builds/2617#141287a2-6e9e-4b4f-bad6-8ed2c4d00393

Appears to be an "Exceptional future ignored" within the `test_upload_segments_with_overlap` case.

[code]

[2021-09-27 08:54] jcsp opened #2439 "`k8s-helm` test timed out with no logs"
https://buildkite.com/vectorized/redpanda/builds/2617#0f0ce77b-dd69-4e0b-8fdc-b047979b2a37

The last lines of console output show the test being entered.

[code]

Buildkite timed out the job after 30 minutes and sent the cancellation signal.

The last two successful runs of this job took about 12 minutes each, so I don't think the timeout is the issue -- something in the test hung.

There were no

[2021-09-27 13:49] jcsp commented on #2438
Another example:
https://buildkite.com/vectorized/redpanda/builds/2597#13364aaa-8a92-4045-9895-cf51b6aad8b0

[2021-09-27 18:32] rystsov opened #2440 "Log when txn operations take a lot of time to complete"
Log when transactional operations take more time than expected to complete e.g. longer than one second and make this value configurable.

JIRA Link: [CORE-743](https://redpandadata.atlassian.net/browse/CORE-743)

[CORE-743]: https://redpandadata.atlassian.net/browse/CORE-743?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-09-27 19:43] #2307 closed

[2021-09-27 20:03] ivotron commented on #2321
i'll check again later today on a manually-booted agent. i think it might be related to the fact that the container runs with a `redpanda` user inside the container

[2021-09-27 23:40] dotnwat commented on #2321
Merged https://github.com/vectorizedio/redpanda/pull/2360 let's readjust those default sizes once we figure out this nofile limitation

[2021-09-28 01:49] dotnwat commented on #2430
@NyaliaLui did you add `-fprofile-instr-generate` as part of the work on coverage? Not that it is incorrect, but I'm wondering if you happened to have saw any instability?

[2021-09-28 01:50] ivotron opened #2444 "Failure in `raft_availability_test.RaftAvailabilityTest.test_one_node_down`"
[code]

ref: https://buildkite.com/vectorized/redpanda/builds/2639#dc1d3bda-f00d-43ff-8f00-abdf7ad42e58

[2021-09-28 02:42] #2318 closed

[2021-09-28 02:45] dotnwat commented on #2153
vectorizedio/vtools#268 merged

[2021-09-28 04:39] dotnwat commented on #2377
+1 to hiding but allowing. once in a while it could come in handy, and its not always clear we are going to know which ones.

[2021-09-28 04:52] dotnwat opened #2447 "Package debugging tools"
It would be useful if we packaged some of our debugging tools so that they were available on a normal redpanda installation. For example this: https://github.com/vectorizedio/redpanda/pull/2431. As far as the python tools go, they don't really even need to be packaged properly (but that'd be nice) just merely in a predictable location is useful.

[2021-09-28 06:21] senior7515 commented on #2447
I'm not sure this is a good product direction.

The point of doing `rpk plugins` was exactly to solve this problem. Plugins can be pushed to the rpk plugin registry, installed via `rpk plugin install` They, however need to be written in Go. is a shame we wrote that in python given that we already have a ton of infrastructure that @twmb already wrote with build publishing, etc.

Moving this to a di

[2021-09-28 06:21] #2447 closed

[2021-09-28 06:28] senior7515 commented on #2377
I agree. We should still document them, and say unsupported w/out vectorized enterprise support as there is no way we can support open source users w/ N variants of the install.

[2021-09-28 08:15] erszcz opened #2453 "`rebalance_timeout_ms` defaults to -1"
https://erszcz.medium.com/ee4a2091255a describes an interop issue between Redpanda and Elixir Kaffe / Erlang Brod client libs. @senior7515 [pointed out](https://github.com/erszcz/blog/commit/2400658f191a589595921f64f6cd8d1a468106af#commitcomment-57035510) it might be worth tracking here if the default value of `rebalance_timeout_ms` is changed from -1 to avoid such issues in case of less-than-perf

[2021-09-28 08:54] jcsp commented on #2386
The startup issues haven't been seen since then.

This morning I've seen another case of a stop issue here:
[code]

At time of writing the job has been running for 2h55m, presumably most of that time spent stuck at this point.

Interesting that the problematic container is one of the kuttl ones.

[2021-09-28 09:50] jcsp commented on #1899
Confirmed this is failing intermittently on `test-staging` (branch where disabled tests are re-enabled).

Here's a recent failure:
https://buildkite.com/vectorized/redpanda/builds/2598#a4f24c16-16fb-446f-a404-8cefcf8f528e

[2021-09-28 09:50] jcsp commented on #1957
Closing in favor of #1899 to simplify tracking -- both failures in same test, and the other one is definitely still reproducing.

[2021-09-28 09:50] #1957 closed

[2021-09-28 09:52] jcsp commented on #1977
Confirmed this failure is still reproducible on `test-staging` where the test  is reenabled.  9/39 runs of this test failed in the last 96 hours.

Here's an example of a recent failure:
https://buildkite.com/vectorized/redpanda/builds/2653#34ebff00-38cc-4947-9819-1e7fc14d06bf

[2021-09-28 09:54] jcsp commented on #2388
This is hard to reproduce.  Has not failed in several days of nightly test-staging runs.  The original failure still looks like an authentic issue.

[2021-09-28 10:24] jcsp opened #2455 "Failure in `CompactionRecoveryTest.test_index_recovery`"
This should be easy to diagnose: it always fails.

This test is disabled in `dev` since b58ee383a (Feb 2021)

[2021-09-28 10:25] jcsp commented on #2455
Example failure from test-staging: https://buildkite.com/vectorized/redpanda/builds/2654#d3f523cf-23f6-4c70-be6c-1b25cd9d331c

[code]

[2021-09-28 10:40] VadimPlh opened #2457 "[coproc] run wasm ducktape tests in CI"

[2021-09-28 10:41] VadimPlh commented on #2457
https://github.com/vectorizedio/redpanda/pull/2391

[2021-09-28 10:50] jcsp commented on #2153
Turns out the addr2line script isn't standalone: pending https://github.com/vectorizedio/vtools/pull/271 to get this finally working.

[2021-09-28 12:06] LenaAn opened #2459 "shadow-indexing: Use kvstore to store access time for archival cache files"
Currently archival cache doen't update access time when cache item is returned. We need to update this timestamp every time cache item is returned. One option is to store this updated timestamps in kvstore. In this case one should use hash values of file names to be careful about memory usage in kvstore.

[2021-09-28 12:12] NyaliaLui commented on #2430
Yes I added `-fprofile-instr-generate` for code coverage. So far all the ducktape tests pass and all but two unit tests pass. One in coproc and the other is register_node in partition_allocator. I checked with team members and it seemed like those fails are known and not due to the extra flags.

[2021-09-28 12:27] NyaliaLui commented on #132
Closing this since many changes have been made to the metadata layer since this issue was created.

[2021-09-28 12:27] #132 closed

[2021-09-28 12:31] NyaliaLui commented on #395
Closing this since it seems like the issue as resolved.

[2021-09-28 12:31] #395 closed

[2021-09-28 12:33] NyaliaLui commented on #1648
Related #2412

[2021-09-28 12:34] NyaliaLui commented on #1745
Closing for now since I'm tracking compatibility in the linked meta-issue.

[2021-09-28 12:34] #1745 closed

[2021-09-28 12:41] jcsp opened #2460 "Failure in `prefix_truncate_recovery_test`"
This test has been silently not running.

[code]

It is trying to import from `storage` (by which it means tools/storage.py in the redpanda repo) but that isn't in the python path when tests run.

One straightforward fix would be to move that storage module into the tests/clients or tests/services dir (and renaming to avoid the existing services/storage.py).  Depends if we want it to remain as a s

[2021-09-28 12:58] jcsp commented on #2460
One can do this vtools change to expose the tools module:
[code]

But then we move on to
[code]

@graphcareful I think you touched this import path most recently, do you have any context on what used to install crc32c?

[2021-09-28 13:32] jcsp opened #2461 ""Illegal reflective access" log message in `CompactedTopicVerifierTest.test_verify_compacted_topics`"
This test is passing, but logging a rather scary looking line right before it finishes:

[code]

It needs investigation to see if the test is valid -- should we be failing?

[2021-09-28 13:38] NyaliaLui commented on #1648
Closing because after several conversation with the engineers that created the disabled tests, they all still had pending updates or used too much data (e.g., archival_upload_test) and shouldn't be in CI. I separated all the tests into shortcut (formerly clubhouse) tickets and assigned the relevant people to them.

[2021-09-28 13:38] #1648 closed

[2021-09-28 14:29] rasmushaglund commented on #459
I'm experiencing the same problem, `docker system prune --all --force --volumes` did not help for me. I've tried several version between `release-20.11.1` and `latest` but all give the same error. How can I help fixing this issue?

I'm running `docker run -ti -p 9092:9092 vectorized/redpanda:latest`.

[2021-09-28 14:47] twmb opened #2463 "admin api: expose partition leader in /topic/partition and /topic"
Until #1265 is addressed, rpk either has to know the leader of a topic / partition for some requests, or rpk must broadcast the request to all brokers. We currently do the latter, and it's less than ideal. If a user does not have all admin brokers specified in their yaml file or in flags, rpk may not be able to issue the request to the broker that needs to receive it.

rpk could discover the leade

[2021-09-28 15:54] jcsp commented on #2460
Having worked around the import issues, this test turns out to also be unstable, two failures here:
https://buildkite.com/vectorized/vtools/builds/320#a27b73f4-d9f5-4ec3-964c-87831b0abf04

[2021-09-28 17:45] #2300 closed

[2021-09-28 19:01] Lazin opened #2467 "serde: Serialization of strong types"
It looks like `serde::write` has no issue serializing our strong types (instances of `named<>` template). This line actually compiles and works as expected:

[code]

But the deserialization doesn't work the same way.  This line wouldn't compile:

[code]

the fix is obvious

[code]

Is it supposed to be that way or it's a lucky coincidence that the write works with `named<>` types?

[2021-09-28 19:02] Lazin commented on #2467
ping @felixguendling

[2021-09-28 20:49] jcsp commented on #2374
(Covered this in Slack but updating ticket for completeness) Re. trogdor, it may be a useful thing in its own right, but I think it's quite a bit more heavyweight than what I'd like to put in place to run by default across almost all our tests -- want to do a lightweight single process thing that drives thousands of producers/consumers cheaply enough to make it the default across our tests.

I als

[2021-09-28 21:59] ivotron commented on #2153
merged  vectorizedio/vtools#271

[2021-09-28 22:46] felixguendling commented on #2467
Hey, somehow I don't understand what exactly the problem is. Sorry.

I tried serializing named types (like `model::ns` like you): #2470
But I don't get an error with `read_nested`.

What's different to your approach? I tried it simply with just serializing the data type with `serde::read` and also serializing with `serde::read_nested` in a custom member function. Both seem to work fine.

[2021-09-29 04:54] senior7515 commented on #1836
That's a really good point with hitting the latency wall. Let's make sure we add you to the reviewers of the PR. Good point!!!

[2021-09-29 05:06] ivotron commented on #459
hey @rasmushaglund can you please confirm you're using the latest version of redpanda by using the specific `v21.9.2` tag?

the following should show `v21.9.2 (rev 9b21083)`

[code]

[2021-09-29 05:55] ivotron commented on #2406
this has reappeared in https://buildkite.com/vectorized/redpanda/builds/2706#0bfa0f0f-86a4-473f-a3eb-bea8d0699aa6 . should we reopen this or open a new issue?

[2021-09-29 06:00] #2393 closed

[2021-09-29 07:37] rasmushaglund commented on #459
Yeah, I also tried the latest version.

I managed to get it working by telling docker to only use one specific cpu:
`docker run --cpuset-cpus 0 -ti -p 9092:9092 vectorized/redpanda:v21.9.2`

I use redpanda through Quarkus, and they solved it by adding the `--smp 1` flag: `https://github.com/quarkusio/quarkus/blob/e5eb6ac7102a19ca661c318601d08e0444bec8f4/extensions/kafka-client/deployment/src/main/

[2021-09-29 09:01] jcsp commented on #2460
Keeping this open because PR #2464 makes the test import cleanly, but it doesn't run reliably.

[2021-09-29 09:10] jcsp commented on #2388
Here's a fresh failure from test-staging:
https://buildkite.com/vectorized/redpanda/builds/2705#a32401c8-50c4-4f64-951a-86897f3c5ccf

[2021-09-29 09:13] jcsp commented on #2406
Thanks for reopening - here's another failure example from test-staging (https://buildkite.com/vectorized/redpanda/builds/2703#9e549b84-79ef-482a-8db9-4c38b68aa34a).

[2021-09-29 09:23] jcsp commented on #2386
Another stop hang here, also on kuttl/kind containers: https://buildkite.com/vectorized/redpanda/builds/2710

[2021-09-29 09:26] jcsp commented on #2246
Latest failure: https://buildkite.com/vectorized/redpanda/builds/2701#cd9a9576-42a1-4458-8853-c9f82ebe0d72

[2021-09-29 09:30] jcsp commented on #2246
Looking at that latest failure, it's a timeout waiting for a decom to complete, so could be same bug as #2388

[2021-09-29 09:41] jcsp commented on #2339
Here's another example of the same failure on the tip of dev last night:
https://buildkite.com/vectorized/redpanda/builds/2711#f8cce88b-b767-46c4-8630-2293ec249206
 

[2021-09-29 09:47] #1955 closed

[2021-09-29 10:36] jcsp commented on #2246
This looks like a partition movement bug.  In that failure (https://buildkite.com/vectorized/redpanda/builds/2701#cd9a9576-42a1-4458-8853-c9f82ebe0d72) the decom involves moving `kafka_internal/group/0` away from node 2 and onto node 1.  The leader is node 4.

Looking at node 1 & node 4's logs, it appears that the recovery is in a state where it's chasing an ever increasing max offset.  At the tim

[2021-09-29 10:48] BenPope commented on #2406
#2428 has worked, but it looks like `kafka-configs.sh` doesn't retry:
[code]

[2021-09-29 11:41] mmaslankaprv opened #2474 "Failure in `DescribeTopicsTest/test_describe_topics` - general isue"
The test failed since it tried to create the same topic twice:

[code]

[2021-09-29 14:18] jcsp opened #2478 "Recent offsets unreadable in recovery after compaction"
This is showing up as a semi-rare test failure when decommissioning nodes.  During decom we move all partitions away from a node, including the internal partitions.  The consumer group internal partitions use compaction, and it is on these partitions that we see recovery never completes, so partition movement never completes, so decommissioning never completes.

The tickets for the symptoms are:
-

[2021-09-29 14:19] jcsp commented on #2246
Created https://github.com/vectorizedio/redpanda/issues/2478 for what is believed to be the underlying bug.

[2021-09-29 14:19] jcsp commented on #2388
Created https://github.com/vectorizedio/redpanda/issues/2478 for what is believed to be the underlying bug.

[2021-09-29 14:48] #2474 closed

[2021-09-29 15:22] #2439 closed

[2021-09-29 15:30] ivotron commented on #2460
sorry, i didn't realize that the `fix #2464` in the PR message ended up closing this automatically 😅

[2021-09-29 16:16] Lazin commented on #2467
I have this PR #2434 which alters topic configuration. And it uses serde to encode new version of the struct. It works but when I switched from ss::sstring to model::ns and model::topic I had this error:

[code]

but it has nothing to do with serde since (it turns out) that model::topic is not an instance of `named<>`
closing this issue since it's working as expected, sorry for any trouble

[2021-09-29 16:16] #2467 closed

[2021-09-29 17:59] jcsp commented on #2402
Seen most recently here: https://buildkite.com/vectorized/redpanda/builds/2734#3784e860-d2a2-465a-9016-ec40511613a4

[2021-09-29 18:36] VadimPlh opened #2482 "[coproc] Unhandled 'error' event in nodejs"
[code]

Got this:
3 nodes cluster
Use 30 coprocs
inputs topic have 32 partitions
replication factor 3
30 input topics

[2021-09-29 18:38] VadimPlh commented on #2369
https://github.com/vectorizedio/redpanda/issues/2482

[2021-09-29 20:10] ivotron commented on #2382
this issue has reappeared: https://buildkite.com/vectorized/redpanda/builds/2732#604d436c-cb1b-4aa8-895a-a284939a10a3, though this time even with serial execution of k8s tests. Relabeling with ci-failure

[2021-09-29 20:12] ivotron opened #2484 "k8s-operator produce-consume failure"
ref: https://buildkite.com/vectorized/redpanda/builds/2732#604d436c-cb1b-4aa8-895a-a284939a10a3

[2021-09-30 03:38] ivotron opened #2487 "Failure in `scaling_up_test.ScalingUpTest.test_adding_nodes_to_cluster`"
ref: https://buildkite.com/vectorized/redpanda/builds/2639#c91fbffc-a463-4db7-aae7-291302ddc5da

[2021-09-30 08:28] mmaslankaprv commented on #2175
I think that we fixed all the sanitizer & UAF issues, the most recent one failed because of ignored failed future:
[code]

[2021-09-30 08:47] jcsp commented on #2444
Another example:
https://buildkite.com/vectorized/redpanda/builds/2639#dc1d3bda-f00d-43ff-8f00-abdf7ad42e58

[2021-09-30 08:52] jcsp opened #2490 "Multiple test failures validating consumer messsages"
I have not seen these before, and there were three last night in different tests.

[code]

Commit 18188be appears to have the issue, last night's runs (prior to seeing this issue) were on commit b20be47

There were three core changes that landed in that interval:
- #2437 from rystsov/persisted-id_allocator_stm
- #2475 from mmaslankaprv/ducktape-random-fix
- #2441 from BenPope/schema-registry-sanit

[2021-09-30 09:06] jcsp commented on #2175
Yes, I looked at two recent cases and they were both Exceptional future ignored inside of create_single_topic_test_at_current_broker

[2021-09-30 10:27] Lazin commented on #2402
Got it here https://buildkite.com/vectorized/redpanda/builds/2738#75d7924b-90a2-4ee7-8244-05ff134a74e7/1337-4710

[2021-09-30 11:23] mmaslankaprv commented on #2490
I've analyzed first test failure i.e. `ScalingUpTest.test_adding_nodes_to_cluster`. Consumer did not received last message sent to that partition by the producer:
[code]
Last message received by the consumer was returned before partition was moved from node `2` to node `3` in order to rebalance the cluster.

Consumer was  unable to consume the message from a partition since it received an error wh

[2021-09-30 11:29] mmaslankaprv commented on #2490
I can confirm that the second test ` NodeOperationFuzzyTest.test_node_opeartions` failed from exactly the same reason.

[2021-09-30 11:41] mmaslankaprv commented on #2490
The `TxVerifierTest.test_tx` is something different and needs a closer look from @rystsov

[2021-09-30 12:18] jcsp commented on #2175
Looks like there is at least one other issue here.  On a branch where I had autocreate_tests.cc commented out of the test binary build, I got a sanitizer failure in test_creating_partitions: https://buildkite.com/vectorized/redpanda/builds/2763#99b0172f-bff0-410f-8d89-119866215569

[2021-09-30 12:59] bmansheim commented on #1672
Here's another tool to try: https://github.com/elastic/crd-ref-docs

[2021-09-30 13:11] jcsp commented on #2444
I took at look at how this is failing:
- After the leader is stopped, the test expects the cluster to recover in a single election
- Usually that corresponds to an increment of 2 in the vote request count of another follower: it sees the new leader start a vote, approves it, and the new leader becomes the leader.
- In this log, the follower is rejecting a vote before accepting the next one, and th

[2021-09-30 14:10] jcsp commented on #2402
Unlucky day for this issue, here's another: https://buildkite.com/vectorized/redpanda/builds/2774#67a6f1c6-d86d-4afe-9601-db4ea72bdbc3

[2021-09-30 15:36] jcsp commented on #1970
Given that widely available (3.20) ctest doesn't even have machine readable reports from ctest, maybe we aren't getting a tonne of value from it and should just write our own piece of code that lists out the cases and invokes them one by one & spits out a json report

[2021-09-30 19:40] mark-rushakoff opened #2497 "Response of offset request inconsistent with Apache Kafka's response"
I have a program that collects the oldest and next offset for a set of partitions, and I have noticed that the response from Redpanda (tested both 21.8.2 and 21.9.2 inside Docker) differs from the response from Apache Kafka (2.8.0).

Here is a minimized Go program showing the behavior:

[code]

If I run this against a brand new instance of Redpanda, where I've written two messages and then leave t

[2021-09-30 23:30] senior7515 commented on #2497
@mark-rushakoff Thanks for this report. Looks like a bug.

@NyaliaLui  - we should add this test to our ducktape regression suite.

cc: @dotnwat + @mmaslankaprv + @dswang

[2021-09-30 23:33] senior7515 commented on #2497
@mark-rushakoff we're on it.

[2021-10-01 00:06] twmb commented on #2497
There's a bit going on here. The code isn't doing what you're expecting it's doing, and that block of code is using a very old version of ListOffsets that was deprecated in v0.10.1. Specifically, using more than 1 MaxNumOffsets was deprecated (that field was completely removed).

`req.AddBlock` in your final request for `sarama.OffsetNewest` is actually overwriting the `sarama.OffsetNewest` that y

[2021-10-01 03:57] #2416 closed

[2021-10-01 04:33] #2490 closed

[2021-10-01 09:06] jcsp opened #2501 "Failure in `PandaProxyTest.test_consumer_group_json_v2`"
Seen once at https://buildkite.com/vectorized/redpanda/builds/2804#e751318c-8069-4c58-9be6-b7b49fc60384

[code]

[2021-10-01 09:27] #2153 closed

[2021-10-01 12:32] jcsp commented on #2501
Test is getting success registering a consumer, and then 400 trying to read messages.
[code]

In the log I see the fetch making it down to the kafka layer, and no obvious errors there.  Unclear what's causing the 400.

[2021-10-01 12:37] rkruze commented on #194
I'm pretty sure this can be closed. Will reopen if an issue in the future.

[2021-10-01 12:37] #194 closed

[2021-10-01 12:45] mark-rushakoff commented on #2497
Thanks for the details @twmb. I'll update my client code to make two separate requests, and I'll defer to the Redpanda team on whether to close this issue.

Slightly off topic, I have found the official protocol docs at https://kafka.apache.org/0100/protocol.html#protocol_messages   a bit short on details of intended behavior. It was not clear to me that V0 of this message was actually deprecated

[2021-10-01 14:01] jcsp commented on #2402
Several of the recent failures are associated with hangs shutting down RpkToolTest.test_consume_oldest and RpkToolTest.test_produce (had to do a load of log scraping to get that result, "Tearing down..." lines without "Summary" lines following).

The teardown on RpkConsumer background service looks shaky.

[2021-10-01 14:14] jcsp commented on #2402
Also some timeouts where PartitionMovementTest.test_static never completes (doesn't make it as far as starting to tear down)

[2021-10-01 14:16] jcsp commented on #2386
This is a rare example of docker stop hanging on one of the redpanda test node containers:
https://buildkite.com/vectorized/redpanda/builds/2817#5278faeb-413f-4b52-8d28-017350d090af

[2021-10-01 15:27] jcsp opened #2504 "admin api: /v1/config returns invalid JSON"
The response body has an outer pair of `"` quotes that shouldn't be there.  There's not a test for this endpoint afaict, it needs one.

[2021-10-01 15:50] graphcareful opened #2505 "Wasm engine fails to handle bad coproc correctly"
When submitting javascript that wasn't built with `npm run build` the wasm engine crashes, instead of returning the correct error code to redpanda.

![image](https://user-images.githubusercontent.com/53920668/135650105-44d51614-5b75-45e7-9d7d-1d78f4e74119.png)

[2021-10-01 15:58] jcsp commented on #2418
Had this again today:
https://buildkite.com/vectorized/redpanda/builds/2820#c3a8be59-5b12-4e31-be2a-02e73a3abcd7

[2021-10-01 17:03] jcsp commented on #2175
Another variant here: sanitizer reports memory leaks
https://buildkite.com/vectorized/redpanda/builds/2825#21d82e06-9846-41a9-9584-0c2c86e9f525

[2021-10-01 18:21] BenPope commented on #2396
I can't reproduce with `v21.9.3-beta1`

[2021-10-01 18:21] #2396 closed

[2021-10-01 20:07] dotnwat commented on #2497
Hi @mark-rushakoff thanks for the report. please let us know if you have any issues after updating the client.

Not that it has significantly more detail, but I'd recommend using the URL https://kafka.apache.org/protocol.html. Using Google I often hit the one with `0100` in the URL that you posted, but it very old (e.g. there are now twice as many message types since the 0100 version).

Totally. T

[2021-10-01 22:28] rkruze opened #2506 "metrics: Add a metric which provides how many live nodes are currently in the cluster"
Currently, it is possible to get the uptime of each node in a cluster. However, it would be helpful to have a metric that provided the number of live nodes in the cluster from the view of each node.

JIRA Link: [CORE-745](https://redpandadata.atlassian.net/browse/CORE-745)

[CORE-745]: https://redpandadata.atlassian.net/browse/CORE-745?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUi

[2021-10-01 22:29] rkruze opened #2507 "metrics: Add a metric which provides the current status of a node in the cluster"
It is impossible to know if a node is in an active state or decommissioning state from the metrics. It would be helpful to have a metric that provides the current node status.

JIRA Link: [CORE-746](https://redpandadata.atlassian.net/browse/CORE-746)

[CORE-746]: https://redpandadata.atlassian.net/browse/CORE-746?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1

[2021-10-01 22:31] ivotron opened #2508 "Fix & enable removed k8s operator tests"
Tests disabled in #2509 :
  * redpanda-schema-registry
  * update-conf-image
  * update-image-and-node-port
  * update-image-tls-client-auth
  * update-image-tls
  * update

these all started failing as a consequence of creating the `kind` cluster explicitly, so it's likely that the solution will make them all run fine again. If this is not the case, then individual issues should be opened for eac

[2021-10-01 22:43] rkruze opened #2511 "metrics: provide a metric which shows total capacity available on a given node"
Currently, we provide a metric `vectorized_storage_log_partition_size`, which provides the size taken up by a given partition on a host. However, through the metrics of Redpanda, you cannot know how much storage is available.

JIRA Link: [CORE-747](https://redpandadata.atlassian.net/browse/CORE-747)

[CORE-747]: https://redpandadata.atlassian.net/browse/CORE-747?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmN

[2021-10-01 22:48] ivotron commented on #2383
similar issue manifesting in helm chart tests: https://buildkite.com/vectorized/redpanda/builds/2839#d3f40f8d-694c-4f7a-b423-1c602dfd9a19. hopefully the reference to a different tag for the `kindest/node` image being introduced in #2509 will also fix these. if not, then we'll need to open a separate new issue for it

[2021-10-01 22:56] graphcareful opened #2512 "metrics: Provide metrics for materialized topics"
Currently there is little help when debugging whats going on with wasm. Adding promethius metrics for wasm will be the first step to solving this issue. Ideally we would like to know the total wasm throughput (ingestion and egress) per shard at a minimum.

[2021-10-01 23:57] #1899 closed

[2021-10-02 00:23] senior7515 commented on #2497
@mark-rushakoff should we close and turn into a discussion now or is there still an issue

[2021-10-02 01:37] dotnwat opened #2514 "test: 12/14 WASM ducktape tests fail"
All of the CI tests passed for https://github.com/vectorizedio/redpanda/pull/2391 but when it merged upstream we got the following failure:

* https://buildkite.com/vectorized/redpanda/builds/2838#051cdcf3-f07a-45de-be55-eff65168ff97

[code]

[2021-10-02 01:37] dotnwat commented on #2514
Looks new I searched for `verify_materialized_topics_test` in GH issues

[2021-10-02 01:40] dotnwat commented on #2514
Here is another failure that happened later in the day:

* https://buildkite.com/vectorized/redpanda/builds/2843#9db623de-cb76-4c82-874f-8daae558e82f

[code]

[2021-10-02 01:50] mark-rushakoff commented on #2497
Thanks @dotnwat for the pointer to the current docs; they're still much better than the outdated version I was using.

@senior7515 I'm okay if you close the issue -- I have successfully updated my client code to make two separate calls, and Redpanda returns results consistent with Apache Kafka now (of course).

[2021-10-02 02:02] senior7515 commented on #2497
@mark-rushakoff right on. Good to hear. Let us know what you end up building with redpanda

[2021-10-02 02:02] #2497 closed

[2021-10-02 14:29] dendisuhubdy opened #2515 "seastar - Could not setup Async I/O: Resource temporarily unavailable. The most common cause is not"
[code]

does anyone happen to get the same error at start? on a local development machine

[2021-10-02 17:40] #2505 closed

[2021-10-02 19:00] senior7515 commented on #2515
Use journalctl to see the full log. It gives you a solution on the log line itself. You need to increase aio resources. If you use rpk tune it should fix it. How did you run this? Our deb and rpm packages should have that settings

[2021-10-03 12:44] RafalKorepta commented on #2484
Because kuttl doesn't have `--skip-delete` flag set up the produce-consume resources are deleted before kuttl gathers all logs.

I would be good to:
1. Enable tests on GCP build
1. Move `produce-consume` test to new kuttl test suite and add `--skip-delete` flag

[2021-10-03 15:58] #2383 closed

[2021-10-03 16:02] jcsp commented on #2484
Commit 1484a97 is the one to revert to get the test back when working on it.

[2021-10-03 16:02] jcsp commented on #2508
Commit d1c6f07 is the one to revert to get these tests back when working on fixing.

[2021-10-03 19:06] senior7515 commented on #2512
Can @VadimPlh help here ? Seems pretty straight forward

[2021-10-03 21:09] senior7515 commented on #2515
do this

[code]

[2021-10-03 21:09] #2515 closed

[2021-10-04 06:18] RafalKorepta commented on #2484
I'm doing this right now.

[2021-10-04 07:48] RafalKorepta opened #2519 "test: CI failure in tx_verifier_test.TxVerifierTest.test_tx"
All of a sudden one of transaction test failed.

Maybe it relates to https://github.com/vectorizedio/redpanda/issues/2261

https://buildkite.com/vectorized/redpanda/builds/2885#6185071e-c530-4d7a-b142-7093b75ffd91/3701-3702

[code]

[2021-10-04 08:11] jcsp commented on #1941
Considering blocking this on https://github.com/vectorizedio/redpanda/issues/2376 -- any tests that hit the disk will become significantly less deterministic when they're all competing for the same relatively slow drive in parallel.

[2021-10-04 09:34] jcsp commented on #2514
For reference when fixing this, here are some failing jobs from the test-staging branch where the test remains enabled:
[code]

[2021-10-04 10:33] jcsp commented on #2339
Latest occurrence:
https://buildkite.com/vectorized/redpanda/builds/2879#f33e5688-a853-4176-aacd-79e7ff3dccd5

@graphcareful what's next with this?  Is this something that can be figured out by inspection of the tests, or does it need more logging added in the tests so that the failures are more informative?

[2021-10-04 12:29] Lazin commented on #2459
There're several problems in eviction that have to be solved.

- We can track access time individually on every shard but it will require eviction process to be started on every shard or we will need to pass this access times between the shards.
- We can send the access times to shard 0 and the shard 0 will do the eviction.
- Should access times be persistent or not? We can have access times in me

[2021-10-04 16:03] graphcareful commented on #2339
As a follow up reply, a simple workaround temporary solution could just be to choose a random port at test startup

[2021-10-04 16:05] graphcareful commented on #2514
I think there were two things that happened. Firstly Noahs observation of a single failing wasm test was accurate. However a patch to change `rpk wasm` went in and now all ducktape tests fail when attempting to execute the `rpk wasm` command. I took a look at this i can reproduce locally, we will have to devote some time to fixing it. Fix probably isn't that hard

[2021-10-04 16:10] graphcareful commented on #1798
https://github.com/vectorizedio/redpanda/pull/2485

[2021-10-04 16:14] graphcareful commented on #1598
Closing, resolved with this PR https://github.com/vectorizedio/redpanda/pull/1607

[2021-10-04 16:14] #1598 closed

[2021-10-04 16:19] twmb commented on #2497
Another option is to look at some of the documentation [here](https://github.com/twmb/franz-go/blob/master/generate/definitions/02_list_offsets). I have a bit more documentation for some things than the Kafka protocol itself does. The KIPs sometimes contain more information, sometimes they're a bit sparse.

[2021-10-04 16:20] graphcareful commented on #2339
I think I just realized the issue actually. I remember that ducktape tests build wasm and therefore run `npm run test` it could be the case that this occurs as CI is building the source in `src/js` which would also run the same test suite and startup this server on the same port.

[2021-10-04 16:21] #891 closed

[2021-10-04 16:24] jcsp commented on #2339
Hmm, I don't see anything running in parallel in the log -- the actual execution of ducktape tests happens after build-js.

[2021-10-04 16:56] graphcareful commented on #2339
What about the building or setup portion of ducktape tests? I think when the `wasm-build` step of `rp-run-ducktape-tests` occurs

[2021-10-04 16:57] graphcareful commented on #2164
Branch has turned into a PR, https://github.com/vectorizedio/redpanda/pull/2485. This will prevent any crashes although explicit support for deletion of materialized topics will occur in a subsequent PR to 2485.

[2021-10-04 17:01] graphcareful commented on #1615
Vadims PR https://github.com/vectorizedio/redpanda/pull/2391 fixes this issue, by deprecating the kafka-python producer and using the native one

[2021-10-04 17:01] #1615 closed

[2021-10-04 17:33] twmb commented on #2012
This should be addressed, because `rpk cluster info` has been converted to franz-go. If it isn't addressed, please reopen!

[2021-10-04 17:33] #2012 closed

[2021-10-04 18:11] jcsp commented on #2339
It should be logging all the tasks as they start -- I was just grepping for instances of the mocha command line & build-js tasks

[2021-10-04 19:33] ivotron commented on #2514
another instance of this: https://buildkite.com/vectorized/redpanda/builds/2840#35a3d024-92e9-440d-9c58-76928d65145e

[2021-10-04 19:47] graphcareful commented on #2514
Strange, I just tested this locally not. No issues at all....

[2021-10-04 19:48] graphcareful commented on #2514
Setting up a personal branch and going to run it on CI now to see if theres any differences

[2021-10-04 20:04] graphcareful commented on #2457
#2391 has been merged, closing issue

[2021-10-04 20:04] #2457 closed

[2021-10-04 23:42] ivotron opened #2526 "Failure `ConfigurationUpdateTest.test_updating_address_after_data_deletion`"
ref: https://buildkite.com/vectorized/redpanda/builds/2906#a6ea374e-21df-4c5e-9426-5da6ca0c63b4

[2021-10-04 23:44] tiantianz opened #2527 "npm error when using "rpk wasm generate""
![image](https://user-images.githubusercontent.com/19333239/135938834-0dbf4814-e5de-4a85-927a-85a7781edc22.png)

[2021-10-04 23:44] twmb commented on #1663
This should be resolved, topic list has been converted to franz-go as of v21.10.1

[2021-10-04 23:44] #1663 closed

[2021-10-04 23:47] twmb opened #2528 "ListGroups should return only groups a broker is leader of, not all groups the broker knows of"
Today, listing groups to any broker returns all groups the broker knows of. It should instead return only groups that the broker is a leader of.

Clients are expected to issue ListGroups to all brokers if they want to discover all groups. Doing so today would result in duplicate groups in the aggregated response.

[2021-10-05 00:07] twmb commented on #322
This has been completed.

[2021-10-05 00:07] #322 closed

[2021-10-05 00:16] twmb commented on #1067
This will be automatically done when some of my currently in-progress refactoring is complete.

[2021-10-05 00:16] twmb commented on #1227
This will be easy to support once redpanda fully supports the alter partition assignments API.

[2021-10-05 00:19] twmb commented on #1502
The next release of rpk will contain _only_ incremental topic config altering. `rpk topic set-config` has been renamed to `rpk topic alter-config`.

ref: https://github.com/vectorizedio/redpanda/pull/2274

[2021-10-05 00:19] #1502 closed

[2021-10-05 00:23] twmb commented on #1431
v21.10.1 addresses this by adding a new RESOURCE-PATTERN-TYPE column, per this PR https://github.com/vectorizedio/redpanda/pull/2401

ex:
[code]

[2021-10-05 00:23] #1431 closed

[2021-10-05 00:24] twmb commented on #1639
This was addressed in https://github.com/vectorizedio/redpanda/pull/2018

[code]

[2021-10-05 00:24] #1639 closed

[2021-10-05 01:47] dotnwat commented on #2459
based on the observations that:

1. access time can be tracked accurately in-memory
2. if access time is not persisted, eviction policy loses state, but correctness is not affected
3. access time can be very coarse grained

I think it would be reasonable to roll a custom solution: track access time accurately in memory, and checkpoint this state into a file every N minutes. on boot-up hydrate the

[2021-10-05 01:51] dotnwat commented on #2514
Thanks for looking at this @graphcareful

[2021-10-05 02:33] dotnwat commented on #2460
it looks to me like the the test wasn't fully completed in that it doesn't perform the byte-for-byte comparison. the parsing error, though, shouldn't occur. it's entirely possible that its evolved and not been kept in sync with this test which unknowingly was not running :/

this is something i can look at and can probably resolve. i'll post an update here.

[2021-10-05 12:23] jcsp commented on #2339
Leaving this open for one week to check if we see any reoccurrences of the issue.

[2021-10-05 12:25] VadimPlh commented on #2369
## Testing v2
* COPROC_COUNT=60
* RECORD_SIZE=500
* PARTITIONS=20
* MESSAGES_COUNT=20000000

~50 minutes work
### input
[code]

### output
[code]

[2021-10-05 12:40] jcsp commented on #2339
PandaResults now has code to pick out failures in build-js (https://github.com/jcsp/PandaResults/commit/3252ca320ca02aa934b14e996f456e77660d2917).

I have a calendar entry to come back and run that on 7 days of `dev` runs one week from today.

[2021-10-05 13:43] khallaghi opened #2532 "Can not run a redpanda cluster because of configuration_invariants_changed"
I installed Redpanda on a ubuntu 20.04 both a root node and two other node
After successfully install one root node with id=0 and a worker node with id=1 I got to setup third node with id=2 but accidentally ran the same command I used on first worker node with id=1 after correcting my mistake and pass correct command which id sets correctly to 2 I've got this error on `journalctl` and Redpand didn

[2021-10-05 13:57] VadimPlh commented on #2369
In was mgenerate got error twice
[code]

[2021-10-05 14:21] VadimPlh commented on #2369
* COPROC_COUNT=60
* RECORD_SIZE=500
* PARTITIONS=20
* MESSAGES_COUNT=20000000

### input
[code]

### output
[code]

[2021-10-05 14:44] senior7515 commented on #2532
That means there was data written to disk with a node Id 2 but later you changed it to 1.

You have to delete the data directory.  Or give the node the existing node id of 2

that is a hard requirement for raft. You cannot change the identity of a node ever.

[2021-10-05 14:44] senior7515 commented on #2532
I’m also turning this into a discussion as is not an issue

[2021-10-05 14:45] #2532 closed

[2021-10-05 15:21] jcsp commented on #2514
Looking at the ducktape tarball to check this isn't something transient.  I think this is a case where a real issue is hiding behind some sketchy error handling.  Ref failure in https://buildkite.com/vectorized/redpanda/builds/2880#b0d7b946-5bfe-4873-860c-bcfba6c7d3e9

I noticed that WasmBuildTool._build_source isn't checking its subprocesses for errors, need a "check=True" to subprocess.run to ha

[2021-10-05 17:45] senior7515 commented on #2369
need.

1. Data cardinality - i.e.: 5TB
2. Need throughput - i.e: 1GB/s
3. Message size
4. Need latency graphs
5. Coproc registered topics
6. Coproc materialized topics (i.e.: how many child topics derived from parent as a variable)

[2021-10-05 18:00] graphcareful opened #2535 "wasm: Option to remove all child topics to delete request"
It is desired to have the ability for a client be able to remove all materialized topics for a given source topic.

[2021-10-06 01:23] simon0191 opened #2540 "rpk topic produce doesn't work with mTLS + public certs"
I was trying to produce to a Redpanda cluster with mTLS + public certs and I got a TLS error.
Producing works with `kcl` with the same configuration so it looks like a bug in rpk.

RPK logs:
[code]

Redpanda logs:
[code]

[2021-10-06 03:37] dotnwat commented on #2460
i can reproduce this one locally. its most likely that we are reading files from redpanda nodes while background compaction is manipulating them leading to corrupt copy being made.

[2021-10-06 13:46] simon0191 commented on #2540
@0x5d I'll send you credentials in DM. For reference, the commands I used below:
[code]

[2021-10-06 15:15] dswang commented on #2429
Assigning @dimitriscruz to take a look.

[2021-10-06 15:16] dswang commented on #2484
Thanks @RafalKorepta , assigning this to you.

[2021-10-06 16:09] jcsp opened #2546 "Redpanda advertises a partition leader before first election has happened"
Before the first election in a newly created ntp, kafka clients get metadata responses that include a non-null leader value.  This appears to always be set to the first node in the ntp's configuration's list of replicas.

This is maybe somewhere we're initializing the leader as the expected initial leader as an optimisation, but can actually slow down the first produce to the topic.
1. Client crea

[2021-10-06 16:53] #2385 closed

[2021-10-06 17:06] senior7515 opened #2547 "[redpanda] In Memory Acks"
- Feature Name: In Memory Acks
- Start Date: 2021-10-1
- Authors: @rystsov (prd by @senior7515)
- Issues: #1836

# Executive Summary

We would like to acknowledge the write before syncing to disk, even in the presence of `acks=all`.
Other Kafka-API implementations are subject to data loss by default unless configured for safety explicitly. Redpanda started with a diametrically opposed philosophy

[2021-10-06 17:20] jcsp opened #2550 "Maintain a persistent vector of node version/feature flags"
Anything we write to the raft0 log needs to be understood by all nodes.

During upgrades, we have to make sure that new-version redpandas don't write things that old-version redpandas won't understand.

Currently we can achieve that either by stopping then starting all nodes at same time, or by using config settings to disable features until everyone's upgraded.

The neater way to do this is to ha

[2021-10-06 18:45] dotnwat opened #2551 "redpanda: simplify config handling for archival / shadow indexing"
since `cloud_configs` goes out of scope immediately after this block, it would be a UAF bug for either `partition_recovery_manager` or `cloud_storage_api` to hold on to a reference to `cloud_configs`. therefore, why pass in a reference to the sharded service at all and not a copy of the config?

_Originally posted by @dotnwat in https://github.com/vectorizedio/redpanda/pull/1906#r723567483_

JIRA

[2021-10-06 18:47] dotnwat opened #2552 "storage: remove external linkage from header impl"
this looks like it does not need external linkage

_Originally posted by @dotnwat in https://github.com/vectorizedio/redpanda/pull/1906#r723584652_

[2021-10-06 19:37] jcsp commented on #2339
We have another failure on tip of dev.

https://buildkite.com/vectorized/redpanda/builds/2994#6dda2b01-01c7-4925-a9dc-f2dd4f7acc93

I notice that it's now reporting "10 failing" whereas in the other runs linked here it was always "12 failing" -- so the recent change perhaps impacted something?

[2021-10-06 19:38] twmb opened #2553 "failure in test_compact_term_rolled_recovery"
https://buildkite.com/vectorized/redpanda/builds/3001#8fc7cba2-5fe1-42db-a30b-43e415e99c95
release-clang-amd64

[code]

[2021-10-06 21:30] jcsp commented on #2553
Hang on, those other two failures linked above were in a different compaction-related test...

[2021-10-06 23:32] skyramp opened #2556 "rpk cluster offsets always reports identical offset/lag for different groups"
Looks like rpk cluster offsets reports same offset/lag info for different groups if each group is subscribed to same topic

[code]

[2021-10-06 23:55] dotnwat commented on #2547
We've discussed in the past a mode in which fsync is a configurable periodic event (e.g. fsync every 10 seconds) that allows a cluster to be tuned by bounding how old lost data might become. If memory acks are implemented in terms of a periodic fsync, then pure memory acks could be configured by choosing a sufficiently large timeout period.

[2021-10-07 00:05] dotnwat commented on #2078
@jcsp let's close. i was dumping bugs into GH issues without a lot of intentional organization only so i'd not forget it.

[2021-10-07 00:06] #2078 closed

[2021-10-07 02:51] senior7515 commented on #2547
that's a really good idea. My hunch is probably tails at the debounce window of 4ms? we maybe able to skip debouncing conextually

[2021-10-07 03:21] dotnwat opened #2557 "storage: non-fatal compiler error"
tested with debug clang

introduced by

[code]

it's probably a co-routine thing.

[code]

[2021-10-07 03:26] dotnwat opened #2558 "Failure in `CompactedTopicVerifierTest.test_verify_compacted_topics`"
* https://buildkite.com/vectorized/redpanda/builds/3002
* this appears to have started after merging #1906
* on debug build locally it fails approximately 1/15 runs.

UPDATE: cherry-picking f6ade60faf0711c5d1c35ac50440aac2f12405be with its ducktape changes as far back as f9d7d0067613b074d1a66ce7ee8b82b4a16dbecb and we still see the same issue. that means that he problem isn't in the topic recovery

[2021-10-07 04:59] dotnwat commented on #2557
Quick test shows that

[code]

seems to make the issue go away. should also close https://github.com/vectorizedio/redpanda/issues/2552 at the same time.

[2021-10-07 06:15] senior7515 commented on #1525
sounds good, feel free to close things like this you encounter. we should have an issue auto closer for say issues older than 1 year or smth or turn them into discussions

[2021-10-07 06:21] senior7515 commented on #2557
good find.

[2021-10-07 07:37] fubhy opened #2559 "Helm chart should allow for the ServiceMonitor to be installed without installing kube-prometheus-stack"
Currently, when installing the helm chart into a cluster that has already a version of prometheus (with the ServiceMonitor CRD) installed, you have to install the redpanda-operator chart without `monitoring.enabled` set to `false` in order to prevent the chart from also installing the kube-prometheus-stack dependency. However, that also disabled the ServiceMonitor resource from being deployed.

Is

[2021-10-07 08:36] jcsp opened #2560 "Failures in `TopicRecoveryTest`"
This from last night on dev:

Unstable test: TopicRecoveryTest.test_cascading_restore (1/12 runs failed)
  failure at 2021-10-07T07:39:06.505Z: AssertionError()
      in job https://buildkite.com/vectorized/redpanda/builds/3022#67bae056-2b42-4ef2-b190-e0bdb7467f85
Unstable test: TopicRecoveryTest.test_no_data (1/12 runs failed)
  failure at 2021-10-07T07:10:14.227Z: AssertionError()
      in job h

[2021-10-07 11:03] #2519 closed

[2021-10-07 13:39] NyaliaLui opened #2567 "Kafka Streams GlobalStores example fails with 3-node RP cluster"
In the Kafka Streams examples, there is this example that shows how to join data between KafkaStreams and a GlobalStore.

The example successfully runs with one redpanda node which matches the example use-case. However, the example fails with 3 redpanda nodes.

### See the following to reproduce
**Requires**: Follow the build steps for kafka-streams [here](https://github.com/confluentinc/kafka-str

[2021-10-07 16:12] jcsp opened #2568 "Failure in `test_availability_when_one_node_failed`"
Seen this exactly once while testing a PR:

https://buildkite.com/vectorized/redpanda/builds/3034#43a317bb-dd99-408e-9866-967c3eeefb68

[code]

@mmaslankaprv looks like a test you added recently?

[2021-10-07 16:20] Lazin opened #2569 "TopicRecoveryTest failure"
The test fails to recover any data. The only object available in object store is a topic_manifest.json file. No partition manifests or segments are present.

[code]

[code]

[2021-10-07 16:32] #2560 closed

[2021-10-07 16:33] jcsp commented on #2569
@Lazin is this something that looks like a likely quick fix?  If not we can disable the test for now.

[2021-10-07 17:01] twmb opened #2571 "failure in topic_recovery_test.TopicRecoveryTest.test_cascading_restore"
https://buildkite.com/vectorized/redpanda/builds/3054#7e7c2e58-8f81-4642-8ccc-8d58cfd77df7
release-clang-arm64

[code]

(the PR that had this failure is completely unrelated to the test failure)

[2021-10-07 17:02] twmb opened #2572 "topic can enter permanently flaky state if created too soon after cluster startup"
With this docker compose:
[code]

Occasionally ListOffsets can get into a permanently broken state with the following sequence:

[code]

This happens only occasionally, but is reproducible: if the cluster starts up successfully, I immediately `docker-compose down` and then redo the above sequence.

Now that we have entered the flaky state, we can repeatedly see that if we issue _four_ metadata req

[2021-10-07 17:13] twmb commented on #2569
In https://buildkite.com/vectorized/redpanda/builds/3047#484170a5-ec96-49d6-a8de-f7051227ccad:

[code]

In https://buildkite.com/vectorized/redpanda/builds/3054#7e7c2e58-8f81-4642-8ccc-8d58cfd77df7
[code]

[2021-10-07 17:14] #2571 closed, assigned to nobody

[2021-10-07 17:18] twmb commented on #2569
https://buildkite.com/vectorized/redpanda/builds/3049#d641afef-76f5-4ca0-a1c9-3f620e19577a
[code]

[2021-10-07 19:41] jcsp commented on #2519
Disabling test here: https://github.com/vectorizedio/redpanda/pull/2575

[2021-10-07 19:41] rystsov opened #2576 "Adjust request memory reservations for decompressed requests"
See https://github.com/vectorizedio/redpanda/pull/2435/commits/0440636051ec100bf9223280c515559933caa131#r723881834 for reference

JIRA Link: [CORE-752](https://redpandadata.atlassian.net/browse/CORE-752)

[CORE-752]: https://redpandadata.atlassian.net/browse/CORE-752?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-07 19:51] jcsp opened #2577 "Failure in `ArchivalUploadTest.test_write`"
Possibly related to https://github.com/vectorizedio/redpanda/issues/1977, but this has happened much more rarely and only in last 24h, whereas the test_isolate failure in the other ticket is long standing.

Instances:
- https://buildkite.com/vectorized/redpanda/builds/3049#a1be2d7f-e40f-4577-ba0e-e3811635ed1b
- https://buildkite.com/vectorized/redpanda/builds/3014#a20cd456-8af1-47e0-941f-33ba50cca

[2021-10-07 20:24] rystsov opened #2578 "ci failure: tx_verifier_test.TxVerifierTest.test_tx hangs"
Several instances of hanging reported by @jcsp in https://github.com/vectorizedio/redpanda/issues/2519

---

There is also a failure mode where this test is hanging and preventing ducktape from shutting down cleanly -- links to jobs:
[code]

In other tests, this kind of thing has been a symptom of a BackgroundThreadService having a stop_node function that didn't work reliably.

---

After merging

[2021-10-07 20:26] rystsov opened #2580 "ci failure: tx_verifier_test.TxVerifierTest.test_tx failes with InvalidTxnStateException"
Reported by @twmb in https://github.com/vectorizedio/redpanda/issues/2519

---

https://buildkite.com/vectorized/redpanda/builds/3047#83115912-deac-4199-b8ab-e9287dbc94a0
Failed here as well with the original error.

[2021-10-07 20:29] rystsov commented on #2519
Created separate issues to track new problems:

 - hanging https://github.com/vectorizedio/redpanda/issues/2578
 - InvalidTxnStateException https://github.com/vectorizedio/redpanda/issues/2580

Closing this issue since #2537 was merged and the new errors are different.

[2021-10-07 21:22] jcsp commented on #2553
Test is disabled here https://github.com/vectorizedio/redpanda/pull/2555

[2021-10-07 22:15] #1798 closed

[2021-10-07 23:02] twmb opened #2582 "failure in ListGroupsReplicationFactorTest.test_list_groups_has_no_duplicates"
https://buildkite.com/vectorized/redpanda/builds/3077

[code]

[2021-10-08 04:15] ajfabbri commented on #2430
Still looking at this. Have a loop running on my laptop to try to reproduce. (0 failures of 20 runs so far), while reading through the logs and code.

[2021-10-08 10:28] tobbbles opened #2587 "operator: Gracefully handle Cluster resource changes"
Currently, if you update a Cluster CRD and modify it's resources (for example, changing CPU request/limit from 1 to 2) the operator gets stuck in an errored reconciliation loop of the following logs:

[code]

## Potential solutions
### Implement a ValidatingAdmissionWebhook
This webhook would prevent modifying the CRD's resource fields and getting into this errored state. The cons here is that to

[2021-10-08 11:31] jcsp opened #2588 "PartitionMovementTest.test_dynamic failure: Cross core paritition movement sometimes doesn't complete"
Perhaps related to https://github.com/vectorizedio/redpanda/pull/2454/commits/d3e394fe60715bf98d9843fc10da656f10a1c5e9 ?

https://buildkite.com/vectorized/redpanda/builds/3092#58b03ff9-d151-49ea-ab81-689574fa0c49

In this failure of PartitionMovementTest.test_dynamic, the controller part of the update completes cleanly, but one of the new locations (node 3 shard 2) fails to come up.  This is an in

[2021-10-08 13:51] jcsp commented on #2580
But I think what's really specifically going wrong here is that the recovery itself is getting stuck at the point leadership transfer starts (earlier recoveries on the same topic take milliseconds, this one takes >4s and is still running when test ends).

It seems like in this state, the last visible index is ahead of the commit index (makes sense, client is acks=1), in which case recovery_stm pre

[2021-10-08 14:22] jcsp commented on #2580
This wasn't quite true, there *is* logic in do_recover to signal recovery_finished even for non quorum writes, but I think it was deadlocking because do_recover() also waits for follower_state_change, which never happens once leadership transfer is rejecting writes.

Here's a PR -- Michal can probably help confirm/deny the analysis https://github.com/vectorizedio/redpanda/pull/2591

[2021-10-08 14:39] jcsp opened #2592 "raft: Leadership transfers to far-behind followers make partition unwriteable for unbounded time"
The leadership transfer process intentionally makes a partition un-writeable (writer will get errc::not_leader) while waiting for recovery to complete, if the transfer destination was in recovery when the transfer was requested.

This is intended to handle acks=1 producers, whose partitions may often be in recovery but are usually only a little bit apart -- recovery of the last few messages would

[2021-10-08 16:14] jcsp commented on #2577
Note: this test was previously called ArchivalTest.test_write -- there were two ArchivalTest classes, so it was renamed to ArchivalUploadTest.

[2021-10-08 16:45] #2580 closed, assigned to rystsov

[2021-10-08 19:21] rystsov opened #2596 "rpk doesn't respect compaction options"
[code]

Let's create a compacted topic

[code]

And check if everything is ok

[code]

Everything is fine. Let's use a recommended API:

[code]

And check:

[code]

Now `cleanup.policy` is `delete` instead of `compact`.

[2021-10-08 21:15] dotnwat opened #2597 "kafka: observation of unexpected `-1` committed offset returned from fetch offset"
There are four ways in which we may see a -1 committed offset returned from fetch offset:

1. the queried group does not exist and specific topic-partitions are requested
2. the queried group is in the dead state and specific topic-partitions are requested
3. the queried group exists and a requested topic-partition has no registered offset in the group
4. a committed offset value of -1 is actually

[2021-10-09 15:58] senior7515 opened #2601 "Docs: update rpk container needs —brokers explicitly"

[2021-10-09 16:01] #2597 closed, assigned to dotnwat, mmaslankaprv

[2021-10-10 06:45] mmaslankaprv opened #2602 "Segmentation fault in `tx_gateway_frontend`"
`tx_gateway_frontend` may cause a segmentation fault when transactions were enabled in the cluster and after using some transactional feature disabled.
Steps to reproduce:
1. enable transactions
2. Do some transaction operations
3. Disable transactions
4. Wait for `tx_gateway_frontend` to trigger id expiration

[2021-10-10 06:58] senior7515 commented on #2602
Maybe worth evaluating all of txns for features that have durable state and are turned on/off in between restarts

[2021-10-11 08:06] jcsp opened #2605 "rpk produce with ``--acks 1`` doesn't work ("idempotency requires acks=all")"
[code]

Presumably rpk enables idempotency by default these days?

[2021-10-11 08:43] jcsp opened #2606 "raft: Leadership transfer can fail under load with acks=all workload"
Scenario:
- 3 nodes 1,2,3. Initial leader is 3.
- Continuous producer traffic with acks=all
- Node 3 is in middle of servicing a write, replicate_entries_stm is working, has persistent new entry to local and to node 2.
- Node 3 receives a leadership transfer request to node 1, proceeds to immediately issue a timeout_now to node 1.
- Node 1 increments term to 17, sends vote requests.
- Node 3 drops

[2021-10-11 10:00] #2592 closed, assigned to nobody

[2021-10-11 10:39] #2601 closed

[2021-10-11 14:16] twmb commented on #2568
https://buildkite.com/vectorized/redpanda/builds/3164#fbec01cb-9863-4a45-aafb-dd4e5e885527

[2021-10-11 15:01] #2605 closed, assigned to twmb

[2021-10-11 15:27] #2596 closed, assigned to twmb

[2021-10-11 20:17] twmb opened #2613 "Failure in `coproc_fixture_rpunit`"
https://buildkite.com/vectorized/redpanda/builds/3201#3a9897f9-d7d3-4fbb-9563-5415988334d5
https://buildkite.com/vectorized/redpanda/builds/3186#a7650c5e-1f38-4fcf-a1ab-b99cae2241d7
https://buildkite.com/vectorized/redpanda/builds/3192#40600feb-3cd9-41c0-8944-8bd33047d6dd

[2021-10-11 21:37] twmb opened #2615 "failure in partition_moving_test_rpunit"
Potentially the seastar reactor, based on the backtraces at the bottom?
https://buildkite.com/vectorized/redpanda/builds/3207#a992bef0-cd9c-46b4-b00a-07e9270ad887

[2021-10-12 00:10] twmb commented on #2568
https://buildkite.com/vectorized/redpanda/builds/3213#e1ca4ef1-4e2e-440c-bab7-4e40f2925c90

[2021-10-12 09:56] nahsi opened #2618 "replication.factor can be only 1 or 3 in three node cluster"
Is it a bug? Or I missed something while reading docs?

[code]

[2021-10-12 12:08] alenkacz opened #2619 "Editing additionalConfiguration in CR does not restart redpanda and apply config"
Steps to reproduce:
- deploy redpanda cluster
- edit CR, add
[code]
- apply and see that controller refreshed configmap but the redpanda did not get restarted

[code]

[2021-10-12 13:10] alenkacz opened #2620 "Setting redpanda.transactional_id_expiration_ms scientific notation bug"
[code]

yields
[code]
which rp fails to parse
[code]

[2021-10-12 15:53] #2620 closed

[2021-10-12 16:10] jcsp opened #2623 "raft: Reactor stalls after large numbers of leadership transfers"
This was found while adding the test in https://github.com/vectorizedio/redpanda/pull/2607, which worked up to about 50 iterations, but somewhere in the region of 100 iterations would start to get reactor stalls.  Running the test 4 times with 50 iterations worked, running it once with 200 iterations would run into a reactor stall.

It looks like it's happening in serialization/deserialization of

[2021-10-12 17:25] #2602 closed

[2021-10-12 18:40] twmb opened #2626 "failure in `TxFeatureFlagTest.test_disabling_transactions_after_they_being_used`"
[code]

[2021-10-12 19:55] ztlpn opened #2627 "Serde: dangerous auto types when manually specifying versions"
When I tried manually specifying versions (a feature introduced in #2595), serde didn't work. I traced the problem to incorrect types of version fields. When we specify versions like this:
[code]
`redpanda_serde_version` receives the type `int` instead of correct `uint8_t`. Version fields are then serialized as ints and incorrectly deserialized.

Probably a static assert that version fields are of

[2021-10-13 07:44] RafalKorepta opened #2631 "Remove feature flag for shadow indexing cache directory property in version 22.02"

[2021-10-13 09:16] jcsp commented on #2402
Haven't seen another test_static hang since that test was cut over to use backgroundthreadservice producer/consumer in https://github.com/vectorizedio/redpanda/pull/2521/files .

The overall symptom described by this ticket can reoccur if any test is hanging (especially hanging in teardown), so if it comes back up we'll open fresh tickets on a test-by-test basis.

[2021-10-13 09:16] #2402 closed

[2021-10-13 12:29] #2615 closed, assigned to dotnwat, mmaslankaprv

[2021-10-14 00:27] dotnwat commented on #2217
Yes! Thanks

[2021-10-14 00:36] dotnwat commented on #1328
we have "regex", "wildcard", and "glob" heh. regex seems a bit excessive for a first version. i'm assuming wildcard/glob are effectively the same? that seems powerful enough. even ACL only gets prefix!

[2021-10-14 00:37] dotnwat commented on #1328
@rkruze the title says `rpk` but the example is the upstream kafka tools. Should this work across all clients?

[2021-10-14 00:59] rkruze commented on #1328
Sorry, I should have highlighted the two examples better. The rpk example that fails is `rpk topic delete test.*` however it works in the kafka tools as I showed. rpk should work the same way as the kafka tools IMO.

[2021-10-14 08:40] mmaslankaprv commented on #2175
I will close this for now since it has been some time without any failures in the `test_cluster_rpunit`.

[2021-10-14 10:06] jcsp commented on #2175
This one had a couple of source files commented out of the CMakeLists for cluster/tests.

Those lines are un-commented on test-staging, and this test_cluster_rpunit hasn't failed there in the last week, so I think we're good to reinstate them.  @mmaslankaprv could you open a PR for that please?

[2021-10-14 10:28] jcsp commented on #2568
Seen this happening again here https://buildkite.com/vectorized/redpanda/builds/3291#74cf9182-59d6-4cb6-bc2e-d78d7d82fe10 -- it looks like the same issue of the consumer not seeing enough messages:
[code]

[2021-10-14 10:37] BenPope opened #2643 "Schema Registry: Improve error handling when reading _schemas"
Currently, any failure to read any schema from the topic will effectively disable any use of the schema registry.

Error handling should be relaxed, so that failure to decode individual schema doesn't fatally fail other schema.

The [error handling here](https://github.com/vectorizedio/redpanda/blob/5e350bfc80a713ddff38e4156a8fc70a7638ba34/src/v/pandaproxy/schema_registry/service.cc#L123) should a

[2021-10-14 12:17] #2175 closed, assigned to mmaslankaprv

[2021-10-14 13:53] Deflaimun opened #2644 "Kubernetes Quick Start Guide gives an EOF in one of the commands."
Hey guys, I'm trying the quick start on kubernetes, and when I'm in this step [Install and connect to a Redpanda cluster
](https://vectorized.io/docs/quick-start-kubernetes#Install-and-connect-to-a-Redpanda-cluster) 3b the command doesn't execute successfully giving me an EOF and I get stuck at the prompt needing to CTRL+C it.

Command:
[code]

Here's the message
[code]

Here's some system info.
T

[2021-10-14 14:26] #2582 closed, assigned to nobody

[2021-10-14 14:59] twmb opened #2645 "redpanda does not support config altering for brokers from the Kafka RPS"
Using AlterConfigs or IncrementalAlterConfigs with a broker resource type, with or without a broker ID, does not work:

[code]

Compare to Kafka:
[code]

[2021-10-14 17:05] twmb commented on #1328
FWIW I do think regex would be the easiest to explain, since we woudn't have to link to any documentation or describe it ourselves. Glob encoding seems to have a bunch of varieties (easiest being `* matches any range of any characters).

If we wanted regex though, imo it would be safer to have an opt in flag `--regex`, short form `-r`, rather than defaulting to it.

[2021-10-14 19:16] twmb opened #2648 "Add support for Delete Records Request (KIP-107)"
Kafka subsystem does not yet support DeleteRecords. This request allows admins to manually truncate partitions, which is a key request to free up disk space in a more targeted way.

[2021-10-14 19:26] twmb commented on #2626
https://buildkite.com/vectorized/redpanda/builds/3308#e1b94ef1-9168-4026-8ff2-20926750cded (ran without 2647, though)

[2021-10-14 21:02] graphcareful commented on #2514
Interesting then maybe the solution should just be for the tests to use a random or incrementing port number between tests? Or we could even refactor it to just keep the service up for the entire test.

[2021-10-15 00:47] senior7515 commented on #2567
Looks like a metadata issue

[2021-10-15 08:36] mmaslankaprv opened #2652 "redpanda: provide admin API to list currently active Kafka connections"
It may be sometimes be useful to be able to list all kafka/rpc connections currently being handled by redpanda. The listing should have some context in it. f.e. username, maybe some metrics

JIRA Link: [CORE-755](https://redpandadata.atlassian.net/browse/CORE-755)

[CORE-755]: https://redpandadata.atlassian.net/browse/CORE-755?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ

[2021-10-15 12:20] jcsp commented on #2626
PR #2647 isn't conclusively behind this, but is a good candidate.  Reopen if the failure reoccurs.

[2021-10-15 14:58] mmaslankaprv commented on #2164
I am closing this PR, the #2485 was merged, this error no longer persists in the CI and have no tests that are disabled.

[2021-10-15 15:23] aw185176 opened #2655 "Include Kustomize manifests to redpanda releases"
Helm is terrible, your installation instructions involve non-helm steps anyway (why? you clearly demonstrate that you know how `installCRDs` works in the cert-manager dependency installation instructions), and is overall less flexible than the Kustomize manifests you already maintain today.

[2021-10-15 18:16] twmb commented on #2558
I _believe_ rpk was changed in 8e022ce1d7a6d92b29f1e4d72f660c53ef5502fe to fail gracefully on this error condition. The original error cropped up because `-p` was passed to flags, and the ListTopics would fail because of no leader. I'm going to revert #2563 to see if this test still fails.

[2021-10-15 18:20] twmb commented on #2558
Heh, this was already reverted in bdcf199e72f1f0e8046c4a3f575ef8d35c7bb7c8 (pr https://github.com/vectorizedio/redpanda/pull/2574).

Closing.

[2021-10-15 18:20] #2558 closed

[2021-10-15 19:26] graphcareful opened #2657 "Deprecate utils/gate_guard.h in favor of ss::gate::holder"

[2021-10-15 23:40] #2627 closed

[2021-10-17 02:51] dotnwat opened #2661 "coproc: log connection details for nodejs server errors"
### log connection info

With coproc disabled on a server, we observed that the nodejs coproc service appeared to receive a request on its socket. One theory is that a security scanner poked at this port. However, we don't have any information about the originating connection.

When we log errors that result from a request (e.g. below) we should log the associated connection information.

[code]

[2021-10-17 04:36] rystsov opened #2662 "Segmentation fault during `TxFeatureFlagTest`"
`TxFeatureFlagTest.test_disabling_transactions_after_they_being_used` has a non deterministic behavior, pretty often it crushes a node

https://buildkite.com/vectorized/redpanda/builds/3237
https://buildkite.com/vectorized/redpanda/builds/3328
https://buildkite.com/vectorized/redpanda/builds/3333
https://buildkite.com/vectorized/redpanda/builds/3330
https://buildkite.com/vectorized/redpanda/builds

[2021-10-17 04:41] rystsov commented on #2662
The crush happens at [rm_partition_frontend.cc:128](https://github.com/vectorizedio/redpanda/blob/fd80706dff6a9a86f5e0b953b9f0fdc56225d7a4/src/v/cluster/rm_partition_frontend.cc#L128)

[2021-10-17 04:55] rystsov commented on #2626
The test fails because a transaction coordinator's topic has replication factor 1 and when a node hosting it crushes redpanda can process transactional requests anymore. Why a node crushes is unknown. I've created an [issue](https://github.com/vectorizedio/redpanda/issues/2662) to track that problem.

I've reproduced the error on a arm64 node and checked that incresing replication factor of the tr

[2021-10-17 07:04] Lazin opened #2664 "Redpanda doesn't shutdown gracefully"
The ASan error is: `attempting free on address which was not malloc()-ed`

This looks like some code has added a static or stack allocated `ss::httpd::function_handler` to the `ss::httpd::routes` object.

Full stacktrace
[code]

[2021-10-17 09:44] #2664 closed

[2021-10-17 09:45] jcsp commented on #2166
Yep, that's the one

[2021-10-17 16:28] dotnwat commented on #2662
It might be this: https://bugs.llvm.org/show_bug.cgi?id=48857

[2021-10-17 19:38] mzeier opened #2667 "second node errors trying to join, seastar::abort_requested_exception (abort requested)"
I have a single node cluster and I'm trying to join a second node.

I have a modified version of the Ansible playbook but it's basically the same shell commands. Before the shell commands are run, I dump out the commands and pause.

The first node is up and I'm able to look at `rpk cluster metadata` and create topics. The second node fails with the following log messages:

[code]

I'll dump the wh

[2021-10-18 01:49] twmb commented on #1953
rpk no longer by default checks for containers, so this cannot happen anymore.

[2021-10-18 01:49] #1953 closed

[2021-10-18 13:04] alippai opened #2672 "docs: howto download .tar.gz binary"
are there docs describing how to set up Redpanda manually using normal users (and the additional system config to be changed on top of that)?

[2021-10-18 16:03] rystsov opened #2676 "`topic_ingestion_policy_tests` unit test fails"
[code]

Failing builds:

- https://buildkite.com/vectorized/redpanda/builds/3395
- https://buildkite.com/vectorized/redpanda/builds/3383
- https://buildkite.com/vectorized/redpanda/builds/3384
- https://buildkite.com/vectorized/redpanda/builds/3377

[2021-10-18 16:39] BenPope opened #2677 "Pandaproxy: Support timing-out a consumer"
If a consumer is idle for an extended period, it should be possible to time it out, so that partition allocations are redistributed

[2021-10-18 23:43] tiantianz commented on #2339
How about we try randomize the port number?

[2021-10-19 00:24] dotnwat opened #2681 "redpanda: avoid mutable modifier for context logger users"
this is done in `src/v/utils/prefix_logger.h` and used in offset_translator without mutable keyword.

_Originally posted by @dotnwat in https://github.com/vectorizedio/redpanda/pull/2656#discussion_r731330218_

JIRA Link: [CORE-756](https://redpandadata.atlassian.net/browse/CORE-756)

[CORE-756]: https://redpandadata.atlassian.net/browse/CORE-756?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhY

[2021-10-19 06:23] mmaslankaprv commented on #2613
Another instance of this failure:
https://buildkite.com/vectorized/redpanda/builds/3404#276789e4-8711-4fa1-8279-4c06e057e0b4

[2021-10-19 08:29] jcsp commented on #2363
Closing in favour of https://github.com/vectorizedio/redpanda/issues/2613 to track failures in this test.

[2021-10-19 08:29] #2363 closed

[2021-10-19 09:09] #2588 closed, assigned to mmaslankaprv

[2021-10-19 12:01] dswang opened #2684 "Fix all CI failures"
Fix all issues that have the ci-failure label.

[2021-10-19 12:03] dswang opened #2685 "Create load test automation"
Run tests with heavy load (all tests, not just dedicated load tests) and with at least a few GB of data in the topics under test.  Load = many producers/consumers, many messages, many MB/s (more definition needed)

[2021-10-19 12:12] dswang opened #2686 "Chaos tests and failure injection"
- [ ] Revive existing tests in this area #3893 - @rystsov
- [ ] Automate the existing chaos stuff we do - @rystsov
- [ ] Failure points in core code w/ test runner that can exercise permutations of errors, locations.
- [ ] Automate punisher - @mmaslankaprv
- [ ] run chaos tests against our Cloud i.e. chaos monkey - @mmaslankaprv
- [ ] Network or Node-level failure tests - @LenaAn - could use use i

[2021-10-19 12:17] dswang opened #2688 "Stabilize k8s operator tests"
This may require a major change to the tooling in use: the current framework in use for these is [failing whole runs regularly](https://github.com/vectorizedio/redpanda/issues/2383), and [doesn’t save logs from tests](https://github.com/vectorizedio/redpanda/issues/2381).

[2021-10-19 12:18] dswang opened #2689 "Create regression tests for recent issues"
The rate of bugfixing has precluded systematically creating regression tests for the issues fixed.  This requires reviewing our recently merged changes to generate the list of things that need test coverage.

[2021-10-19 12:20] dswang opened #2690 "Expand component-level unit testing (`ctest`)"
The kafka and storage sub-systems have a lot of tight coupling that has generally decreased the amount of component-level testing. Expanding fine-grained testing will help improve confidence in sub-system evolution (e.g. new indexing strategies). The same is probably true for other areas of the code base.
Demand that we get better test coverage on new code we are adding.

[2021-10-19 12:21] dswang opened #2691 "Ducktape helper classes should have better defaults"
When we create a topic it should get some data in it unless the test actually requires it be empty
When we run a test it should by default have a produce/consume workload running in the background unless the test explicitly requires that it be idle.
When we run a producer/consumer in the background, it should by default be instrumented to detect availability issues during the test, and fail the te

[2021-10-19 12:22] dswang opened #2692 "Make sure we have all reliability tests for cluster operations that may involve partition movement"
Long running ducktape tests
Ducktape tests with failure injectors - may want to coordinate with @LenaAn

JIRA Link: [CORE-758](https://redpandadata.atlassian.net/browse/CORE-758)

[CORE-758]: https://redpandadata.atlassian.net/browse/CORE-758?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:23] dswang opened #2693 "Availability during shutdown & restart"
- [ ] Availability testing for decommission / scale-up
- [ ] Availability testing during rolling restart

JIRA Link: [CORE-759](https://redpandadata.atlassian.net/browse/CORE-759)

[CORE-759]: https://redpandadata.atlassian.net/browse/CORE-759?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:25] dswang opened #2694 "Migration to new serialization format"
Both for on disk data and handling of forwards/backwards compatibility at the network level for **some** rolling restart scenarios.

Moving to the new serialization format does not automatically provide forwards/backwards compat at the network level for rolling restarts. It is a pre-requisite and may cover most cases we'll encounter in the near term, but there is another big project that needs to

[2021-10-19 12:26] dswang opened #2695 "Get the test runtime environment running on faster drives and XFS"
Currently ducktape tests in CI have extremely slow storage which makes writing realistic exercises of redpanda with bulky data difficult.

[2021-10-19 12:27] dswang opened #2696 "Implement tooling to investigate Redpanda logs ideally integrated into our packages"
i.e. Log viewer, metadata inspector, tx state inspector etc.

[2021-10-19 12:30] dswang opened #2698 "automated longevity testing"
Upgrade to new release, run for a couple of months.
Load is essential but this doesn't have to massive - not necessarily a load or scale test
Idea is to test timeouts and boundary conditions based on time.

JIRA Link: [CORE-761](https://redpandadata.atlassian.net/browse/CORE-761)

[CORE-761]: https://redpandadata.atlassian.net/browse/CORE-761?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5Y

[2021-10-19 12:30] dswang opened #2699 "Tools for working with redpanda files without running it"
JIRA Link: [CORE-762](https://redpandadata.atlassian.net/browse/CORE-762)

[CORE-762]: https://redpandadata.atlassian.net/browse/CORE-762?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:31] dswang opened #2700 "Annotation for tests"
Not just the actual annotations, but the infrastructure to actually use them

JIRA Link: [CORE-763](https://redpandadata.atlassian.net/browse/CORE-763)

[CORE-763]: https://redpandadata.atlassian.net/browse/CORE-763?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:32] dswang opened #2701 "Dashboarding for release testing"
Idea is one-stop shop to check quality before releases

JIRA Link: [CORE-764](https://redpandadata.atlassian.net/browse/CORE-764)

[CORE-764]: https://redpandadata.atlassian.net/browse/CORE-764?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:32] dswang opened #2702 "Tools to deploy local branch on AWS"
JIRA Link: [CORE-765](https://redpandadata.atlassian.net/browse/CORE-765)

[CORE-765]: https://redpandadata.atlassian.net/browse/CORE-765?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-19 12:59] graphcareful commented on #2613
Update, have a branch with a fix, testing now

[2021-10-19 17:05] twmb opened #2707 "Move usage stats reporting into redpanda"
(was: _Enabling scram breaks rpk status, which is run by default in our systemd file_ )

By default today, we begin rpk status with systemd when a user starts redpanda. rpk status uses the Kafka API to scrape the number of topics and number of partitions created on the broker. These two, along with free memory, free space, and cpu% by redpanda, are sent to Vectorized as metrics.

If a user enables

[2021-10-19 18:12] dotnwat opened #2709 "redpanda: block unsupported downgrade scenarios"
[code]

A user tried to downgrade from v21.10 beta 3, to v21.9.5. The above error resulted. We don't necessarily have to support the downgrade, but we need to be resilient to scenarios like this. In this case, it would be reasonable to prevent redpanda from booting without manual intervention.

JIRA Link: [CORE-766](https://redpandadata.atlassian.net/browse/CORE-766)

[CORE-766]: https://redpandad

[2021-10-19 19:38] dotnwat commented on #2707
Ah, got it! Thanks for writing all of the context in the issue I didn't realize how reporting works today. I also didn't read until the end of the issue description, so I missed the important part. My bad :1st_place_medal:

Yup this should be straight forward since we have @Lazin's HTTP client!

[2021-10-19 21:31] ajfabbri opened #2712 "Fix flaky local build"
A fresh checkout and build of redpanda w/ vtools often fails. When it fails, the reason for failure is often not visible. Recently, the failure rate went up to ~90% or so, based on shortening the time it takes for certain tasks to clone git repos (see discussion in slack #core about reverting shallow git clone change). This seems to imply there are missing dependencies / ordering WRT parallel buil

[2021-10-20 02:39] dotnwat opened #2713 "storage: serde fuzzing tests"

[2021-10-20 02:40] dotnwat opened #2714 "storage: convert snapshot manager to use serde"
* versioned: yes
* src/v/storage/snapshot.h

We'll want to convert the snapshot header. Each user of the snapshot will have a separate issue for conversion to serde and the snapshot is merely an envelope type for blob data.

[2021-10-20 02:41] dotnwat opened #2715 "storage: convert segment index to use serde"
* versioned: yes
* src/v/storage/segment_index.h

[2021-10-20 02:42] dotnwat opened #2716 "storage: convert kvstore to use serde"
* versioned: not on disk, but in segment file name.
* src/v/storage/kvstore.h

The key-value store stores data in batches in the standard segment format. It's unlikely that we will want to migrate batch serialization to serde, but the kvstore may want to migrate the data it is putting into batches to serde.

[2021-10-20 02:42] dotnwat opened #2717 "kafka: convert transaction and consumer groups to serde"
This is a placeholder issue for completeness. It's not clear yet how we will solve compatibility for mm2 and that might involve converting not to serde but to kafka format.

[2021-10-20 02:43] dotnwat opened #2718 "storage: convert record batch header to serde encoding"
The header currently uses the old-style serialization. The record data of a record batch uses kafka encoding because it is very compact and by reusing the kafka encoding we can avoid unnecessary format conversions.

[2021-10-20 02:43] dotnwat opened #2719 "storage: convert kvstore users to serde"
* disk_log_impl
* cluster/members_manager
* raft/configuration_manager
* raft/consensus
* raft/offset_translator

[2021-10-20 02:44] dotnwat opened #2720 "cluster: convert controller commands to use serde"

[2021-10-20 02:56] twmb commented on #1942
There's three approaches to this: the first is to have `rpk acl user create` also issue a metadata request to learn the cluster coordinator before issuing the request, or to have the admin handler forward the request, or to add support for AlterUserScramCredentials and use the kafka protocol directly.

I think we're still going to want to support the admin handler regardless of the third option, a

[2021-10-20 15:28] ivotron opened #2724 "k8s: `kind create` hangs in buildkite"
We use KinD in our buildkite pipelines and have been experiencing an issue where `kind create cluster` gets stuck. This is turning out really difficult to reproduce and we were wondering if you have any tips on how to address this. It happens approx. 1 out of 20 tests, so it’s relatively common.

This happens on freshly booted VMs. When an agent gets reused, this doesn’t happen. Our hunch is an is

[2021-10-20 15:40] ivotron commented on #2724
After manually inspecting stuck VMs, the problem seems to be the `iptables-nft-save` command getting stuck, causing the kind node container to be completely unresponsive. This command is executed by the [entrypoint of the kindest/node image](https://github.com/kubernetes-sigs/kind/blob/main/images/base/files/usr/local/bin/entrypoint#L413).

It's not clear yet why this would happen. There are repor

[2021-10-20 21:33] graphcareful opened #2726 "coproc: Assertion triggered from controller_backend"
ERROR 2021-10-20 16:20:33,247 [shard 2] assert - Assert failure: (../../../src/v/cluster/controller_backend.cc:967) '!_storage.local().log_mgr().get(ntp)' Log exists for missing entry in topics_table

Looks like a create then delete triggered this from the test_delete_materialized_topic test

[2021-10-20 21:41] Deflaimun opened #2727 "RPK handling error messages"
When RPK execute a kafka operation that returns an error, the response is not very user-friendly.
Example

[code]

The example above returned an error because I used the wrong port number.

According to [this ](https://github.com/strimzi/strimzi-kafka-operator/issues/2289#issuecomment-709309899) the messages implies that Kafka received a HTTP response. Since it can't parse it results in the above

[2021-10-20 22:30] senior7515 commented on #2727
thanks @Deflaimun

[2021-10-20 22:35] senior7515 commented on #2672
@alippai - we run it ourselves in non root mode, doesn't `apt` support that out of the box. hmm. it may already work but not documented. good point on nixpkgs. maybe using `.tar.gz` too would work.

@ivotron do we expose the .tar.gz?

[2021-10-20 22:36] senior7515 commented on #2726
@graphcareful making sure this only triggers *iff** coproc enabled. otherwise this is a p1

[2021-10-20 23:59] senior7515 commented on #2672
I don’t think it has the Redpanda compiled for release Binaries there yet. But that’s a good point, we should

[2021-10-21 00:45] twmb commented on #2727
A similar check already exists when talking plaintext to tls if the server response with a tls alert record:
[code]

What do you think about similar wording:
[code]

[2021-10-21 06:26] kakkoyun opened #2731 "How to find Redpanda debuginfo?"
Hello,

I'm one of the @parca-dev developers. I was looking for debug info for Redpanda so that I can test it with our profiler. So far I wasn't lucky. I have checked the binaries, they don't have DWARF/debug info and there are none available in public [debuginfod](https://sourceware.org/elfutils/Debuginfod.html) servers.

Is there a way to obtain the debug info for the latest version somewhere? O

[2021-10-21 11:39] graphcareful commented on #2726
@senior7515 Yeah of course, this case can only occur if a coproc created a materialized topic, only way that event could have occurred is if the flag is enabled

[2021-10-21 13:22] graphcareful commented on #1608
Completed

[2021-10-21 13:27] graphcareful opened #2733 "coproc: Deletion of log while theres an in-progress write"
[code]

Currently the `storage::log` interface asserts if you attempt to use the interface when the gate has been closed. This means the caller should be 100% sure they are never using a closed log. The partition interface that sits on top of the log ensures this mechanism always works, if you attempt to use a closed partition, an exception will be raised.

However since materialized logs aren't r

[2021-10-21 13:53] jcsp commented on #2695
Duplicate of https://github.com/vectorizedio/redpanda/issues/2376

[2021-10-21 13:53] #2695 closed, assigned to ivotron

[2021-10-21 14:07] jcsp opened #2735 "Create cluster version+status tracking service"
The idea is to add a place where we track the runtime status of cluster nodes.  This is a different thing from members_manager (tracks the logical cluster membership of a node id), and health_manager (which is a bit misnamed, it's adjusts internal topic replication factors)

## Versions

There are various places it's important to know the version of other nodes in the cluster:
- Are we too far beh

[2021-10-21 14:09] jcsp commented on #2707
The version tracking is likely to be rolled into an overall cluster status service, so https://github.com/vectorizedio/redpanda/issues/2735 will probably depend on this.

[2021-10-21 16:30] Jeffail opened #2738 "Schema registry service returns wrong id of versions"
When obtaining information about a subject version I'm getting back an incorrect id of `-2147483648`, seemingly for all registered versions.

Steps to reproduce:

1. Run redpanda, here's my docker-compose:

[code]

Running version `v21.9.5 (rev e19c3f2)`.

2. Add a schema:

[code]

3. Get the latest version of the schema:

[code]

And I get the following back:

[code]

I also get the wrong id if I

[2021-10-21 17:01] dotnwat opened #2739 "tool: simple web service to decode stack traces from official releases"
JIRA Link: [CORE-767](https://redpandadata.atlassian.net/browse/CORE-767)

[CORE-767]: https://redpandadata.atlassian.net/browse/CORE-767?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-21 17:22] jcsp opened #2740 "rpk segfault on 'debug bundle'"
When running from a dev environment, no redpanda cluster running, no /etc/redpanda:

[code]

[2021-10-21 17:29] jcsp opened #2741 "ducktape test for 'rpk debug' commands"
Afaict we don't cover these at the moment.  They depend on redpanda APIs, so should be included in our testing.

[2021-10-21 18:01] #1347 closed

[2021-10-21 19:58] dswang commented on #2686
@ajfabbri knows about this article, this suggestion was from him.

[2021-10-21 22:17] dotnwat opened #2743 "raft: storage append error leaves batches in log for replication"
A bug related to snappy (https://github.com/vectorizedio/redpanda/issues/2390) is triggered on append when a large batch is decompressed in a compacted topic. In the storage appender a batch is _first_ appended to the log and _second_ the decompression occurs.

This decompression throws an exception, but the data would likely still be in the log.

The bug we appear to be observing is that despite

[2021-10-21 22:25] dotnwat opened #2744 "raft: configuration offset 0 already seen"
JIRA Link: [CORE-769](https://redpandadata.atlassian.net/browse/CORE-769)

[CORE-769]: https://redpandadata.atlassian.net/browse/CORE-769?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-10-22 02:23] dotnwat opened #2746 "raft/kafka: kafka fetch racing with partition shutdown"
A race appears to occur between clients fetching and redpanda shutting down

[code]

and here is part of the trace where it looks like redpanda is stopping where it looks like the partition manager is shutdown and then an active fetch request tries to access the partition manager.

[code]

[2021-10-22 02:25] #2740 closed, assigned to nobody

[2021-10-22 08:28] mmaslankaprv opened #2748 "kafka: only alive brokers should be returned in MetadataResponse"
In redpanda we return all brokers in `MetadataResponse`. Kafka returns only those brokers which are alive and are able to respond other queries. Some clients (f.e. sarama) relies on that behavior when querying for other cluster metadata f.e. consumer groups.
We should fix our `MetadataResponse` by returning only alive nodes in the brokers list.

Related: #2735

[2021-10-22 09:35] Licenser opened #2749 "Add healthcheck for Docker"
Hi,

I'm not sure where the Dockerfile lives and this might be the wrong repo but I'll throw the issue here in the hope that it's the best place. :)

## The goal (aka what we're trying to do):

We are trying to set up a [docker-compose example with redpanda and tremor](https://github.com/tremor-rs/tremor-redpanda/) to make it easy for users to test out this integration. Where we're trying to get i

[2021-10-22 13:24] jcsp opened #2750 "js syntax errors during wasm:publish-local"
The task doesn't fail (it probalby should?), but errors are written to the console.

[code]

[2021-10-22 13:30] jcsp opened #2751 "`rpk debug bundle` parse errors on redpanda.yaml"
From inside a ducktape node:

[code]

[2021-10-22 13:40] jcsp opened #2752 "`rpk` does not look at redpanda.admin for admin addresses"
When running on a non-default port or address and passing the redpanda config to rpk with `--config`, one gets an error like:
[code]

It should take the admin endpoint info from the config file.

(This is unrelated to https://github.com/vectorizedio/redpanda/issues/2751 -- for this issue I had a config file that was in the format rpk understood)

Non default ports will probably be somewhat rare in

[2021-10-22 14:53] #2746 closed, assigned to dotnwat, mmaslankaprv

[2021-10-22 15:14] dotnwat opened #2754 "release testing"
* large scale connection load testing

[2021-10-23 13:24] unicomp21 opened #2760 "cannot build on ubuntu 20.04"
It fails with the following output:

    Change Dir: /home/unicomp21/redpanda/build/deps_build/ctre-prefix/src/ctre-build/CMakeFiles/CMakeTmp

    Run Build Command(s):/usr/bin/ninja cmTC_3b42a && [1/2] Building CXX object CMakeFiles/cmTC_3b42a.dir/testCXXCompiler.cxx.o
    FAILED: CMakeFiles/cmTC_3b42a.dir/testCXXCompiler.cxx.o
    /usr/bin/g++    -fPIC -fdiagnostics-color=always -std=c++20  -fPI

[2021-10-24 13:41] Deflaimun opened #2764 "Not able to run tunning and prod mode in K8s"
Hello I've been trying to run the tunners inside the K8s cluster but I'm not being able to.
Running this command results in an error
[code]

[code]

So as a workaround, I created a new spec and applied that. Notice that I had to change both the memory and the flag developerMode
https://github.com/Deflaimun/redpanda/blob/doc/improve-performance/src/go/k8s/config/samples/production_mode.yaml

And I

[2021-10-25 10:12] #2738 closed, assigned to BenPope

[2021-10-25 11:24] jcsp opened #2765 "`rpk debug bundle` fails to run 'top' on Fedora"
This had two issues:
- tried to run 10 iterations with a 10s timeout, but the default time between iterations is 3s
- top needs a '-b' flag to  run noninteractively, or it just prints an error about opening the tty.

Presumably these behaviors were different on another distro when the bundle command was written.

[2021-10-25 11:34] VadimPlh opened #2766 "Useless data_policy property in incremental_topic_updates"
[code]

Need to delete `property_update<std::optional<v8_engine::data_policy>> data_policy;` because `data_policy_fronted` and `data_policy_manager` handle replication for this property

[2021-10-25 14:39] graphcareful opened #2771 "coproc: Incorrect retry semantics"
While debugging some of the outstanding CI issues with coproc some issues were found with retry semantics. These errors only came to light after the new test harness updates that were introduced a few weeks back.

The error takes place after the wasm engine has returned a response. Furthermore it can only be observed on topics that produce output on more then one topic for a single input. If an in

[2021-10-25 16:30] rkruze opened #2773 "brew/mac: Install the M1 rpk version on M1 macs"
Currently, the homebrew recipe only installs the intel version of rpk. It should pick the right rpk package depending on the architecture that it is being installed on.

[2021-10-25 17:01] emaxerrno opened #2774 "update the docs for transaction support."
@senior7515

Yea. I was talking about the docs, they might need an update. Screenshot attached.

![image](https://user-images.githubusercontent.com/42477240/138669174-d0aeb2df-7d85-43bf-b2b1-5103deaaeeec.png)

_Originally posted by @MDanialSaleem in https://github.com/vectorizedio/redpanda/issues/445#issuecomment-950707065_

[2021-10-25 19:24] #2726 closed, assigned to graphcareful

[2021-10-25 21:00] NyaliaLui opened #2780 "Kafka Streams GlobalKTables example hangs on 1st try"
In the Kafka Streams examples, there is this example that shows how to join data using a Global KTable.
The example hangs on it's first run but subsequent runs succeed with the expected output.

### See the following to reproduce
**Requires**: Follow the build steps for kafka-streams [here](https://github.com/confluentinc/kafka-streams-examples#packaging-and-running) -- you'll need Apache Maven an

[2021-10-25 21:14] jcsp opened #2781 "Deprecate single-item form of one_or_many_property properties"
It turns out RPK never supported these at all (https://github.com/vectorizedio/redpanda/issues/2751), so they are probably rarely used in the wild, if at all.  Our config reference page does use the style for the `admin` setting though (https://vectorized.io/docs/configuration/).

For example, currently one can have either of
[code]

RPK should continue to always output the list format when writin

[2021-10-25 22:05] graphcareful opened #2783 "coproc: Wait on partition manager before calling coproc::api start"
After reading the coproc saved offsets file , coproc queries the partition manager to find the relevent cluster::partitions. If they aren't there before the partition_manager hasn't started, coproc will not be able to continue recovery for the topics that depend on it

[2021-10-26 18:21] patrickangeles opened #2789 "Support (client) --mTLS--> (pandaproxy) --SASL--> broker"
Support auth protocol  conversion from mTLS to SASL/SCRAM via pandaproxy, similar to below:

https://docs.confluent.io/platform/current/kafka-rest/production-deployment/rest-proxy/security.html#authentication-between-crest-and-ak-brokers

JIRA Link: [CORE-772](https://redpandadata.atlassian.net/browse/CORE-772)

[CORE-772]: https://redpandadata.atlassian.net/browse/CORE-772?atlOrigin=eyJpIjoiNWRkN

[2021-10-26 20:22] #2741 closed, assigned to jcsp

[2021-10-26 20:22] #2765 closed, assigned to jcsp

[2021-10-27 03:33] ivotron opened #2791 "buildkite: permission denied errors when cleaning up workspace"
ref: https://buildkite.com/vectorized/redpanda/builds/3674#9fc3b2e8-5341-4b54-a0f7-62477ac89e91

errors like:

[code]

this can be fixed by tweaking the permissions of the ducktape logs.

[2021-10-27 08:04] #2606 closed, assigned to nobody

[2021-10-27 09:33] jcsp opened #2793 "Auto-select node_id when node joins cluster"
Currently, the node config (redpanda.yml) must include a unique node_id for each node.

This is a pain point for environments where the node configurations would otherwise be identical everywhere.

We should introduce the option for a join_request message to specify no node_id, and have the members_manager select the next available ID, then feed it back to the joiner in the response.  The joining

[2021-10-27 13:01] jcsp opened #2795 "tests: something is leaving files behind in /var/lib/redpanda"
https://buildkite.com/vectorized/vtools/builds/890#3a62b077-f9b9-4b58-bba7-a181ac42b108

Bunch of unrelated tests failing with:
[code]

[2021-10-27 13:37] RafalKorepta opened #2796 "Operator additional configuration should allow complex struct"
The operator can not marshal:
[code]

The error:
[code]

[2021-10-27 14:12] VadimPlh opened #2799 "Failure in `test_raft_rpunit` (jitter_tests.cc)"
`*** 1 failure is detected in the test module "../../../src/v/raft/tests/jitter_tests.cc"`

https://buildkite.com/vectorized/redpanda/builds/3697#a5974f6c-81da-4b48-9ffb-29973a54741f

[2021-10-27 15:39] #2774 closed, assigned to bmansheim

[2021-10-27 21:50] jcsp opened #2802 "`rpk debug bundle` sometimes fails to query NTP source (failure in `test_debug_bundle`)"
Recently added test is sometimes failing.

https://buildkite.com/vectorized/redpanda/builds/3726#90067591-b0e0-4c94-b3ce-0e2d6d1e3e4b

[code]

I think there are two things wrong with the way RPK is issuing an NTP query:
- Using pool.ntp.org without any retry to use a different host if one is down
- The golang ntp library in use is very simple, and just sends a single UDP packet, timing out if no r

[2021-10-27 23:46] #2724 closed, assigned to ivotron

[2021-10-28 15:44] #2795 closed, assigned to nobody

[2021-10-28 16:50] parkerjm opened #2809 "rpk: Add ability to increase number of topic partitions on an existing topic"
In vanilla kafka, users can use the following to increase the number of partitions on a topic:
```./bin/kafka-topics.sh --alter --zookeeper localhost:2181 --topic my-topic --partitions 3```

rpk does not appear to have this functionality yet.

[2021-10-28 16:55] alippai opened #2810 "Add option to run redpanda outside /opt/redpanda"
This is a followup feature request of https://github.com/vectorizedio/redpanda/issues/2672
Currently Redpanda expects to be run from `/opt/redpanda`.
Ability to extract it to a configurable path would enable easier non-root usage of redpanda.

JIRA Link: [CORE-773](https://redpandadata.atlassian.net/browse/CORE-773)

[CORE-773]: https://redpandadata.atlassian.net/browse/CORE-773?atlOrigin=eyJpIjoi

[2021-10-29 08:44] VadimPlh opened #2816 "Add data-policy property to cloud_storage"
Need to add data-policy to `cloud_storage/manifest.cc`

[2021-10-29 08:46] VadimPlh opened #2817 "Data-policy tracking"
## Main
- [ ] New version #3095 [Old #2840] (WIP)
- [ ]  #2173
- [ ] fetch integration

## Bugs
- [ ] #2315 (WIP)
- [x]  #2766
- [x] #2816
- [x] #2228

## Features
- [x] #2121
- [x] #3166

[2021-10-29 12:35] Lazin opened #2818 "shadow-indexing: Improve observability"
Improve observability by adding new metrics.
The interaction between the object store and red panda is covered by existing metrics. But we need to add metrics specific to shadow indexing (e.g. caching metrics).
We're also need to update some archival metrics. For instance, the upload gap should be in megabytes, or even better be split into two different metrics.

[2021-10-29 12:39] Lazin opened #2819 "shadow-indexing: Http io priority class"
We should add `io_priority_class` for archival. The `http::client` and `s3::client` should support custom priority classes.
That will allow us to tweak priorities for archival and shadow-indexing.

Shadow indexing has corresponding priority class but it used only for disk operations.

[2021-10-29 12:47] Lazin opened #2820 "cloud_storage: Implement time query"
We store metadata for time-point queries but it's not used yet.

[2021-10-29 12:53] Lazin opened #2821 "shadow-indexing: Read partially written segments from cache"
Currently, cache returns only fully hydrated segments. This introduces latency to the fetch since we have to wait until the segment is fully hydrated before we can start reading it. The prefetching of segments is difficult because it's very easy to overwhelm the cluster and consume a lot of network bandwidth.

It should be possible to consume partially hydrated segments. Fetch subsystem consumes d

[2021-10-29 20:01] dotnwat commented on #2760
[code]

[2021-10-30 09:48] unicomp21 commented on #2760
does schema registry need to be part of the main build?  could it be removed from the build until there is a fix?

[2021-10-30 15:18] dotnwat commented on #2760
@unicomp21 i think it will be easier to fix it schema registry than to exclude it from the build. I should have something out today.

[2021-10-30 18:52] dotnwat commented on #2760
@ivotron the fixes in https://github.com/vectorizedio/redpanda/pull/2825 combined with your clang build branch were able to get the community build back to working state.

[2021-10-30 18:57] johnseekins opened #2826 "zstd support broken?"
As a quick experiment, I set up a single node redpanda cluster and pointed [telegraf](https://www.influxdata.com/time-series-platform/telegraf/) at it. Using telegraf's built-in kafka output, I tried to send messages with zstd comression (`compression_type = 4` in the config) and received the following error:

[code]

Given there's numerous indications that redpanda supports zstd compression, this

[2021-10-31 00:36] dotnwat commented on #2826
hey @johnseekins zstd support should work ok in redpanda. i was just looking at some issues on the telegraf github repo and it seems the same error was encountered earlier this year. i think it may have to do with the underlying kafka client that telegraf is using:

https://github.com/influxdata/telegraf/issues/7123#issuecomment-778158121

[2021-10-31 03:42] ivotron commented on #2760
oh, really cool! I've merged #2825 and will rebase from #2730

[2021-10-31 10:40] unicomp21 commented on #2760
https://github.com/vectorizedio/redpanda/pull/2825#issuecomment-955674132

did I do this^ right? @ivotron @dotnwat

[2021-10-31 11:05] unicomp21 commented on #2760
after merging in https://github.com/vectorizedio/redpanda/pull/2730

https://github.com/unicomp21/redpanda/commits/struggle-redpanda-build

i get the following build error(s)

https://gist.github.com/unicomp21/7385a81ba19d7e64535028d210e5b04f

[2021-10-31 15:39] senior7515 commented on #2826
@NyaliaLui this maybe worth tracking on your end too on the integration

@johnseekins we definitely support zstd. Like Noah mentioned. Any more details or docker reproducer

[2021-10-31 15:41] senior7515 commented on #2760
@VadimPlh and @graphcareful ^^

[2021-10-31 16:08] johnseekins commented on #2826
I think you're right that this is more a bug in telegraf. By just adding the `version` tag, I no longer experience it. It's interesting though that using regular Kafka, I don't recall experiencing this error. I'll have to experiment more. But there's definitely not problem with RedPanda.

[2021-10-31 16:08] #2826 closed

[2021-10-31 17:12] dotnwat commented on #2760
@unicomp21 you might simply try repeating the build step to see if it resolves. the v8 build has some internal issues that pop up occasionally. our next step is to get this into a docker container so we have a point of reference. will update this ticket when that's done.

[2021-10-31 17:25] VadimPlh commented on #2760
I think the main problem in abseil, isn't it?
From log
[code]

[2021-10-31 18:45] BenPope commented on #2760
I think you'll have better luck with Clang 12.

[2021-10-31 19:15] unicomp21 commented on #2760
clang12 output ... errors at end

https://gist.github.com/unicomp21/b541eea355d98682fe466479b1412a68

[2021-10-31 21:09] unicomp21 commented on #2760
clang-12 makes it to the end, but output says there were errors

https://gist.github.com/unicomp21/b7a4ad6d45a5e0ff3f90e6e0e480334a

[2021-10-31 21:29] VadimPlh commented on #2760
@unicomp21 v8 does not fail build, but looks so wired(Need to fix it). Could you please find 'ERROR' in the hole build log.

[2021-10-31 23:06] unicomp21 commented on #2760
@VadimPlh I put together a build/dockerfile for ya, but the docker build seems to break on that error we're talking about

try running this script instead to repro:
https://github.com/unicomp21/redpanda/blob/community-build/community/terminal.sh
cd /mnt/src
./install-dependencies.sh
./build.sh

[2021-10-31 23:30] unicomp21 commented on #2760
[7/123] ccache /usr/bin/clang++  -I/mnt/redpanda/build/deps_build/abseil-prefix/src/abseil -fPIC -fcolor-diagnostics -std=c++20 -O3 -DNDEBUG -fPIC -Wall -Wextra -Wcast-qual -Wconversion -Wfloat-overflow-conversion -Wfloat-zero-conversion -Wfor-loop-analysis -Wformat-security -Wgnu-redeclared-enum -Winfinite-recursion -Wliteral-conversion -Wmissing-declarations -Woverlength-strings -Wpointer-arith

[2021-11-01 00:50] unicomp21 commented on #2760
and here is how the build in terminal.sh ends

[1745/1745] AR obj/libv8_monolith.a
ninja: build stopped: subcommand failed.
CMake Error at cmake/main.cmake:105 (message):
  Build step for v::build failed: 1
Call Stack (most recent call first):
  CMakeLists.txt:5 (include)

[2021-11-01 08:49] jrkinley opened #2836 "Authentication: SASL GSSAPI (Kerberos)"
Redpanda currently provides two authentication mechanisms: mTLS and SASL SCRAM. This prevents organisations that use Kerberos for authentication (e.g. Active Directory) from integrating Redpanda into their infrastructure.

The desired outcome of the feature request is to provide the ability for Redpanda brokers and clients to authenticate using SASL GSSAPI (Kerberos principals).

JIRA Link: [CORE-

[2021-11-01 09:01] jrkinley opened #2837 "OIDC Authentication to Kafka API"
Redpanda does not provide the ability to authenticate using the SASL OAUTHBEARER mechanism as defined in [RFC 7628](https://datatracker.ietf.org/doc/html/rfc7628).

The desired outcome of the feature request is to provide the ability to authenticate with Redpanda using TLS protected OAuth 2.0 bearer tokens.

[2021-11-01 09:55] jcsp commented on #2418
Latest example on tip of dev
https://buildkite.com/vectorized/redpanda/builds/3836#5ac96da8-cd44-4b26-8af8-da986bbc0582

[2021-11-01 10:00] jcsp commented on #2802
Just saw another case of this on dev, so making the test ignore errors pending improvements to rpk:
https://github.com/vectorizedio/redpanda/pull/2838

To anyone improving the rpk NTP code:please remove those lines from the test at the same time.

[2021-11-01 14:30] Deflaimun commented on #2764
The command that you have to run is
[code]
example

[code]

[2021-11-01 14:30] #2764 closed

[2021-11-01 18:37] carlsverre opened #2843 "Support hostnames in `--ips`"
Discussed on a call with @rkruze today. Didn't have time to test - but it would be very convenient to use hostnames in redpanda clustering setup rather than ips.  This is the code I use today to stitch together my cluster:
[code]

I would prefer:
[code]

To be clear - this may already work, and I hope to test it at some point if no one else is able to in a quick test harness.

[2021-11-01 20:06] chadbrewbaker opened #2844 "AWS Cloudformation demo script"
### Who is this for and what problem do they have today?

AWS users.

### What are the success criteria?

A CloudFormation script to launch a red panda cluster that is free of proprietary enterprise code. Preferably Ubuntu 20.04 base AMI.

AWS MSK CloudFormation template for reference https://github.com/awsdocs/aws-cloudformation-user-guide/blob/main/doc_source/aws-resource-msk-cluster.md

What ty

[2021-11-01 20:18] chadbrewbaker commented on #2844
Closing I was told there is a repo for this https://github.com/vectorizedio/deployment-automation/tree/main/aws

[2021-11-01 20:18] #2844 closed

[2021-11-01 21:58] dotnwat commented on #2754
i think we should attempt to re-run the large scale connection testing we had done for existing customers with the new offset translation (and other) changes that have gone into the tree.

[2021-11-01 22:13] ivotron commented on #2760
hi @unicomp21, the branch for #2730 is now working ok. it runs on a `fedora:34` container since `clang-12.0.1` and `libstdc++-11.2.1` are assumed. afaik `libstdc++-11.2.1` is not on any ubuntu release yet. but if you have docker it should work ok

[2021-11-01 22:23] BenPope commented on #2760
Impish (21.10) has [clang 12.01](https://launchpad.net/ubuntu/impish/+source/llvm-toolchain-12) and [libstdc++ 11.2](https://launchpad.net/ubuntu/impish/+source/gcc-11).

[2021-11-01 22:28] ivotron commented on #2760
yeah, it's 11.2.0 as opposed to 11.2.1 but it might work (didn't test myself)

[2021-11-02 00:31] dotnwat opened #2845 "kafka: double counting bytes sent metric"
`rpc/server_probe::add_bytes_sent` is invoked at the kafka layer when responding, and then

https://github.com/vectorizedio/redpanda/blob/dev/src/v/kafka/server/connection_context.cc#L343

the next line:

https://github.com/vectorizedio/redpanda/blob/dev/src/v/kafka/server/connection_context.cc#L345

the message size is double counted:

https://github.com/vectorizedio/redpanda/blob/dev/src/v/rpc/c

[2021-11-02 00:57] senior7515 commented on #2844
@chadbrewbaker would you mind opening this ticket there?

I think is a valid deployment mode we should eventually support. cc: @rkruze

[2021-11-02 01:10] unicomp21 commented on #2760
[167/169] : && /usr/bin/cmake -E rm -f absl/flags/libabsl_flags_usage_internal.a && /usr/bin/ar qc absl/flags/libabsl_flags_usage_internal.a  absl/flags/CMakeFiles/flags_usage_internal.dir/internal/usage.cc.o && /usr/bin/ranlib absl/flags/libabsl_flags_usage_internal.a && :
[168/169] : && /usr/bin/cmake -E rm -f absl/flags/libabsl_flags_usage.a && /usr/bin/ar qc absl/flags/libabsl_flags_usage.a  a

[2021-11-02 01:12] unicomp21 commented on #2760
commit c94269ca619c52c28cb73c269cef142f0844d9e8 (HEAD -> compile-with-clang, dotnwat/compile-with-clang)
Author: Noah Watkins <noah@vectorized.io>
Date:   Sat Oct 30 10:06:11 2021 -0700

[2021-11-02 01:16] unicomp21 commented on #2760
[root@9f85f0ef36df /]# lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	Fedora
Description:	Fedora release 34 (Thirty Four)
Release:	34
Codename:	ThirtyFour

[2021-11-02 01:16] unicomp21 commented on #2760
jdavis@ubuntu-big:~/repo/github/redpanda$ pwd
/home/jdavis/repo/github/redpanda
jdavis@ubuntu-big:~/repo/github/redpanda$ sudo docker run -v $(pwd)/../redpanda:/mnt/redpanda --rm -it fedora:34 bash

[2021-11-02 09:21] kakkoyun opened #2849 "Failed to run Redpanda on minikube with kvm2 or VirtualBox"
I tried to run Redpanda on Minikube using kvm2 and VirtualBox drivers, both failed. Using Docker driver, Kind or similar is not an option for me. I would be glad if you could guide me on this.

### Version & Environment

Redpanda version:
`v21.9.6 (rev bedb237)`

Minikube version:
[code]

Kubernetes version:
[code]

Minikube command:
`minikube start -p parca --driver=kvm2 --kubernetes-version=v1.2

[2021-11-02 10:38] unicomp21 commented on #2760
@ivotron is this expected?

Total Test time (real) = 525.48 sec

The following tests FAILED:
	 22 - coproc_fixture_rpunit (Failed)
	 24 - storage_single_thread_rpunit (Failed)
	 38 - partition_moving_test_rpunit (Failed)
Errors while running CTest

[2021-11-02 13:52] alex-berger commented on #1683
What is backup (writing to S3) worth if there is no way to restore that data into a cluster? 🤔
Is there any progress on this?

Would be great if we could just start a new (empty) cluster, pointing it at an existing (non-empty) S3 Bucket and it would automatically restore from that S3 bucket. This would enable us to run redpanda in Kubernetes as *immutable infrastructure* (using the redpanda Kubern

[2021-11-02 14:16] Lazin opened #2851 "Support topic configs `x-redpanda-*`"
Support the following topic configurations:
- `x-redpanda-archival` to enable/disable archival
- `x-redpanda-shadowindex` to enable/disable shadow indexing

The topic configuration already has the required fields. We should populate them from Kafka message and use.

[2021-11-02 14:54] BenPope commented on #2760
Related: https://github.com/vectorizedio/vtools/pull/309

[2021-11-02 15:22] ivotron commented on #2760
i'll double check, but all unit tests were running fine on my end, is this on ubuntu or fedora?

[2021-11-02 15:24] unicomp21 commented on #2760
Fedora 34 in docker

On Tue, Nov 2, 2021 at 10:23 AM Ivo Jimenez ***@***.***>
wrote:

[2021-11-02 15:41] ivotron opened #2852 "add public build to CI"
As a followup to #2730, the public build environment (in [`tools/docker`](https://github.com/redpanda-data/redpanda/tree/dev/tools/docker)) needs to be continuously tested to ensure that it works. Github actions runners are not powerful enough to have this run in a reasonable amount of time. For this issue we can run it on buildkite (or self-hosted github runners might be another alternative)

JIR

[2021-11-02 15:49] senior7515 commented on #1683
@alex-berger - stay tuned! this will get announced very very soon! - but agreed on all fronts :)

Though with an even more dev friendly UI. Imagine that you have a very large cluster, and you nuke it. You create a new cluster and do `rpk topic create <foo> --props x-redpanda-archival=true` and et voila. only foo is hydrated *lazily*** so startup is still 150ms. just a sneak preview.

[2021-11-02 16:02] Lazin opened #2853 "Integrate remote_partition with cluster::partition"
Create an integrating PR after #2824 will be merged

[2021-11-02 16:03] Lazin opened #2854 "Create a PR with duck tape tests"
Get duck tape tests from the `shadow-indexing-merged` branch into dev.

[2021-11-02 20:35] ivotron commented on #2760
hmm, i just double checked on a fresh clone on an ubuntu 21.10 host, as well as a fedora:34 host and all works OK. would it be possible to get the full log (as an attachment if it's too big). Do you see any errors related to `fs.aio-max-nr`? If yes, then this needs to be executed on the host `sudo sysctl -w fs.aio-max-nr=10485760`

[2021-11-02 21:36] unicomp21 commented on #2760
is docker running on the host?  everything i've been doing has been in docker.  sounds like the repro requires running in docker, like @dotnwat was talking about?

[2021-11-03 08:15] alenkacz commented on #2849
@kakkoyun you can bump the memory of that container via the sidecars field in CR https://github.com/vectorizedio/redpanda/blob/15112153aa59ae7b36d160bfd0a8f3ce438dfdba/src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml#L427

We'll also bump the default, looks like 10M is not enough

[2021-11-03 09:28] #2508 closed

[2021-11-03 09:44] jcsp commented on #2418
This seems to be becoming more frequent for some reason https://buildkite.com/vectorized/redpanda/builds/3908#ad8d710f-2aea-4577-bdc4-bd256fd935bf

[2021-11-03 10:02] kakkoyun commented on #2849
@alenkacz Thanks, this actually helped. Awesome.

However I wonder is there a way to make this error more obvious. The error is so obscure, it made me look lots of other things to make it work, like other drivers and runtimes etc. The fun part is that it worked on a normal cluster. I wonder what is the reason?

Thanks again.

[2021-11-03 10:21] #2455 closed

[2021-11-03 14:42] ztlpn opened #2863 "Re-enable existing archival and shadow indexing tests"
* https://github.com/vectorizedio/redpanda/issues/2577
* https://github.com/vectorizedio/redpanda/issues/2569
* https://github.com/vectorizedio/redpanda/issues/2438
* https://github.com/vectorizedio/redpanda/issues/1977

[2021-11-03 15:14] dimitriscruz commented on #2688
Re-enabled 6 operator tests that used to fail. (Issue: https://github.com/vectorizedio/redpanda/issues/2508, PR: https://github.com/vectorizedio/redpanda/pull/2848)

[2021-11-03 16:06] senior7515 commented on #2849
@kakkoyun ok to close?

[2021-11-03 16:19] kakkoyun commented on #2849
Yes, definitely. Thanks again.

[2021-11-03 17:18] ivotron commented on #2760
sorry for the confusion; yeah, i'm assuming running in docker on those hosts. This is how I've been running:

[code]

[2021-11-03 17:41] #1772 closed

[2021-11-03 17:54] dotnwat commented on #2760
[code]

looks like either flush/write is failing. are you low on disk space, perhaps?

[2021-11-03 17:58] unicomp21 commented on #2760
No, over 500GB free.  Strange.

On Wed, Nov 3, 2021 at 12:54 PM Noah Watkins ***@***.***>
wrote:

[2021-11-03 19:01] ztlpn commented on #2854
#2864 #2839

[2021-11-03 20:18] #2849 closed

[2021-11-03 20:18] senior7515 commented on #2849
@bmansheim - this will be a good guide to document.

[2021-11-03 21:14] alippai commented on #2810
Thanks for the detailed suggestion.

One nit is that the redpanda executable is at `/path/to/rp/libexec/redpanda` the other one calls `/opt`.
This solution looks good generally. I was facing `seastar ... Async IO ... not enough request capacity ... /proc/../aio-max-nr`  without sudo or root, setting `-c 2` helped and using the config found in `conf/redpanda.yaml` the server successfully started.
I

[2021-11-03 22:15] jcsp opened #2865 "Admin API redirects assume all nodes use same port & listen on RPC address"
This is a follow-on from changes made in https://github.com/vectorizedio/redpanda/pull/2806 (specifically at https://github.com/vectorizedio/redpanda/pull/2806/files#diff-73d28bb5261bfea6d41375856d8a2f5c2d3e9ca85cf813e275539ddfdf71f0a7R252)

Because nodes don't currently publish their advertised admin API endpoints to the controller, we make a guess that:
A) All nodes use the same port for the adm

[2021-11-03 22:15] jcsp commented on #2863
For the benefit of folks investigating these, here are some links to recent jobs on test-staging (where the disabled tests are still running).

Unstable test: ArchivalTest.test_isolate (1/34 runs failed)
  Latest failure at 2021-11-02T05:21:49.249Z: AssertionError()
             in job https://buildkite.com/vectorized/redpanda/builds/3864#d2948e10-57b1-4a17-88ee-79a5c0540f22
Unstable test: TopicRe

[2021-11-03 22:17] jcsp commented on #2577
There haven't been any failures of `test_write` on test-staging in the last 2 weeks of results (that's out of 72 runs).

Not a guarantee that it is fixed, but if the original failures' logs do not provide good clues when they are investigated, then we can close this.

[2021-11-03 22:36] ivotron commented on #2810
glad to read it's working!

oh, sorry, yeah, I meant to provide a replacement for the `/path/to/rp/bin/redpanda` script, so something like:

[code]

any executable in `/path/to/rp` won't work, so they need to be tweaked as shown above in order for them to work ok.

`rpk` accepts a `--config` flag, which is the path to the redpanda config file you would like to use

[2021-11-03 22:43] alippai commented on #2810
I see that the `cluster` subcommand has it, I was trying to run `rpk debug info`

[2021-11-03 23:34] unicomp21 commented on #2760
I just got a successful build w/ vectorized/redpanda-toolchain container in docker.  Yay!

Is this identical to what's in the tools image here?
https://github.com/vectorizedio/redpanda/blob/dev/tools/docker/Dockerfile#L1

If so, then I'm confused, because that Dockerfile is what I ran manually earlier.

[2021-11-04 01:57] unicomp21 commented on #2760
Everything is working great.  I must have botched the sysctl part somehow.  Thanks @ivotron @BenPope @dotnwat !

[2021-11-04 02:02] senior7515 commented on #2760
@unicomp21 would you mind adding a section to the docs on how to build

[2021-11-04 02:04] BenPope commented on #2760
https://github.com/vectorizedio/redpanda/tree/dev/tools/docker

[2021-11-04 02:05] unicomp21 commented on #2760
@senior7515 absolutely, will do

[2021-11-04 02:14] unicomp21 commented on #2760
closing

[2021-11-04 02:14] #2760 closed

[2021-11-04 10:35] unicomp21 commented on #2760
@senior7515
https://github.com/vectorizedio/redpanda/pull/2869

[2021-11-04 11:48] trorbyte opened #2870 "Deployment not into redpana-system namespace fails with error"
### Version & Environment

Redpanda version: v21.9.6:

Please also give versions of other components:
- Operating System MacOSX (intel)
- Docker (use `docker info`): 20.10.8
- Kubernetes (use `kubectl version`):  v1.21.1

Include link to test results for automated test failures

### What went wrong?

Followed instructions at https://vectorized.io/docs/quick-start-kubernetes/ for installing simple

[2021-11-04 13:06] jcsp commented on #2799
Seen here:
https://buildkite.com/vectorized/redpanda/builds/3968#e3f147b3-a320-49b6-a676-71d3ac5678f9

[2021-11-04 14:09] #1265 closed

[2021-11-04 15:45] graphcareful opened #2873 "coproc: Test the materialized topic deletion feature"

[2021-11-04 15:47] graphcareful opened #2874 "coproc: Test the materialized partition movement feature"

[2021-11-04 16:47] ivotron commented on #2810
`rpk debug info` also accepts the `--config` flag. do you get an error?

[2021-11-04 17:06] alippai commented on #2810
It works indeed, likely it was a mistake on my end

[2021-11-04 22:59] #2527 closed

[2021-11-05 03:12] twmb opened #2876 "allow `fallocate` size to be configurable"
Today, redpanda `fallocate`s 32M whenever necessary. We currently inject one raft message into every partition when a topic is created. If I create a topic with 1000 partitions, 32G of my disk is eaten.

The fallocate was chosen to be 32M, and large sizes are beneficial, but it may be useful to have this size be a configuration option.

The fallocate size is already an option internally: https://g

[2021-11-05 03:14] twmb opened #2877 "Shrink falloc size based on disk capacity (was: use 16K for fallocate rather than 32M when developer_mode is true)"
For developer mode, we do not need to so aggressively optimize disk usage. 32M fallocations can be especially problematic if I create a topic with 1000 partitions: 32G of my disk will suddenly be eaten.

We can use much, much smaller fallocations in developer mode.

Related to #2876. I think we should use the user configured option if present, else 16K if developer mode is true, else 32M.

[2021-11-05 03:16] twmb opened #2878 "fallocate can be larger than the segment."
If a segment size is configured to be 1M, there is no reason to fallocate 32M.

Whenever we fallocate, we can take into account: how much space there is left in the segment, plus the max write overhead that could occur.

For topics with small segments, this can save a decent chunk of space.

[2021-11-05 03:18] twmb opened #2879 "redpanda: remove throwing if 1G of memory is not free"
Today, unless `developer_mode` is true, we throw if there is less than 1G of free memory on startup.

Similar to how we recommend XFS, we can recommend that 1G memory be available, but allow things to work if less is available. Redpanda works for low memory situations, and not throwing allows us to drop into memory constrained environments more easily.

[2021-11-05 06:25] aserputov commented on #2879
Hey, @twmb, I would like to work on this issue. Could you please assign me?

[2021-11-05 06:30] twmb commented on #2879
Absolutely, also please reach out if you have any questions, either here or on our community discord!

[2021-11-05 06:36] aserputov commented on #2879
@twmb thank you

[2021-11-05 09:46] jcsp opened #2881 "Failure in `kafka_streams_test.KafkaStreamsPageView`"
https://buildkite.com/vectorized/redpanda/builds/4009#840a2aa1-3af2-4547-9d42-4852b397376c

`TimeoutError("Timed out waiting 600 seconds for service nodes to finish. These nodes are still alive: ['ExampleRunner-1-281473296932976 node 1 on docker_n_29']")`

This is one of the new ones that merged yesterday.  Failed on 1/14 of overnight runs.

[2021-11-05 13:52] NyaliaLui commented on #2881
Taking a look now.

[2021-11-05 14:15] jcsp opened #2884 "Update v8 to more recent upstream to build on systems with Python 3.10"
On Python 3.10 systems (e.g. Fedora 35), the v8 used in redpanda fails to build, because a test in the jinja2 version in use tries to import "collections.Mapping", which is removed in Python 3.10.

The commit where v8 updated jinja2 to a version that works with python 3.10 is:
[code]

We should freshen our v8 tree to that version or newer, so that redpanda remains buildable on latest distros.

(Wo

[2021-11-05 14:16] jcsp commented on #2884
Ping @graphcareful @VadimPlh  -- I don't know how big of a deal it is in terms of risk/compatibility to update v8 to latest, but presumably we want to do this from time to time anyway.

[2021-11-05 15:42] rustrial commented on #1752
Any news on this, without having access to `__consumer_offsets` tools like mirrormaker2 are pretty useless. And without such tools at hand, how can we migrate from Kafka to Redpanda at all?

[2021-11-05 15:58] senior7515 commented on #1752
@rustrial - atm if you don’t replicate consumer offsets you can still mirror the data. We are hoping to fix this bug this quarter, so very very soon.

In the mean time only data replication. And that should just work, I’ve tested.

[2021-11-05 20:07] dotnwat opened #2887 "kafka: avoid unknown partition error during partition movement"
If we trigger a partition movement and then immediately start issuing list_offset requests to the partition, librdkafka will produce the error `% ERROR: offsets_for_times failed: Local: Unknown partition`.

This was noticed in ducktape tests, and the retry mechanisms in place cause this to not be a test failure.

However, we should probably think about how to avoid this in practice by returning an

[2021-11-05 20:26] #2881 closed

[2021-11-06 16:12] NyaliaLui opened #2889 "Failure in `kafka_streams_test.KafkaStreamsWikipedia`"
https://buildkite.com/vectorized/redpanda/builds/4042#a185db01-f1ab-494c-b801-7083a5547589

`TimeoutError: Timed out waiting 600 seconds for service nodes to finish. These nodes are still alive: ['ExampleRunner-1-140671614982704 node 1 on docker_n_19']`

From the debug log, the driver program for this test did not generate output which is necessary to check for successful execution.

[2021-11-06 17:28] jrkinley opened #2891 "rpk: Improve user feedback when creating ACLs"
A community user received the producer error message `Transactional Id authorization failed` and proceeded to try and add the relevant ACL:

[code]

This didn't fix the error and the user was unable to retrieve the previously created ACL from Redpanda:

[code]

After further communication with the user the correct ACL was added, but the user experience can be improved. Why didn't `rpk` list the fi

[2021-11-06 19:02] Lazin opened #2892 "Add timeout to S3 connection pool acquire method"
The `acquire` method of the connection pool should use a timeout value.

JIRA Link: [CORE-779](https://redpandadata.atlassian.net/browse/CORE-779)

[CORE-779]: https://redpandadata.atlassian.net/browse/CORE-779?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-11-06 19:04] Lazin opened #2893 "Prevent eviction of in-progress remote_segment"
In order to prevent concurrency issue we should prevent `remote_partition` from evicting `remote_segment` which is busy downloading data from S3 at the moment.

[2021-11-08 02:02] twmb commented on #2891
ACL output and help text has completely changed in the upcoming release. What was the creation error? If I run this locally on a new build:

[code]

[2021-11-08 08:15] trorbyte commented on #2870
Note - wiping the cluster resolved the issue - I guess the prior install into redpanda-system leaves something lying around that interferes with a subsequent install into another namespace.

[2021-11-08 08:53] flokli opened #2897 "unable to extend cluster storage capacity"
### Version & Environment

Redpanda version: (use `rpk version`): v21.9.2

[code]

### What went wrong?

I had to extend the size of the cluster. In the `clusters.redpanda.vectorized.io` resource for the cluster, I edited the `spec.storage.capacity` field.
However, editing that field never succeeded - the operator started failing.

As can be seen in the log below, the operator tries to edit `spec.

[2021-11-08 08:58] flokli commented on #2897
I'm not super into this, but the operator would probably do something such as Solution 2 from https://adamrushuk.github.io/increasing-the-volumeclaimtemplates-disk-size-in-a-statefulset-on-aks/#solution-2-requires-no-downtime…

[2021-11-08 10:31] brianmcgee commented on #1657
Adding my +1, this is critical functionality

[2021-11-08 10:53] ztlpn opened #2898 "Port existing fixes to remote_partition and remote_segment to dev"
`remote_partition`:
* #2894

`remote_segment` (commits are below, but probably better to just merge a diff between shadow-indexing-merged and dev):
* 6bb1a5b93
* 591b01e8c
* 7a71158a5
* 61ad4582d
* ef7a8a9a4
* dfe705e68
* 21a238fbe
* related unit tests

[2021-11-08 11:02] VadimPlh commented on #2884
If update to current HEAD got `clang++: error: unknown argument: '-ffile-compilation-dir=.'`
Clang-13 can recognize it.

[2021-11-08 11:46] VadimPlh commented on #2884
The same for 57636196292ec6bd1f5d40cd82999b7ba4321ba2

[2021-11-08 12:08] VadimPlh commented on #2884
Solutions:
1) Update clang to 13 version
2) Change `-ffile-compilation-dir=.` to `-fdebug-compilation-dir=.` in `v8/build/config/compiler/BUILD.gn` in our v8 fork

[2021-11-08 13:03] RafalKorepta commented on #2796
Maybe it was my mistake to couple fixing kind with additional configuration, but the #2784 fixed this.

[2021-11-08 13:03] #2796 closed

[2021-11-08 15:18] Lazin opened #2899 "archival: Optimize build"
Introduce forward declarations and revisit dependencies

JIRA Link: [CORE-780](https://redpandadata.atlassian.net/browse/CORE-780)

[CORE-780]: https://redpandadata.atlassian.net/browse/CORE-780?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-11-08 16:43] ivotron commented on #2884
do you know if updating v8 will cause the build to fail on systems with python 3.9?

[2021-11-08 18:10] ivotron commented on #2884
i see. in that case then option 2) is what could be done most immediately, since clang-13 doesn't compile cleanly atm (see https://github.com/vectorizedio/vtools/pull/274)

[2021-11-08 18:16] ivotron commented on #2672
the change for removing the sha from the tarball has been committed. so the docs can be updated with the predictable URL scheme:

[code]

cc: @bmansheim

[2021-11-08 18:17] ivotron commented on #2672
NOTE: that won't be backwards compatible, so older releases still have the SHA in the URL, so 21.10.1 will be the first release without the sha in it

[2021-11-08 19:06] twmb opened #2903 "redpanda: return group state in ListGroups response"
ListGroups v4+ allows for filtering by state in the request, and includes the group state in the response. This is very useful to know whether groups are alive, empty, or dead when listing groups.

Supporting this request requires supporting flexible versions, which were added in v3.

JIRA Link: [CORE-781](https://redpandadata.atlassian.net/browse/CORE-781)

[CORE-781]: https://redpandadata.atlass

[2021-11-08 21:25] twmb opened #2904 "Support offset.retention.minutes"
Kafka expires group offsets differently depending on which OffsetCommit request version is used.

v0: zookeeper based, out of scope
v1, with commit timestamp: commit timestamp + offset.retention.minutes
v1, no commit timestamp: current time + offset.retention.minutes
v2 thru v4: current time + request's retention milliseconds, or current time + offset.retention.minutes if retention ms is empty
v5+

[2021-11-09 00:33] twmb commented on #2727
This will be in v21.10  or v21.11 -- if it is not, please reopen, thanks!

[2021-11-09 00:33] #2727 closed

[2021-11-09 00:37] twmb opened #2906 "rpk: add ducktape tests for `rpk group` command"
The new rpk group PR is being introduced without ducktape tests. All commands introduced were manually tested (listing, deleting, seek start/end/timestamp/group). We should add ducktape tests to ensure no regressions.

[2021-11-09 00:57] twmb commented on #1657
https://github.com/vectorizedio/redpanda/pull/2907 adds support for listing, deleting, describing (existed previously `under rpk cluster offsets`), and seeking.

[2021-11-09 00:58] twmb commented on #1657
The only missing group related command is `offset-delete`, which redpanda does not yet support.

[2021-11-09 01:49] dotnwat opened #2908 "kafka: support offset delete"

[2021-11-09 01:50] dotnwat commented on #1657
https://github.com/vectorizedio/redpanda/issues/2908 i implemented most of this today. there is a bit more to do plus some testing.

[2021-11-09 02:25] twmb opened #2909 "Hang in `partition_moving_test_rpunit` (was: Sanitizer errors)"
~https://buildkite.com/vectorized/redpanda/builds/4091#00937c38-3762-4bc7-8583-af3af6132e10~

~`SUMMARY: AddressSanitizer: 520 byte(s) leaked in 5 allocation(s).`~

See latest comments for status

[2021-11-09 03:54] dotnwat commented on #2909
@mmaslankaprv @jcsp

wow haven't seen a memory leak in a long long time. have you @jcsp seen any when you were auditing a lot of the failures in the past month?

[2021-11-09 06:17] Lazin commented on #2893
the fix is in the `shadow-indexing-merged` branch and in the PR to dev

[2021-11-09 06:17] #2893 closed

[2021-11-09 10:13] BenPope opened #2911 "redpanda: Make background tasks explicit"
In order to background a fiber the pattern used is to ignore the future:
[code]
I wonder if we should have a utility:
[code]
To be used like this:
[code]

Pattern taken from [std::ignore](https://en.cppreference.com/w/cpp/utility/tuple/ignore)

_Originally posted by @BenPope in https://github.com/vectorizedio/redpanda/pull/2866#discussion_r744993827_

[2021-11-09 10:21] BenPope commented on #2911
It's probably worth auditing the codebase, but if a gate is always required, the utility should include/enforce it.

[2021-11-09 10:35] jcsp commented on #2911
I think it's worthwhile to have a utility that does the gate+background part & also perhaps the utility should do the no-op catch of the exceptions usually seen in shutdown (sleep_aborted, gate_closed_exception, broken_semaphore)?

[2021-11-09 10:55] BenPope opened #2913 "redpanda/raft: Improper use of gate_guard"
### Version & Environment

Redpanda version: dev

`gate_guard` is an RAII wrapper intended for use only in coroutines.

The following uses are outside of a coroutine, and as such, do not hold the `gate`:
* https://github.com/vectorizedio/redpanda/blob/dev/src/v/raft/append_entries_buffer.cc#L25-L32
* https://github.com/vectorizedio/redpanda/blob/dev/src/v/raft/replicate_batcher.cc#L45-L80

[2021-11-09 11:36] BenPope commented on #2913
I didn't spot that the guard is moved.

[2021-11-09 11:36] #2913 closed

[2021-11-09 13:31] jcsp opened #2916 "Possible strict aliasing issues in `protocol_utils.cc`"
Prompted by making updates to remove use of unsafe unalighned_cast when seastar deprecated it (https://github.com/vectorizedio/redpanda/pull/2914)

Grepping on reinterpret cast and ignoring cases where we are casing to char* or uint8_t*, there are only a few scary looking ones, in the kafka server:
[code]

Places where we e.g. take a `raw_header` pointer and write into it, and then output the unde

[2021-11-09 14:08] jcsp commented on #2909
@dotnwat the backtrace-scraping triggers on lines with 'Sanitizer' in, but then only collects subsequent lines until it sees something that doesn't match `BACKTRACE_BODY` regex -- I think it's getting tripped up by the "Direct leak of..." type lines here, and terminating too soon.

[2021-11-09 16:09] rkruze opened #2918 "When shadow indexing is enabled don't upload all previous data by default"
### Who is this for, and what problem do they have today?

When you enable shadow indexing, it will go back and upload all the data in the cluster to S3/GCS. This might have a significant performance impact on the cluster. By default, we should only upload data sent to the cluster after shadow indexing is enabled unless a parameter is set telling Redpanda to upload all previous data to S3/GCS.

##

[2021-11-09 17:02] VadimPlh opened #2920 "[Testing] Materialized topic offset tracking"
A test to ensure that newly created materialized topics begin processing at their respective absolute offsets (earliest, latest or stored) and that when the retry logic kicks in to reprocess this topic, no data is added to other materialized topics that are already up to date.

**Example**:
- Materialized topic foo exists, its at offset 500.
- Coprocessor decides to create topic bar with policy se

[2021-11-09 17:05] VadimPlh opened #2921 "[Testing] Coproc progress"
A test to ensure that the system makes forward progress in the case a coprocessor decides to return a response set that doesn’t include all materialized topics in existence.

**Example**:
- Materialized topic foo & bar exist at offset 500, they share the same input topic.
- A response is received that only includes data for foo and not bar.
- This should be interpreted as filtering bar, bars offse

[2021-11-09 17:06] VadimPlh opened #2922 "[Testing] Failure modes & stored offsets"
- If redpanda fails, the coprocessors should start processing from the last observed offset on disk.
- Some duplicates are OK to be observed but this should ONLY be due to the fact that the last time the offset was written to disk was earlier then the last real offset processed before failure.
- If we write a test where its known that for 1 input we receive 1 output, we can easily write a test whe

[2021-11-09 17:37] jcsp commented on #2418
Another one:
https://buildkite.com/vectorized/redpanda/builds/4105#b96178db-bc6c-4922-82e1-6d61cf709ca5

@twmb how essential is the coverage provided by these tests?  The failure is happening often enough that I'm inclined to switch them off until fixed.

[2021-11-09 18:12] senior7515 commented on #2918
I don't understand how this makes sense. I may move this to a discussion later, but I want to think.

Is fine to upload a TB, if you care about data archival, why wouldn't you care about historical data? Not sure is worth the complexity overhead in the codebase.

[2021-11-09 18:13] senior7515 commented on #2918
I'm moving this out of `Shadow Indexing GA` until I understand the impact.

[2021-11-09 19:08] senior7515 commented on #2916
an alternative solution is to memcpy into the POD which is what flatbuffers and our rpc does

[2021-11-09 22:07] jcsp commented on #2909
Leak here in test_cluster_rpunit too, seems likely to be same underlying cause: https://buildkite.com/vectorized/redpanda/builds/4134#4d1c83e7-adb9-4150-9ade-639ff18c07ce

[2021-11-09 22:16] jcsp commented on #2909
Let's get those backtraces working for the next time this happens: https://github.com/vectorizedio/redpanda/pull/2924

[2021-11-10 01:26] twmb commented on #2418
AFAICT the code the tests are testing is strictly isolated to `rpk container`, which is effectively frozen at the moment until future maintenance happens. I think we can comment out these tests until the future work happens.

[2021-11-10 01:32] dotnwat commented on #2909
sigh...

[code]

[2021-11-10 02:26] twmb commented on #1657
#2907 was recently merged into tip, which means `rpk group` will be available in the next release.

[2021-11-10 10:18] jcsp commented on #2799
Another failure mode in test_raft_rpunit:

[code]

[2021-11-10 10:27] jcsp commented on #2418
Disabling here: https://github.com/vectorizedio/vtools/pull/314

[2021-11-10 10:59] jcsp commented on #2909
We have an example with decoded backtraces here: https://buildkite.com/vectorized/redpanda/builds/4170#7d535170-4277-47a1-993a-4e531fe4dc23

[2021-11-10 15:02] NyaliaLui opened #2928 "compatibility: meta-issue for phase 2 of compat testing"
See Phase 1 at #2160

## Motivation
A primary goal of Redpanda is to provide “Kafka compatibility” which means that applications that work with Kafka should also work unmodified with Redpanda. Achieving Kafka compatibility is difficult because there is no formal specification that describes how a library can ensure it works with all of Kafka. At Vectorized, we heavily rely on testing and customer

[2021-11-10 15:30] senior7515 commented on #2928
@NyaliaLui are -all- of the Kafka streams examples that make sense already in the tree? I only saw a couple

[2021-11-10 16:05] dotnwat commented on #2909
Was this memory leak correlated with a seastar update?

[2021-11-10 16:05] jcsp commented on #2909
No, we didn't bump seastar yet.

[2021-11-10 16:14] dotnwat commented on #2909
ok that's good to know.

1. are we hitting this reliably on any up-to-date branch? if so, i may try to narrow it down in CI because all efforts at local reproducing so far have failed.

2. it looks like its all originating from rpc::server, but unfortunately i don't see any indication of which server. perhaps we should parameterize the rpc::server type so we get something like `rpc::server<consens

[2021-11-10 16:27] jcsp commented on #2460
Ugh, I guess we got unlucky with the testing prior to merge, this has failed on dev here:
https://buildkite.com/vectorized/redpanda/builds/4180#8d71f648-66b7-410b-85bf-38fbeb0b2741

[2021-11-10 16:34] NyaliaLui commented on #2928
@senior7515
No. The examples that aren't in the tree are ones that are having integration issues with ducktape:
- [WikipediaFeed](https://github.com/confluentinc/kafka-streams-examples/blob/7.0.0-post/src/main/java/io/confluent/examples/streams/WikipediaFeedAvroExample.java)
- [GlobalKTables](https://github.com/confluentinc/kafka-streams-examples/blob/7.0.0-post/src/main/java/io/confluent/examples

[2021-11-10 16:46] dotnwat commented on #2799
@mmaslankaprv looks like its happening on shutdown / movement. the synchronization with log operations and log_manager is really fragile. i wonder if the gates that @graphcareful is putting in might help?

[2021-11-10 17:17] andrewhsu commented on #2754
after discussion with @mmaslankaprv reassigning to him since he's got this setup already running on the latest redpanda code for release. he'll close when the tests are finished.

[2021-11-10 19:11] senior7515 commented on #2928
Thanks for the updates.

1. outside of ducktape, do all of these pass?
2. can we write a test suite outside of ducktape, say in bash, that actually accomplishes these tests, then we can partner w/ @dotnwat or someone to help you teach ducktape new tricks to get them to run there.

[2021-11-10 20:59] NyaliaLui commented on #2928
1. Yes, although I haven't run InteractiveQueries or microservices in a while. Let me check to see if they wor so
2. Sure I can write a test suite outside of ducky.
3. Sure, I'll get the issues fixed before moving on.

[2021-11-10 21:09] ajfabbri commented on #2320
I'll grab this for now since I'm looking at #2166

[2021-11-10 21:13] ajfabbri opened #2931 "Add programmatic BYOC deploy for internal use"

[2021-11-10 21:28] andrewhsu commented on #2712
i can take this one because i was bit with flakey vtools PR check: https://github.com/vectorizedio/vtools/pull/315

[2021-11-10 22:54] andrewhsu commented on #2712
after talking with ivo, this list of labelled issues may be related in that many are flaky: https://github.com/vectorizedio/redpanda/issues?q=is%3Aopen+is%3Aissue+label%3Aci-failure

[2021-11-10 22:55] jcsp opened #2932 "Failure in `test_prefix_truncate_recovery` (acks=1, start_empty=False)"
This is a regression from https://github.com/vectorizedio/redpanda/pull/1576 that triggers a failure in the a recently re-enabled test.

The test tries to do leadership transfers on a partition that experienced truncations while one replica was offline.  The leadership transfer is rejected because the leader things a configuration change is in progress, because its last configuration offset is beh

[2021-11-10 22:58] jcsp commented on #2932
A change that fixes this particular scenario (at least when I'm reproducing locally) is https://github.com/vectorizedio/redpanda/pull/2933 , but I don't necessarily think it's the correct fix

[2021-11-11 00:31] dotnwat commented on #2932
@mmaslankaprv #1576 is also queued up for backport into 21.10.x and even though this appears to only affect leadership transfer, that's all we've noticed so far. it's a pretty sensitive area--messing with committed index etc... we should probably fix this and revisit that change and make sure we aren't missing anything before cutting any 21.10.x release?

[2021-11-11 00:36] dotnwat commented on #2320
segment index reader file description for all non-head-of-log segments could probably be reclaimed in lru order based on some limit. for example, we could probably query nofile limit on bootup to seed this value.

[2021-11-11 04:24] senior7515 commented on #2931
BYOC is our cloud deployment, not related to redpanda. kindly open in shortcut

[2021-11-11 04:24] #2931 closed

[2021-11-11 05:29] ajfabbri commented on #2166
Taking a look at this. A couple of initial thoughts:
1. There are some simple solutions that will be a big improvement over current behavior. (this issue)
2. The correct solution seems to be a function of the set of data directories of the entire cluster*, not just locally. (future issue?)

Questions:
- How expensive are frequent metric reads (in proposed improvement)?

*Thinking about the enforce

[2021-11-11 10:35] jcsp commented on #2166
You mean how expensive is a statfs?  Not at all, it doesn't touch the drive.  Internally, we should be propagating that disk space information to a sharded copy on each core, so that when the kafka/raft subsystems query it, it's a shard-local read.

Fortunately we're about to have that data available to all nodes in a handy place (https://github.com/vectorizedio/redpanda/pull/2787)

I think the ba

[2021-11-11 10:50] jcsp commented on #2166
@ivotron @andrewhsu thinking ahead to testing this, when working on the XFS filesystems for testing (https://github.com/vectorizedio/redpanda/issues/2376) it would be valuable to have some way for tests to get mini-sized data directories.  Perhaps the test node image could have a separate "mini var" XFS filesystem that's like 10GB and we only use that from specialized tests that want to hit disk l

[2021-11-11 19:32] #2932 closed

[2021-11-11 21:19] andrewhsu commented on #2460
Spotted on this build as well: https://buildkite.com/vectorized/vtools/builds/1051#e285c0ec-c809-44ee-9918-ad6d75fc1381/1392-3196

[2021-11-11 21:27] dotnwat commented on #2460
thanks @andrewhsu this should be fixed now via https://github.com/vectorizedio/redpanda/pull/2937 let us know if you see it again!

[2021-11-11 21:27] #2460 closed

[2021-11-11 22:16] graphcareful commented on #2733
Adding a comment that this is currently also an issue w/ fetch + materialized

[2021-11-11 23:07] andrewhsu opened #2941 "test sub task"

[2021-11-11 23:07] andrewhsu opened #2942 "test parent issue"
- [x] #2941

[2021-11-11 23:11] ajfabbri commented on #2166
Interesting. Eventually consistent though, so we'd have to add in slop for (max write rate * 2 seconds) or whatever the max lag is. I have more noob questions on this topic we should discuss separately.

:+1: Was thinking something similar.

[2021-11-11 23:28] ivotron commented on #2754
@mmaslankaprv should this be closed?

[2021-11-12 02:13] BenPope commented on #2501
I've just reproduced this locally, and I think it was due to `not_leader_for_partition`.

[2021-11-12 09:49] #2845 closed

[2021-11-12 10:14] VadimPlh commented on #2228
[code]

[2021-11-12 10:14] VadimPlh commented on #2228
Same
https://buildkite.com/vectorized/redpanda/builds/4235

[2021-11-12 10:26] jcsp commented on #2166
This is true, but the basic issue would apply even if we synchronously propagated the status every N seconds -- the N seconds of slop would still be there (it would just be N rather than 2N).

I think this is where the stricter space controls come in: the notion of having writers pre-reserve their space (from a userspace-enforced quota) on segment creation rather than running optimistically until

[2021-11-12 11:58] BenPope commented on #2916
That looks like the best solution.

Or use `std::bit_cast` which is the ordained way in C++20, but that's not available until Clang-14, but there's #absl::bit_cast`.

[2021-11-12 12:25] LenaAn commented on #2863
`ArchivalUploadTest` is a subset of `ArchivalTest` that was supposed to be run manually, now it's obsolete, opened https://github.com/vectorizedio/redpanda/pull/2948 to delete it

[2021-11-12 12:26] LenaAn commented on #2438
The stacktrace of ignored exceptional future leads to Coproc code

[2021-11-12 14:58] #2577 closed

[2021-11-12 18:17] #2898 closed

[2021-11-12 22:17] ajfabbri commented on #2166
Yeah, to get rid of the slop we'd need to not use a trailing indicator (i.e. "space available was X in the recent past"). Something like distributing prefetched allocation tokens.. Which _sounds_ tricky without higher-level consensus (bigger quorum scope than just NTP).