[2020-11-05 14:55] mmaslankaprv opened #25 "Incremental fetch support in Redpanda"
Incremental fetch support was introduced in  `FetchRequest` version 7. We have to add fetch session management to redpanda.

More details:
[Kip-227 Incremental Fetch Requests](https://cwiki.apache.org/confluence/display/KAFKA/KIP-227%3A+Introduce+Incremental+FetchRequests+to+Increase+Partition+Scalability)

[2020-11-05 16:54] mmaslankaprv opened #27 "Add simple validation to Kafka request header parsing"
We have to add assertion to Kafka requests header parser to prevent seastar assertion from happening:

[code]

[2020-11-05 16:59] dotnwat opened #28 "allocation underflow assertion triggered"
Setup:

- 7 nodes cluster
- 128 partitions
- 16 bytes key (keys carnality 10mm)
- 4k payload
- compacted topic verifier.

Error was triggered on one of the nodes after ~30h.

[code]

[2020-11-05 17:13] #27 closed, assigned to nobody

[2020-11-05 17:39] dotnwat opened #30 "eliminate dedicated write-behind buffering for each segment appender"
* per-core shared chunk cache
* minimum pre-allocate reserve (e.g. 10%)
* some reasonable upper limit (e.g. 30%)
* remove or expand per segment limit (currently at 1mb outstanding)

[2020-11-05 17:43] dotnwat opened #31 "support reading past non-committed segment range"
So-called dirty reads let us read past the last flushed position of a segment. This is an important optimization for raft recovery workload to avoid an expensive flush operation in order to read recently written data to send to followers.

Effectively the solution tracks a last stable offset which is the highest written (but not necessary flushed) batch offset. The log reader then allows reads up

[2020-11-07 15:14] #28 closed, assigned to dotnwat, mmaslankaprv

[2020-11-09 22:19] dotnwat opened #41 "storage: attach reclaimer to segment appender chunk cache"
Currently the seastar memory reclaimer will reclaim memory from our batch cache in low memory situations. The chunk cache also makes a large memory reservation on bootup, and we could reclaim memory from the chunk cache in low memory situations.

This is low priority for now we haven't been seeing OOMs recently but may be some easy way to get some extra memory later if we start to see some memory

[2020-11-09 23:58] dotnwat opened #42 "storage: adaptive fallocate should not wait on all inflight writes"
When fallocating segment capacity the fallocation routine inserts a write barrier and waits for all inflight writes to complete. This was a non-issue when the cap on inflight writes was small. But now this cap has been lifted, and this barrier will introduce unnecessary latency. We still need to wait on inflight writes, but we can limit the set of writes to inflight writes to the tail that interse

[2020-11-10 00:53] dotnwat opened #43 "storage: delay chunk hydration until required"
On truncation, the head chunk is rehydrated. However, this isn't strictly necessary if no additional appends will occur. Therefore, we can avoid the extra read by delaying rehydration until a subsequent operation that requires it, like append.

[2020-11-10 00:55] dotnwat opened #44 "storage: remove flush requirement from truncation"
Truncation flushes the underlying file descriptor, which is not required in general. The caller may flush if needed. Since truncation may be common in several raft-related scenarios, this may be an important optimization.

[2020-11-11 00:31] 0x5d opened #52 "rpk: Allow passing arbitrary config entries to `rpk api topic create`"

[2020-11-11 14:48] #52 closed, assigned to 0x5d

[2020-11-12 04:29] dotnwat opened #63 "storage: bound age of unflushed append data"
We want to make sure that data in the segment appender write back buffers is written to disk and made visible in a timely manner. Normally this happens as buffers fill up and writes are dispatched, but data may sit in the buffers if the workload idles and does not drive this process.

To address this we use timers to identify an inactive appender and flush the write behind buffers. A good policy w

[2020-11-12 07:32] mmaslankaprv opened #65 "Do not stop recovery STM when there are only relaxed consistency appends"
To limit latency we should trigger allow recovery STM sending data to followers immediately after they will be append to the leader log.

[2020-11-12 11:44] BenPope opened #67 "CONTRIBUTING.md is out of date"
This file doesn't represent the new guidelines

[2020-11-13 01:15] senior7515 commented on #67
i made a rough cut earlier.

[2020-11-13 01:51] #67 closed

[2020-11-13 03:19] yshalabi opened #78 "Build failures due to missing "ensurepip""
[code]

    apt-get install python3-venv`

It went away once I installed python3.6-venv (ie [modified this line from install-dependencies.sh](https://github.com/vectorizedio/redpanda/blob/6b13ca1778f66cc7c09bd252becfd68f5483f4cd/install-dependencies.sh#L34))

[2020-11-13 03:29] dotnwat commented on #78
This makes sense, and we are happy to merge PRs that improve the build system :)

[2020-11-13 15:37] yshalabi commented on #78
Yeah. I didn't submit a PR as I felt it would be incorrect to specify it to python3.6-venv as newer distros might package newer versions of python3. I'll try to find a different solution and submit a PR :)

[2020-11-13 19:13] dotnwat opened #82 "fetch debouncing may produce duplicate entries in response"
introduced in #55. description of issue is here https://github.com/vectorizedio/redpanda/pull/55#pullrequestreview-530284757. simple solution is to reset entire response before retrying. finer grained retry is also possible but will take a bit more accounting and could be handled in a separate optimization ticket.

[2020-11-13 19:13] dotnwat commented on #82
@graphcareful

[2020-11-13 23:16] dotnwat opened #83 "materialized topics should minimize flushing"
Flushing is expensive, and the only time I am imagining where it would be required is on shutdown.

https://github.com/vectorizedio/redpanda/pull/73/commits/cbf36dd9c64e23070eb4c0f10ffaf3cfba11a763#diff-fcd7fbf0643f830200a530fd291bf91d7c4a2b0919bffbfcea623a04ddd046ccR268

https://github.com/vectorizedio/redpanda/pull/73/commits/0d1beeb3002fe832c1d8bccfdbbe76dacc6c3268#diff-fcd7fbf0643f830200a530fd

[2020-11-13 23:23] dotnwat opened #84 "avoid collectives when explicit sequencing is required"
let's avoid collectives when we require a specific shutdown ordering.

[code]

https://github.com/vectorizedio/redpanda/pull/73/commits/6df4a48dbb69c4ef3c3a6e0e4ef45f5975f3575d#diff-975c462fbda832b71e7a4f92f664a80f8838b39455d496e46a5635af1d56e054R55

[2020-11-13 23:24] dotnwat opened #85 "use named batch types instead of bare ids"
https://github.com/vectorizedio/redpanda/pull/73/commits/0d1beeb3002fe832c1d8bccfdbbe76dacc6c3268#diff-fcd7fbf0643f830200a530fd291bf91d7c4a2b0919bffbfcea623a04ddd046ccR350

[2020-11-13 23:27] dotnwat opened #86 "unify fetch request handling of partition wrapper"
https://github.com/vectorizedio/redpanda/pull/73#discussion_r523126800

[2020-11-14 19:32] graphcareful commented on #84
Linking to PR #88

[2020-11-16 11:11] tholu opened #94 "MacOS: Homebrew formula"
For easier installation on MacOS, a [homebrew](https://brew.sh/) formula would be great. Is this already planned?

[2020-11-16 11:14] tholu opened #95 "MacOS: Error message when Docker is not running misleading"
On MacOS, when Docker is not running, the following error message is returned:

[code]

It should be easy to detect if Docker is not running and let the user know.

[2020-11-16 12:20] raphaelauv opened #97 "A docker public image"
Hello, I would like to try easily redpanda as a drop-in kafka alternative.

A public docker image in the docker hub would be great ( as what is doing confluent : https://hub.docker.com/r/confluentinc/cp-kafka/ )

So I can try it in a docker-compose like this :

[code]

I know zookepper will no longer be needed.

Thank you

[2020-11-16 12:26] BenPope commented on #97
There's an image here: https://hub.docker.com/r/vectorized/redpanda

We also have an `rpk container` command: https://vectorized.io/rpk-container/ which should help get you started.

`rpk` is the entrypoint in that container, it will `rpk start` by default, but you could, for example run: `docker run vectorized/redpanda:latest status`

See: https://vectorized.io/documentation/rpk-commands/ for mor

[2020-11-16 12:29] BenPope commented on #94
Does this help? https://github.com/vectorizedio/homebrew-tap

[2020-11-16 12:54] #97 closed

[2020-11-16 12:54] raphaelauv commented on #97
Thank you, I will give it a try

[2020-11-16 13:29] tholu commented on #94
@BenPope Perfect, ideally include a link to that in the documentation.

[2020-11-16 13:29] #94 closed

[2020-11-16 16:23] dotnwat commented on #84
@graphcareful please link commits (if relevant) or a pr to the associated issue using `fixes: #NN` special tag.

[2020-11-16 17:26] raphaelauv opened #98 "Multiple listeners support : Confluent Schema-Registry with redpanda"
I want to use the confluent schema-registry with redpanda , I'm trying with the confluent docker image and I don't know what to set for :

**SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL**

From this blog post  https://www.confluent.fr/blog/how-to-prepare-for-kip-500-kafka-zookeeper-removal-guide/ , we should replace

**kafkastore.connection.url** by **kafkastore.bootstrap.servers**

So **SCHEMA_REGIS

[2020-11-16 18:09] 0x5d opened #99 "rpk/config: Make redpanda.advertised* optional"
The `redpanda.advertised_kafka_api` and `redpanda.advertised_rpc_server` are optional for redpanda, but rpk doesn't treat them as such. Therefore, if they're not set by the user, the next time rpk writes the config they will be persisted with an empty address and `0` port, which will make any client connection fail.

[2020-11-16 19:00] senior7515 commented on #98
thanks @raphaelauv for the report. We'll take a look. cc: @dotnwat

[2020-11-16 19:21] 0x5d commented on #99
Fixing this in #100

[2020-11-16 20:20] #82 closed

[2020-11-16 21:09] dotnwat commented on #99
Please reference the ticket in the PR notes or a commit message using the `fixes: #NN` tag rather than the other way around. The `Fixing this...` above doesn't get properly registered by github so some of the linking capabilities don't seem to be activated.

[2020-11-16 22:00] dotnwat opened #101 "specialize CODEOWNERS for co-proc javascript tree"
* this is useful for custom tailoring the set of automatically selected code reviewers

[2020-11-16 22:28] mcraveiro opened #103 "Problems running a producer / consumer setup using cppkafka"
Hi Red Panda developers,

Thanks very much for your amazing contribution to FOSS. Following on from the HN announcement [1], I am trying to play around with Red Panda. First, I apologise in advance as I am not an experienced Kafka user so I am certain I am doing something wrong, but not quite sure what. I am using Debian Testing and I've installed your DEB packages as well as the distro-supplied `

[2020-11-16 22:37] dotnwat commented on #103
hey @mcraveiro thanks for the detailed report. this does look like some issue with dns / ipv6 and there definitely are some lingering usability issues here. it looks like what might be happening is that an ipv6 address is being cached some where. could you post your redpanda config, and are you using a single node setup? also, please try using a new group and topic when switching over to the expli

[2020-11-16 23:25] dotnwat opened #105 "make code formatting tooling available in redpanda repository"
Ultimately we are going to ask external contributors to ensure their code is properly formatted. It may be convenient to give them the same tools we use to 1. manually apply formatting and 2. check that their formatting is correct.

[2020-11-17 00:31] senior7515 commented on #103
looks related to #100

[2020-11-17 00:35] dotnwat commented on #98
@raphaelauv thanks for the detailed report.

the good news is that this appears to be a networking issue. i was able to at least start the schema registry and get it connected to a redpanda instance not running inside docker:

[code]

there are two issues at play here

1. we have an issue with ipv6 and how the broker is binding to its listening port.
2. the redpanda broker inside docker appears to

[2020-11-17 00:52] senior7515 commented on #103
@mcraveiro - can you run this tomorrow. We are hoping to update the rpk container in a few or early tom.

[code]
advertised_kafka_api:
    address: ""
    port: 0
  advertised_rpc_api:
    address: ""
    port: 0```

[2020-11-17 00:53] senior7515 commented on #99
Adding a workaround here for users

Please remove the following from all your configs. We'll create a new release tonight/tom.

[code]

[2020-11-17 02:12] senior7515 commented on #98
@raphaelauv #100  just landed which fixes this issue.

[2020-11-17 02:13] senior7515 commented on #103
@mcraveiro fyi #100 just landed. it will be in the packages later this week

[2020-11-17 08:33] mcraveiro commented on #103
Thanks very much for your prompt reply. I'll go through the different suggestions.

# Config

My config is unchanged from the package:

[code]

# Suggestion 1: Different topic and different group

This does not seem to have changed the behaviour. Producer:

[code]

Consumer:

[code]

Broker: No new messages in the broker.

# Suggestion 2: Remove API entries from config

Updates to config:

[code]

[2020-11-17 10:02] diwu1989 commented on #97
On dockerhub, there's no readme for the container. Please add simple readme to https://hub.docker.com/r/vectorized/redpanda

[2020-11-17 16:11] 0x5d commented on #97
@diwu1989 I am working on that as we speak. Thanks for the interest!

[2020-11-17 16:11] 0x5d commented on #99
Fixed in #100

[2020-11-17 16:11] #99 closed

[2020-11-17 17:22] 0x5d commented on #103
The `advertised` fields bug was fixed in #100

[2020-11-17 17:57] mcraveiro commented on #103
Thanks @0x5d, I will wait for this to hit the DEBs and then try again.

[2020-11-17 18:18] dotnwat commented on #99
@0x5d please link the PR to the issue. Writing `fixed in #100` here doesn't properly link.

[2020-11-17 19:09] dotnwat opened #111 "add readme to docker hub page"
https://github.com/vectorizedio/redpanda/issues/97#issuecomment-728823280

[2020-11-17 20:25] senior7515 commented on #103
@mcraveiro - yeah, the configuration for IP's must be correct once we bootstrap the raft quorum you'd have to perform a metadata update, etc. if it's just for testing remove `/var/lib/redpanda/data/*`

but also we just released fixes for this.  https://github.com/vectorizedio/redpanda/releases/latest

can you test again and close if it fixes your problem.

[2020-11-17 20:26] senior7515 commented on #103
@mcraveiro if you already have it installed on your computer you can just do `apt-get update redpanda` (after removing the /var/lib/redpanda/data directory)

[2020-11-17 20:26] senior7515 commented on #98
@raphaelauv fixed in the latest release https://github.com/vectorizedio/redpanda/releases/latest

let us know if you run into issues again.

[2020-11-17 21:00] mcraveiro commented on #103
Thanks very much for all your tips. So I trashed my data directory as mentioned:

[code]

I did an upgrade - couldn't quite get the command @senior7515 supplied to work, but the following incantation did the trick:

[code]

I then restarted the producer:

[code]
And the consumer does look happier but not quite all sorted I don't think:

[code]

I tried a few groups and different topics but always

[2020-11-17 21:18] senior7515 commented on #103
@mcraveiro did you create the topic or enable auto create ?

https://vectorized.io/documentation/advanced-configuration/

see `auto_create_topics_enabled: true` by default is `false`

[2020-11-17 21:50] mcraveiro commented on #103
It appears the config that comes with the DEB sets it to true:

[code]

[2020-11-17 21:55] mcraveiro commented on #103
But now you say that, it seems that is precisely the problem:

[code]

Producer:

[code]

Consumer:

[code]

So that looks good but then it goes quiet. Now, I would have expected a lot of data to start flooding in :-) but perhaps these test applications are not very verbose. I shall look into the source code and see if it should indeed be this quiet. At any rate, thanks very much, it seems I am al

[2020-11-17 21:58] mcraveiro commented on #103
Ah, silly me, it listens on ```stdin``` :-) Its all good. Producer:

[code]

Consumer:

[code]

So I guess the only remaining question then is the automatic topic creation.

[2020-11-17 22:22] dotnwat commented on #103
@mcraveiro thanks for the update, this is looking good.

one reason topic auto creation may not be working is that the client is setting `allow_auto_topic_creation` to false in its internal metadata request. this may be something you'd need to check on your side in the client / application, perhaps in a config file. happy to help here where possible, perhaps looking at the underlying open-source c

[2020-11-17 22:39] senior7515 commented on #103
@mcraveiro resolving issue. if metadata is a bug, let's open another one. thank you.

[2020-11-17 22:39] #103 closed

[2020-11-18 00:40] loopingrage commented on #111
Hey there. I tried using the docker image but can't seem to connect. I see a message in the log related to a missing License Key.  Hopefully this will be addressed in the README you're working on since I couldn't find anything else on it online. Also, it would be great if there was a way to run with `redpanda.developer_mode: true`.

[2020-11-18 00:50] dotnwat commented on #111
hey @loopingrage could you file a separate issue for the connection problem you are facing with some details? i believe the missing license key message is ok, but the connection issue may need to be addressed.

[2020-11-18 09:01] mcraveiro commented on #103
Thanks a lot guys, I'll look at the client for that option.

[2020-11-18 12:59] raphaelauv commented on #98
Hi thanks for your reply.

I just tried by pulling the latest docker image and it's still not working , did you try my docker-compose example ? Thank you again

[2020-11-18 16:31] #84 closed

[2020-11-18 17:02] loopingrage opened #123 "Java Kafka Client fails to connect to docker image"
I spun up an instance of `vectorized/redpanda:latest` and tried connecting from the my Docker host using the standard Java client. This is what I see in my application log:

[code]

I believe this is due to the fact that the Java client connects to redpanda as a bootsrtap and as part of the Kafka protocol handshake it is give the address to the actual broker which in this case seems to resolve to

[2020-11-18 17:18] dantodor opened #124 "Redpanda not starting"
Hello!

I'm trying to do some testing with redpanda. Installed on a AWS instance, Ubuntu 18.04.
I get this in the logs
`syschecks - Memory: '499122176' below recommended: '1073741824'`

and fails to start.

Yet:

[code]

What are the minimal system requirements ?

[2020-11-18 17:36] BenPope commented on #124
It needs >=1GiB per core. By default it will use every core. You can specify the number of cores with, e.g., `--smp 1`

[2020-11-18 17:54] dantodor commented on #124
Thanks for the quick response. The instance had 1 core and 2 GB of RAM ... need to add more ?
What about the XFS requirement ? I attached an EBS volume, formatted as XFS and mounted on /var/lib/redpanda ( I noticed that's where it installs the data directory, just my assumption). Is that OK ?

[2020-11-18 18:02] BenPope commented on #124
1 core and 2GiB should be fine, but are you sure it's 1 core? Usually you get at least 2 due to hyperthreading.

XFS is recommended but not required.

Try running:
`rpk config set rpk.smp 1`
And then also send the output of
`rpk check`

[2020-11-18 18:19] BenPope commented on #123
`advertised_kafka_api` needs to be set. Instead of using the docker standalone, it might be easier to use `rpk container start -n 3`, which will set things up properly: https://vectorized.io/rpk-container/

[2020-11-18 18:36] dotnwat commented on #123
we should probably consider exposing similar configurations via environment variable, perhaps even 1-1 with the kafka environment variables if there is a strong connection between configurations. it would seem to make sense for this sort of network configuration.

[2020-11-18 19:03] 0x5d commented on #111
Working on it: https://hub.docker.com/repository/docker/vectorized/redpanda

[2020-11-18 19:05] 0x5d opened #125 "rpk start: Allow passing --seeds and --advertised"
This will make it easier to run in general, but specifically in containers.

[2020-11-18 19:34] 0x5d commented on #125
Being able to pass it through an env var is a requirement too.

[2020-11-18 19:45] dotnwat opened #126 "kafka: partition id is not always set in fetch response error scenarios"

[2020-11-18 19:46] dotnwat commented on #98
@raphaelauv thanks for testing again! sorry, this ticket was closed too early.

there are a couple issues that we are working on to resolve this. first, we have a networking issue that is preventing the advertised server from being properly configured in this docker-compose scenario. follow https://github.com/vectorizedio/redpanda/issues/125 should be a pretty quick fix.

i was able to circumvent

[2020-11-18 19:50] dotnwat commented on #125
@0x5d we don't have to be able to pass through environment variables, but we need to be able to configure the advertised host configuration when starting up a docker container.

here is an example using environment variables, but it would be completely reasonable to take arguments via `command` that'll get appended to the entrypoint.

[code]

[2020-11-18 20:14] rfielding opened #127 "Building on PopOS (an ubuntu for System76)"
`sudo ./install-dependencies.sh` fails on PopOS, which is an ubuntu for System76 machines.  This is because it's an ubuntu where `/etc/os-release` looks like this, where `ID=pop`, so it's no in the list `ubuntu debian`:

[code]

I tried to just edit the `sudo ./install-dependencies.sh` script to just do `ubuntu | debian | pop` but it still fails later on in the build when it doesn't recognize `ID=

[2020-11-18 20:33] dotnwat commented on #127
thanks for the report. internally we use reproducible builds to create our binary releases, and the open source build system is mostly been tested on fedora and some on ubuntu, so its entirely possible these failures are due to something unique about popos.

could you run something along the lines of `ctest --output-on-failure 2>&1 | tee ctest.log` and post the output here? another important quest

[2020-11-18 20:44] dotnwat commented on #123
@loopingrage we're working on the issue related to advertised host in #125. in the meantime, i was able to get the java client to connect successfully to redpanda running in docker using host networking, if that is an option for you:

[code]

[2020-11-18 20:48] dotnwat commented on #111
@0x5d that link requires a login

[2020-11-18 21:13] senior7515 commented on #124
@dantodor  you can also set the `developer_mode: true` on the `redpanda` section

[2020-11-18 21:15] senior7515 opened #128 "vectorized ci raft test"
[code]

[2020-11-18 21:16] senior7515 commented on #124
@dantodor see here https://vectorized.io/documentation/advanced-configuration/

but like @BenPope mentioned, 2 GB/core is suggested for prod

[2020-11-18 21:17] senior7515 commented on #124
also, once you get this working, let me know so we can close it :)

[2020-11-18 21:27] rkruze opened #129 "Automatic load balancing of partitions"
Redpanda should automatically balance partitions (replicas) and leaders across the cluster's nodes to be as balanced as possible. The balancing should also be done across cores in a single box as well.

It should also be possible to turn off the balancer via a configuration option.

[2020-11-18 21:33] rkruze opened #130 "Configuration should be stored in Redpanda"
All configuration for Redpanda is currently stored in configuration files normally stored in the /etc/redpanda directory. Ideally, most of the configuration options needed should be stored in Redpanda itself. This would make it possible to quickly push out configuration information to the whole cluster. This could be done with something like a compacted topic.

One could envision just a list of se

[2020-11-18 21:40] loopingrage commented on #123
I'm running within a Docker Compose environment so host networking unfortunately does not work in my case. The `rpk container` option won't work for the same reason.

Just a thought. Is there a way to mount my own redpanda config file into the container? If you place the config file in its own directory that would be it pretty easy for me to do using a a Docker Compose volume that mounts a config

[2020-11-18 21:49] senior7515 opened #131 "developer mode should enable `developer_mode: true` in configuration"
We have run into many many tickets regarding this choice.

Let's let developers try the software without exiting due to non-xfs filesystems or under provisioned machines.

[2020-11-18 21:50] dotnwat commented on #123
@loopingrage yes, @0x5d i think has some instructions to make this volume mount + config trick work until #125 lands.

[2020-11-18 22:23] kezsto opened #132 "refreshBrokerMetadata causing errors on node-red kafka nodes"
When using node-red's currently maintained kafka nodes, refreshBrokerMetadata seems to be causing an error.

This can be reproduced by injecting with either this library and flow:
[node-red-contrib-kafka-manager](https://flows.nodered.org/node/node-red-contrib-kafka-manager)
[code]

[2020-11-19 00:48] senior7515 commented on #132
thanks @kezsto. we're looking into this. I didn't even know about node-red until now.

[2020-11-19 03:25] dantodor commented on #124
FWIW, I was able to get it running. But not on one core machine. I had to provision two cores/4GB machine, and then it started.

Also, there's a little bit of confusing info in this thread. @BenPope suggested >= 1GB/core , which is congruent with the error message I see in the logs. But even after running the rpk command to set smp to 1, it will still fail with exactly the same message, on a 1 cor

[2020-11-19 03:30] senior7515 commented on #124
@dantodor I agree. I started this https://github.com/vectorizedio/redpanda/issues/131 to keep track of this issue. We'll probably ship a fix on the next release, very likely next tuesday.

[2020-11-19 04:17] loopingrage commented on #123
Any thoughts @0x5d?

[2020-11-19 04:48] #101 closed

[2020-11-19 05:52] dotnwat opened #135 "Ignore min.insync.replicas if passed as a topic configuration."
I was using the Java Kafka Admin API and was trying to create topic using it but would get back the following:

[code]

This was pretty confusing and nothing shows up in the redpanda logs. We should just ignore this field as this is something that many people set when creating topics with Kafka.

Another thing, it would be great to print out an error message in the redpanda log when we are sent a

[2020-11-19 13:35] 0x5d commented on #123
Hi @loopingrage. You can put the config file (redpanda.yaml) in a directory and mount it into /etc/redpanda/ on the container.

You can use this as a template (complete reference: https://vectorized.io/documentation/advanced-configuration/):

[code]

[2020-11-19 13:45] 0x5d commented on #125
I've been wanting to port the rpk config mgmt to Viper for the longest time. That will make this way easier.

[2020-11-19 15:53] #131 closed

[2020-11-19 17:46] BenPope commented on #127
We can probably switch `/install-dependencies.sh` to use something like:
[code]
for debian-derived OS.

[code]

[2020-11-19 18:34] rfielding commented on #127
I did a hack to get through the build; which ran the risk of ruining my system.  I actually edited `/etc/os-release` to have ID set to `ubuntu` for the duration of the install dependencies and build.  But my system seems ok, and I have rebooted.

When I tried to just add popos as a case along with debian and ubuntu; it ended up failing later during install dependencies, where something ELSE wanted

[2020-11-19 18:35] rfielding commented on #127
ie: if i just edited the install-dependencies script, it never installed anything.  it just got farther along where it bailed out because ID was not in the set (ubuntu debian)

[2020-11-19 18:35] rfielding commented on #127
it found "pop" and had no idea what to do.

[2020-11-19 18:47] BenPope commented on #127
Looks like the install-deps script for seastar does the same. We could fold it into ours, or upstream the changes.

[2020-11-19 19:11] BenPope opened #138 "Introduce an HTTP endpoint for healthchecks"
Should be compatible with [Kubernetes probes](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes)

[2020-11-19 19:13] BenPope opened #139 "Replication should be rack-aware"
It should be possible to configure replicas to exist on different racks or availability zones.

[2020-11-19 20:22] rkruze commented on #135
Those where the ones I ran into but might be worth making sure we can handle all the configs listed here: https://kafka.apache.org/documentation/#topicconfigs

[2020-11-20 08:07] 0xdiba commented on #105
@dotnwat what did you have in mind?
We can easily have a script that invokes `clang format`, `crlfmt` & `yapf` and also make a github action out of it.
The only thing worrying me is the functionality duplication between internal & external builds.

[2020-11-20 15:31] BenPope opened #145 "pp/handlers: Parameter validation and error handling"
There are a few times of parameters, `query`, `body`, `path`.

Improve validation and error handling.

Passing a non-integer results in something like:
[code]

[2020-11-20 16:10] rkruze opened #146 "Set the default value for target_quota_byte_rate to be max int"
Currently today `target_quota_byte_rate` is set to 64MB/s per client id. It seems this want meant to mimic `quota.consumer.default`, which has been deprecated in favor of dynamic quotas. So when someone compares Kafka to Redpanda, it is possible they run into this 64MB/s limit with Redpanda but don't see the same behavior in Kafka.

[2020-11-20 16:18] rkruze opened #147 "kafka: support dynamic quotas"
Today we limit based on a per client id, which is a single setting for the whole server. It would be ideal to set a quota on a per-user basis on either byte, requests, or network throughput. This would be similar to how quotas are set in Kafka today. https://kafka.apache.org/documentation/#design_quotasconfig

Some examples of how this is set in Kafka can be found here: https://github.com/JNachtwe

[2020-11-20 19:20] rfielding commented on #127
What directory should I be in when I run that?  It's not finding an tests.  Even in ./tests dir

[2020-11-21 03:10] dotnwat commented on #127
ah, in `build/`

[2020-11-21 09:22] dantodor opened #152 "Error while connecting with Java Kafka driver"
I have an application that works pretty well with Kafka, using Akka Streams.
Latest version of Alpakka, brings in dependency on Kafka client 2.4.1

When I point it to Redpanda, this is what I get back:
[code]
Is there a configuration option that I'm missing ? What am I doing wrong ?
Thank you!

[2020-11-22 02:01] senior7515 commented on #152
@dantodor did you create the topic by chance? what does `rpk api status`  - if not checkout the config to enable topic auto create.

you might run into the incremental prefetch which we should release in a couple of days #25   - but my hunch is that the topic is not yet created.

check out config option here - https://vectorized.io/documentation/advanced-configuration/

[2020-11-23 04:16] dantodor commented on #152
@senior7515 Yes, the topic was created in advance. Re-starting redpanda solved the issue.

[2020-11-23 04:19] dantodor commented on #152
For some reason the full error is hidden, so I'm pasting it again here:
'''
Got error produce response with correlation id 6 on topic-partition postrawdata-0,
retrying (2147483646 attempts left).
Error: NOT_LEADER_FOR_PARTITION
'''
Even if auto-creating topics would have been disabled, I find it a little bit confusing, the fact that I'm running a single instance, and it answers me that it's not th

[2020-11-23 20:22] graphcareful opened #160 "script_manager_unit test failing"
This doesn't happen very often. Probably why no one has observed it yet. Test crashes, on test 'test_copro_topics', stack dump as follows:

[code]

[2020-11-24 04:35] chanced opened #165 "Using rpk on osx is a bit confusing. One error suggests that I need a license."
I'm really hoping to be one of your first cloud customers but I need to get the project done first. I'm assuming the licensing error is legacy, but I just want to be sure (I'm basing my speculation on https://vectorized.io/open-source/).

I was fumbling around trying to figure out how to create partitions so I could test my existing kafka-based tests against it. I create all topics programmaticall

[2020-11-24 21:43] #126 closed

[2020-11-24 22:41] rkruze commented on #165
Hi @chanced, thanks for giving Redpanda a try. Also, thank you for sharing your experience so far. It looks like you might have had an issue with Redpanda auto-creating the topic for you. Can you try creating the topic with a command like the following: `rpk api topic creat <name>` and then make use of it? When running on macOS only a subset of commands will work as expected, like `rpk api` or `rp

[2020-11-24 22:42] rkruze opened #170 "rpk on macOS should disable unsupported commands"
As pointed out in https://github.com/vectorizedio/redpanda/issues/165 some commands like `rpk status` doesn't work as expected on macOS. The same is true for commands like `rpk config`. These commands should be disabled until they are fully supported.

[2020-11-24 23:18] chanced commented on #165
hey @rkruze I should have mentioned I was able to create a topic through the CLI. I wasn't able to get sarama to do it programmatically though. I haven't taken the time to try and diagnose why that is.

[2020-11-24 23:32] chanced commented on #165
By the way, thanks for going with the licensing model you did. The industry, as a whole, is becoming harder and harder for a small non-funded venture to get off the ground. I don't fault Confluent for this but the resources to run Kafka/ZooKeeper are kind of nuts. Their cluster, so far as I can tell, will be $1k/mo after their incredibly generous 3 mo trial.

From what I understand, a N1 node (or

[2020-11-25 16:48] bithavoc opened #175 "Documentation feedback"
I want to track here some of the feedback I already shared with the team:

1. [`Single Node Production Setup`](https://vectorized.io/documentation) states `XFS` as a **Requirement**, turns out you can totally use redpanda without XFS, this was a show-stopper for me where I'm not looking for the best performance, I just don't want to deal with ZK so a Single node without XFS should work, my recomme

[2020-11-25 17:07] senior7515 commented on #175
cc: @rkruze @yougotashovel

[2020-11-25 18:57] 0x5d commented on #175
Thanks for the feedback @bithavoc! We'll get on this asap.

[2020-11-25 19:08] senior7515 commented on #175
@0x5d i think @dotnwat uses `area/<thing>` and has a color coding scheme. might be worth checking w/ him.

[2020-11-25 19:11] #25 closed

[2020-11-25 22:06] 0x5d commented on #175
Oh, that label was already there so I woke it up from its slumber. I'll create a new one.

[2020-11-25 22:50] senior7515 commented on #124
@dantodor can you try the latest release. also closing this ticket since you were able to start redpanda. feel free to reopen if not true.

[2020-11-25 22:50] #124 closed

[2020-11-25 23:16] senior7515 commented on #98
we should try this now that #25  and #126  merged.

[2020-11-26 03:31] dotnwat opened #178 "assertion failure inside abseil flat hash set"
on clang/debug receiving this running pandaproxy_client_fixture_rpunit. potentially an issue with lifetime in proxy client but also popped up after merging fetch sessions.

[code]

[2020-11-26 03:40] dotnwat commented on #178
indeed it does look like its from a abseil container in panda proxy

[code]

[2020-11-26 03:56] BenPope commented on #178
This code has had logging added to it to illuminate the issue.

Failure when fetch response received with outstanding metadata refresh:
[code]
c.f.: Success when metadata applied prior to handling fetch response:
[code]

[2020-11-26 04:05] BenPope opened #179 "Pandaproxy: Don't rely on global configuration"
Prefer instance specific configuration structs over `shard_local_config`

[2020-11-26 08:38] mmaslankaprv opened #180 "fetching multiple topics in single fetch request failed"
When multiple topics were part of a single fetch request, redpanda crashed with an assertion:
[code]

[2020-11-26 15:09] #180 closed

[2020-11-27 11:06] raphaelauv commented on #98
I pulled the latest container for redpanda still the same error

[2020-11-27 14:11] BenPope opened #186 "redpanda: Support multiple listeners"
See: https://cwiki.apache.org/confluence/display/KAFKA/KIP-103%3A+Separation+of+Internal+and+External+traffic

https://github.com/vectorizedio/redpanda/issues/98 highlights the problem; there are multiple networks - the docker network for the composed containers, as well as host. The advertised addresses need to be different, depending on which network the connection comes from.

[2020-11-27 15:07] BenPope commented on #98
@raphaelauv can you use host networking as above?

We're still working on configuration via env vars.

I've raised an issue for supporting multiple listeners.

[2020-11-28 18:37] #178 closed

[2020-11-28 18:41] BenPope commented on #138
The default behaviour from K8s is sufficient.

[2020-11-28 18:41] #138 closed

[2020-11-28 20:20] #160 closed

[2020-11-28 20:20] #85 closed

[2020-11-28 20:20] #86 closed

[2020-11-30 02:34] theseusyang opened #189 "merge and compress functions in the redpanda kernel?"
Hello All,
does repanda support merge and compress functions in the redpanda kernel?
for example, when tranporting small files , redpanda can merge these to a bigger file, and compress it.

[2020-11-30 16:21] rkruze opened #190 "rpk: Don't require the need for specify nodeID when providing seed servers"
Currently, today you have to specify the nodeID when providing a seed server. This might not be something the user knows about ahead of time, so it would be ideal if not required.

[2020-11-30 16:25] 0x5d commented on #190
Alex mentioned rpk could query the broker's metadata API to retrieve the ID. Seems like the most straightforward way to do it! I'll send a PR after I'm done with this one.

[2020-11-30 21:07] graphcareful opened #192 "coproc: Compact the copro script absl::hash_map after registration request"

[2020-11-30 21:43] 0x5d opened #193 "rpk container: Support Windows"
@rkruze I know you're working on this, so I'm creating this issue to track it :smile:

JIRA Link: [CORE-577](https://redpandadata.atlassian.net/browse/CORE-577)

[CORE-577]: https://redpandadata.atlassian.net/browse/CORE-577?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2020-11-30 22:26] BenPope commented on #190
I think this could be done inside Redpanda, too.

[2020-11-30 22:48] rkruze opened #194 "api: Error returned when trying to delete a topic"
When deleting a topic on redpanda it is possible to get the following error:

[code]

It seems that we are not always up to date on our topic information, which can easily be seen with the following:

[code]

When you run this you see output like the following:

[code]

[2020-12-01 00:28] bithavoc commented on #175
Also, I think the same place where the [docs](https://vectorized.io/docs) invite the visitors to run one of those package one-liners should also mention RAM requirements, when I tried the DEB script in Ubuntu 20 LTS in a node with 2GB of RAM I get:

[code]

logs say:

[code]

So there's a minimum of memory but no mention anywhere in the docs, I'm sorry if I missed it if it's there, the only requir

[2020-12-01 01:38] dotnwat commented on #194
@mmaslankaprv do we optimistically update the local metadata on the node handling the create/delete topic request before returning to handle this (assuming the next request hits the same broker)?

i wonder if we should start versioning the metadata? let's say i create a topic then the response from the controller could contain a new version (position in raft log, for instance) and then we'd stash

[2020-12-01 02:17] senior7515 commented on #175
i think that's a good point. @0x5d  - should we default to 1core ?

[2020-12-01 02:31] dotnwat commented on #105
@0xdiba i don't have anything in particular in mind. but perhaps it would make sense to have some local tooling available in the public repo (e.g. some script or python command to help contributors format their code) and then vtools could potentially include that to avoid duplication?

[2020-12-01 02:32] dotnwat commented on #105
@0xdiba this also might be premature. feel free to close this ticket if you think we should wait to deal with the issue until someone starts asking or a problem presents itself in the real world :)

[2020-12-01 05:40] dotnwat commented on #189
hi @theseusyang can you expand on your question a bit more? what functionality are you referring to?

[2020-12-01 05:55] dotnwat commented on #152
@mmaslankaprv what do you think about this? that it is a single instance seems like a bug.

[2020-12-01 06:10] dotnwat opened #195 "move coproc idl scripts out of top-level directory"
I think we should move `idl/*` closer to where they are used. this is what we do for other idl's in the tree. In this particular case, I think those json files for coproc can live in `js` directory, assuming that's where they are used.

[2020-12-01 06:11] senior7515 commented on #195
yes pls!

[2020-12-01 11:40] andresaristizabal commented on #195
Got it, I'll work on it today.

[2020-12-01 14:51] mmaslankaprv commented on #152
Now leader election for single node scenario works the same as clustered i.e. it is not instantaneous. We may add an optimization to make it atomic with creating raft instance. That is when raft group with single nodes start the leader is already elected.

[2020-12-01 19:12] 0xdiba commented on #105
@dotnwat I think the problem has already presented itself :) And the issue wasn't premature at all.
Hope the linked PR solves it for us.

[2020-12-01 19:50] 0x5d commented on #175
I'm all about making the first impression as seamless as possible. I think @rkruze had also mentioned that the dev mode should be the default. If we make that the case, then `redpanda.developer_mode` would be `true` and the minimum memory check wouldn't be strict. I think that's the way to go.

[2020-12-01 20:17] rkruze commented on #175
Fully agree that `redpanda.developer_mode` should be `true`.

[2020-12-01 21:23] graphcareful opened #199 "ControllerRecoveryTests fail to detect controller failover"
When running the ControllerRecoveryTests within the ducktape testsuite, this error is observed after some time:
[code]

Looks like the test timed out and failed. In the debug logs, it can be seen that an attempt to kill the controller node (node with id of 1) was attempted (note the kill command run within the ducker02 container), however later on it is observed that another node was actually kill

[2020-12-02 01:53] bithavoc commented on #175
Sorry I keep hijacking this thread with my experience, I know this issue was originally about about documentation but maybe this is somewhat related.

First, I have Redpanda running 🚀 yay!, I was able to use rpk to produce and consume dummy messages, but even when my app is ready to use any kafka cluster I still can't use Redpanda.

Here's my situation: given I have no knowledge of how to operate

[2020-12-02 17:20] mmaslankaprv opened #203 "kafka: Handle timeout in produce request"
We shouldn't ignore the `timeout` passed in a produce request.

Produce request contains a `timeout` filed indicating maximum time that is allowed to wait for a response.

[2020-12-02 20:47] #125 closed

[2020-12-03 00:08] rkruze opened #204 "rpk: running rpk status right after installing a cluster doesn't give status"
Today, if I run `rpk status` on a new cluster. I get the following information back:

[code]

In that, there is no information on if the node is up and running or what state the cluster is in. In order for me to get this information I have to create a topic:

[code]

We should show the cluster status information regardless of if there are topics created or not.

[2020-12-03 03:38] #105 closed

[2020-12-03 03:53] dotnwat commented on #203
@mmaslankaprv can you expand on this just a little... it's the timeout that the client sets in the request? is it all on the kafka side or do we require some changes in raft/storage?

[2020-12-03 06:39] mmaslankaprv commented on #203
The way to handle the timeout is an open question, I will update the comment as soon as I will have some more insight into this.

[2020-12-03 06:50] dotnwat commented on #203
Thanks! Thought it might be fresh in your mind.

[2020-12-03 07:21] dotnwat commented on #175
hey @bithavoc we are working on acls right now and part of that is to tackle authentication. today we only have ssl + plain, but by the end of the december we expect to have sasl+scram in addition to plain, so you could have a common SSL+SCRAM (user and password) setup.

we'll keep working on the docs, and please don't hesitate to dump more feedback here, it's great!

[2020-12-03 18:57] mmaslankaprv opened #211 "buddy-allocator forces us to use fragmented data structure vs flat maps."
Big contiguous memory allocation required to allocate `absl::flat_hash_map` for `compacted_index_reducer` caused redpanda to throw OOM exception.

Seastar heap dump:
[code]

[2020-12-03 19:00] senior7515 commented on #211
cc: @travisdowns

[2020-12-03 20:20] 0x5d opened #213 "Make rpk start testable"
Right now, a [`redpanda.Launcher`](https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/redpanda/launcher.go), is created inside of [`Start`](https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/start.go#L171). This prevents `Start` from being tested, because `Launcher#Start` results in rpk `exec`ing into redpanda.

Injecting the `redpanda.Launcher` impl would allow

[2020-12-04 02:43] rystsov opened #216 "Support idempotent producers"
- [x] Write a stub for init_producer_id
- [x] Introduce cluster wise id genertor
- [x] Add seq checking logic
- [x] Support seq table snapshots
- [x] Make compaction seq-aware

[2020-12-04 06:04] dotnwat commented on #211
When reaching for `node_hash_map` to replace a `flat_hash_map` also consider the `btree_map`. This is kind of a compromise because the nodes will hold more than one entry (its configurable via template parameter). of course you pay a search overhead and some unused space overhead.

[2020-12-05 00:06] #135 closed

[2020-12-05 02:08] emaxerrno opened #224 "storage: disable cache on compacted writes"
compaction reduces the cache hit ratio to 20%

![Screen Shot 2020-12-04 at 6 05 07 PM](https://user-images.githubusercontent.com/175206/101230673-9c788500-365b-11eb-9ad4-ee70a38bf7f7.png)

JIRA Link: [CORE-578](https://redpandadata.atlassian.net/browse/CORE-578)

[CORE-578]: https://redpandadata.atlassian.net/browse/CORE-578?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l

[2020-12-07 02:30] bithavoc commented on #111
Is there a reason why the docker hub page requires a login to see the image?

[2020-12-07 02:47] senior7515 commented on #111
@bithavoc  no reason. that should be public. probably a setting we forgot to turn on.

[2020-12-07 02:50] senior7515 commented on #111
@bithavoc  - https://hub.docker.com/r/vectorized/redpanda
@loopingrage  - also developer_mode:true is now the default too. So probably on Tuesday or so it will start w/ dev mode true. see #215

[2020-12-07 02:50] senior7515 commented on #111
this is the edit version. The read version is https://hub.docker.com/r/vectorized/redpanda

[2020-12-07 06:47] #65 closed

[2020-12-07 07:02] senior7515 opened #225 "documentation for integrating RPK with docker compose"
Folks already have docker compose setups for testing with Kafka. We should have a template for docker compose.

[2020-12-07 07:03] senior7515 commented on #225
might be related to #98

[2020-12-07 17:32] bithavoc commented on #111
@senior7515 I checked the rpk source code looking for the data directory I'm supposed to use to persist the data when I launch the docker image, it'd be great to have this info in the readme of the Dockerhub image.

https://github.com/vectorizedio/redpanda/blob/24d3eaebf5b4d1f421ec00ccf1587243ad6e72ea/src/go/rpk/pkg/cli/cmd/container/common/common.go#L245

In case anyone wonders, it seems to be `/

[2020-12-07 19:01] senior7515 commented on #111
@0x5d ^^ we should add that to the readme of the docker.

@bithavoc thanks for testing this! indeed. `/opt/redpanda/data` is the install path there.

[2020-12-07 22:23] fernandomora opened #233 "rpk does not correctly merge config values (auto_create_topics_enabled removed on release-20.12.2 docker image)"
I have realized or a breaking change on the latest `release-20.12.2` docker image:

[code]

`auto_create_topics_enabled` option has been removed from `release-20.12.1` to `release-20.12.2` docker image

Given that redpanda default behaviour is `auto_create_topics_enabled: false` unless specifically enabled, new `vectorized/redpanda:release-20.12.2` docker image has different behaviour than before.

[2020-12-07 22:27] andresaristizabal opened #234 "coproc: oom when pushing batches to many registered coprocessors"
I'm testing coprocessors implementation over multiples coprocessor, last test 100 coprocessor definitions, where every coprocessor read the same produce topic and return different result topic. the coprocessor engine can register all coprocessor definitions on redpanda, but when we add a new record for the "produce" topic, the wasm engine apply function but redpanda crash with

[code]

How do repl

[2020-12-07 23:01] graphcareful commented on #234
Adding a note if it isn't clear that the registration occurs without issue. The crash only occurs after actual data begins to be ingested by the pacemaker loop.

[2020-12-07 23:23] dotnwat commented on #234
@graphcareful we want to be careful not to allocate large contiguous regions of memory. things like 32K, 64K start to become an upper limit (as a general rule of thumb). that'd probably be less than 1000 batches in a vector, e.g.

[2020-12-07 23:28] graphcareful commented on #234
@dotnwat agreed, we have a ticket on upper bound of messages that we send to wasm engine, but this behavior looks to me like the loop isn't working as expected, as the test registered a bunch of copros all with the same input topic, which should have the same effect as just registering 1 one them. I.e. only one read should be performed and then 1 request sent to the wasm engine, a process_batch st

[2020-12-08 00:05] dotnwat commented on #233
@fernandomora this look like a mistake on our side. either the config file or maybe there was an intention to change the actual default in the code. @0x5d knows more about how that image is generated which should be the key to tracking this down. Thanks!

[2020-12-08 00:29] michaelandrepearce opened #235 "Add docs about helm chart"
Is there a helm chart at all? Or even a sample one like the team at scylla have
 https://github.com/scylladb/scylla-code-samples/tree/master/helm-chart-scylla

[2020-12-08 00:40] senior7515 commented on #233
@rkruze  - do you think this broke with #215 ?

@fernandomora  thanks!!! on it. good find. we'll enable it for docker.

[2020-12-08 00:47] dotnwat commented on #235
hey @michaelandrepearce there is a helm chart in progress. @senior7515 may have some additional insight into timelines and where to watch for that.

[2020-12-08 01:37] senior7515 commented on #235
@michaelandrepearce yeah, we should land this pretty soon on this repo. in the mean time check this out.

check this out. https://github.com/vectorizedio/deployment-automation/pull/14 - it doesn't have a couple of performance things in it, but first version hoping to land it this week here in the repo.

[2020-12-08 01:39] senior7515 commented on #235
cc: @oranda

[2020-12-08 02:15] senior7515 commented on #235
I'll assign myself once @oranda finishes it on the other repo, I'll merge it here.

[2020-12-08 06:36] senior7515 opened #241 "rpk: add cluster_id to configuration"
On large installations, it's impossible to tell which cluster (us-east-1) is not enough context even for one organization.

add cluster-id to configuration file/telemetry

[2020-12-08 06:36] senior7515 commented on #241
cc: @rkruze

[2020-12-08 14:36] 0x5d commented on #241
There already is a `cluster_id` field in the config file: https://github.com/vectorizedio/redpanda/blob/dev/conf/redpanda.yaml#L14.
It gets sent along with the rest of the config when `rpk start` is run (https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/start.go#L681) and when `rpk status --send` is run (https://github.com/vectorizedio/redpanda/blob/efbdbb3adbff912cc29b46cf8

[2020-12-08 15:51] dotnwat commented on #233
@0xdiba this is created automatically by one of our CI flows?

[2020-12-08 16:12] rkruze commented on #233
@senior7515 I don't believe it was as it seems in the docker image still has `developer_mode: false`. It seems this config file is generated by `rpk config bootstrap`.

[2020-12-08 16:18] 0xdiba commented on #233
@dotnwat Yes images are published automatically for every release (along with package publishing).

[2020-12-08 16:30] senior7515 commented on #233
@fernandomora  - this is a bug in `rpk` see #243  - we'll fix and tag a release very likely today.

thanks for the report!

[2020-12-08 16:31] rkruze commented on #241
The current cluster-id is not all that useful as it has to be set on a per-node basis, and as far as I can tell, each node can have a different cluster-id. Ideally, the cluster id would be generated when the cluster is first initialized or set on a single node is then set on all the nodes.

[2020-12-08 16:33] senior7515 commented on #241
@mmaslankaprv - let's have a chat about persisting the configuration in the raft-0

cc: @dotnwat

[2020-12-08 16:37] rkruze opened #245 "redpanda: Allow for configurations to be stored and shared across nodes"
Currently, all configurations have to be set on a per-node basis. This makes settings configurations, like a license key or other cluster wide configurations difficult as it requires having to push a new config to every node. Ideally, cluster-wide configurations would be stored in redpanda itself. Our current configurations manager used in `rpk` can pull configurations from etcd, which might be ve

[2020-12-08 16:46] senior7515 commented on #241
Closing in favor of #245

[2020-12-08 16:46] #241 closed

[2020-12-08 21:49] #233 closed

[2020-12-08 22:36] 0x5d commented on #233
Fixed. @fernandomora thanks so much for reporting this! https://github.com/vectorizedio/redpanda/releases/tag/release-20.12.3

[2020-12-09 02:11] dotnwat opened #249 "kafka: whitelist topic creation options that we explicitly support"
how do we behave if a user tries to use a configuration option that isn't supported, but we haven't explicitly listed here (e.g. if kafka added it and we didn't update this list)? For that reason, it seems like a white list would be more appropriate than an exclusion list.

_Originally posted by @dotnwat in https://github.com/vectorizedio/redpanda/pull/220#discussion_r537947507_

See ^ here for mo

[2020-12-09 02:30] senior7515 commented on #233
@fernandomora please wait for 20.12.4 in a few mins. waiting for cdn to propagate caches, etc.

[2020-12-09 03:24] senior7515 commented on #233
@fernandomora should be fixed now.

[code]

[2020-12-09 03:24] senior7515 commented on #233
that's the intended fix.  thanks for the report! much appreciated.

[2020-12-09 13:41] 0x5d opened #251 "rpk: Don't try to connect to a stopped local container cluster"
If `rpk api *` finds a local container cluster (i.e. one created with `rpk container start`), it will try to use it for the requested command, unless `--brokers` is passed. However, the cluster might have been stopped. In that case, it should detect so.

[2020-12-09 16:36] mmaslankaprv opened #254 "rpk: add tuner enabling `write through` cache in GCP installations"
We have to enable `write through` cache for all NVME 'Local SSD' drives in GCP VM instances.

[2020-12-09 16:48] senior7515 commented on #233
@fernandomora let me know if this fixes your problem.

[2020-12-09 17:31] mmaslankaprv opened #255 "raft: add simple leader load balancing or sticky leadership"
When topics are created or cluster is restarted one of the nodes may be a leader for most of the partitions. We need simple load balancing/leadership stickiness to make sure that the whole cluster is evenly loaded and there are no bottlenecks.

[2020-12-09 18:11] senior7515 commented on #255
did you want to start a discussion too ?

[2020-12-09 18:12] #255 closed

[2020-12-09 19:18] senior7515 opened #256 "rpk container start is broken on v20.12.5"

[2020-12-09 19:19] senior7515 commented on #256
cc: @rkruze

[2020-12-10 07:01] senior7515 commented on #256
20.12.6 fixed it.

[2020-12-10 07:01] #256 closed

[2020-12-10 07:08] senior7515 opened #262 "rpk container is sensitive to removal of `~/.rpk`"
when a container crashes for some reason on `rpk container start` one cannot simply delete the ~/.rpk because rpk container will crash.

easy to test with any abrubt termination of the container.

[2020-12-10 13:00] raphaelauv commented on #98
Thank for the hack ( host networking ) but multiple listeners is a necessary feature for my kafka stack. I will wait until it's ready.

[2020-12-10 14:33] 0x5d commented on #262
I'm not able to reproduce this with v20.12.6:
[code]

[2020-12-10 16:34] rkruze opened #264 "redpanda: deleting topics with groups results in group errors"
When a topic that had a consumer group tied to it is deleted an error is returned, like the following:

[code]

If you rerun the delete code, it is then successful.

JIRA Link: [CORE-579](https://redpandadata.atlassian.net/browse/CORE-579)

[CORE-579]: https://redpandadata.atlassian.net/browse/CORE-579?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2020-12-10 17:26] rkruze opened #265 "redpanda: set target_quota_byte_rate to be default of 1GB"
Currently, `target_quota_byte_rate` is set to 64MB, which might limit a given client. Kafka doesn't have a default limit like this. You can set it a limit, but by default, it is unlimited. We should by default set our limit to be 1GB

[2020-12-10 18:38] senior7515 commented on #265
i think you can just make the change on `config/configuration.cc` should be a one line change, just a number. `1_GiB` is basically the change.

[2020-12-10 22:37] rkruze opened #269 "redpanda: support multiple disk configurations"
This request came from jimmy888 on Slack. The use cases outlines were the following:

[2020-12-11 00:57] rkruze opened #271 "Error with test_cluster_rpunit"
This seems to run successfully about 75% of the time. When I run the following in a clang release `ctest -VV -R test_cluster_rpunit` I sometimes get the following output and most of the time it passes:
[test_output.txt](https://github.com/vectorizedio/redpanda/files/5676444/test_output.txt)

[2020-12-11 01:03] dotnwat opened #272 "storage: make segment appender chunk size configurable at runtime"
Currently this is hard coded to be 16kb and should be runtime configurable. @rkruze

[2020-12-11 05:06] dotnwat commented on #269
agree we need support for multiple disks. raid-0 surely has its place, but it's also problematic. when we tie together a bunch of huge devices, that becomes a single unit of failure and rebuild becomes expensive. I suspect that jbod will be a more common deployment configuration and multi-disk support is needed there for sure.

i'm not sure i understand the ramdisk use case. it sounds application

[2020-12-11 05:28] #265 closed

[2020-12-11 05:37] dotnwat commented on #98
thanks @raphaelauv we'll update when its done. turned out to be more work than we anticipated, but i'd say early next week.

[2020-12-11 08:30] mmaslankaprv commented on #271
found, the issue, it is related with heartbeat suppressing, not yet inf `dev` branch. I will update #252 with necessary changes. Thanks @rkruze, great find.

[2020-12-11 10:23] mmaslankaprv commented on #264
The problem we are seeing here is caused by the fact that both workers request topic removal.
[code]
The request is processed on different shards which means that the connections are different. The requests are correctly serialized by redpanda so that one of them is processed when other one already deleted the topic.

[2020-12-11 16:55] mmaslankaprv opened #275 "kafka: add fetch request NTP gathering per shard"
Minimize the number of cross core hops by collecting all NTPs that have to have reads dispatched to the same core and do it in one request

[2020-12-11 16:57] mmaslankaprv opened #276 "notification based handling in fetch request"
We should add notification based handling of fetch request on local core leaving remote core operations.

[2020-12-11 19:05] graphcareful commented on #234
@andresaristizabal after looking at the stack trace again:
[code]

it appears as though the crash comes from allocating a vector of records. There is a size value in the kafka record batch, if this size was incorrect and set to a large value from the wasm engine, it would cause this issue. Can you verify on your end the sizes sent ?

[2020-12-11 21:47] senior7515 commented on #234
@graphcareful we should reject ecessively sized payloads. maybe 1MB max or something like that.

[2020-12-11 22:06] graphcareful commented on #234
@senior7515 I like the idea. After noticing this issue my plan is to build on the unit test tooling I have already setup, where we can test sending large amounts of data to the router, using the c++ 'supervisor' i have created. IMO this will kill two birds with one stone, it lets us benchmark and throw large payloads at the router, and secondly when we see another issue like this we will know if t

[2020-12-13 14:49] #271 closed

[2020-12-14 02:44] senior7515 opened #282 "kafka streams need INCREMENTAL_ALTER_CONFIGS"
from a customer:

[code]

[2020-12-14 22:49] rystsov opened #285 "Adds motinoring capabilitues to a mutex to detect if somebody holds for too long"
We run into several issues when a fiber was holding a lock for too long causing other fibers to stall. If add monitoring capabilities to a mutex to track how long and who it was holding it then it'll help us to detect and debug such problems faster.

[2020-12-15 02:46] dotnwat commented on #282
I was not able to trigger an invocation of incremental alter config via streams. Some guidance there may be helpful.

But I added the API anyway and since we don't have support at the moment for altering arbitrary configs we'll have to see how it works out. If clients have the ability to remove calls to change configuration at runtime or otherwise ignore errors then this should be ok. OTOH if some

[2020-12-15 06:32] travisdowns commented on #211
@mmaslankaprv - a question: the total available memory on the shard associated with the dump looks like 199M, adding up the free column<sup>1</sup>. Is that a normal amount of memory for a shard? I thought a shard would normally be configured with 1 GB at least.

To be clear, it doesn't matter that much here: I expect the issue would still happen, just a bit later, but I wanted to check my underst

[2020-12-15 06:40] mmaslankaprv commented on #211
We have limited the amount of memory to `200MB` per core in order to trigger the fragmentation issue faster

[2020-12-15 06:41] dotnwat commented on #211
Speculating on behalf of Michal, I think we are probably starting seastar with a small `-m` memory limit so the issue is faster to reproduce. Normally yes in production all of a node's total memory will be used and divided evenly across cores.

[2020-12-15 06:44] #254 closed

[2020-12-15 06:46] travisdowns commented on #211
Race condition in the comments, no mutex used :).

[2020-12-15 22:41] michaelandrepearce commented on #235
Sounds positive looking forward to giving it a spin , to see how easy it is to switch over from apache kafka.

[2020-12-15 23:09] dotnwat opened #292 "support default settings for create topics api request"
[code]

[2020-12-16 01:05] #292 closed

[2020-12-16 01:52] #282 closed

[2020-12-16 04:07] rkruze opened #294 "rpk: when providing just a hostname to --rpc-addr if no host is specified it defaults to 9092 instead of 33145"
If you were to specify `--rpc-addr` with only an IP and not an IP:port, it will default to 9092 vs. 33145.

[2020-12-16 06:13] travisdowns commented on #211
@mmaslankaprv - do you recall how you reproduced this issue quickly on a "real" load involving RP?

I've reproduced it synthetically in various scenarios, but I want to double check my assumptions with the full binary.

[2020-12-16 06:46] mmaslankaprv commented on #211
We were using the following setup:
- 200MB of memory per core
- 200MB size of segments
- 10s compaction interval
- our internal verifier tool to generate records with 10,000,000 unique keys
- topic with 16 partitions and replication factor of 3

Effectively you need to add this to redpanda config file:

[code]

[2020-12-16 14:19] andresaristizabal commented on #234
Hi guys, after checking the bug with Rob, we found the error was related to another issue on the coprocessor nodeJs server, I fixed it and try to replicate it, but it didn't possible. the error was related to the size item on RPC header, I was sending the checksum as length, the checksum is 64 bits and the length doesn't support it.

[2020-12-16 14:19] #234 closed

[2020-12-16 18:36] dotnwat opened #296 "produce api version negotiation broken with librdkafka 0.11.6"
It _looks_ like 0.11.6 supports version 2 of the message format, but negotiation seems to result in librdkafka sending messages with version 1. looks like this might be related to not supporting api versions request, but that it needs to be enabled in that particular version of librdkafka.

[2020-12-16 21:30] rkruze commented on #245
It would also be great if users didn't have to specify a `node_id` when starting a new node. This should be something that should just be auto-assigned to new nodes as they join the cluster.

[2020-12-17 03:43] rkruze opened #300 "rpk: show help for incorrect number or invalid arguments"
When you run something like `rpk container start -x`, you get the following:

[code]

another example:

[code]

We should print out the help message for the given command.

[2020-12-17 03:52] rkruze opened #301 "rpk: put all redpanda specific commands under the redpanda namespace"
Currently, rpk has the following commands which are used to manage rpk:

- config
- status
- check
- mode
- start
- stop
- tune

We should place them under a single namespace `rpk redpanda` or similarly named.

[2020-12-17 03:56] rkruze opened #302 "rpk: topic create should default to 3 replicas if there are 3 nodes in the cluster"
Currently, `rpk api topic create <topic>` always defaults to just one replica. We know the cluster's state, so we should default to 3 replicas to be safe by default unless there is only one node in the cluster in which case we should default to 1 replica.

[2020-12-17 07:06] #275 closed

[2020-12-17 22:42] senior7515 opened #304 "rpk: incorrectly ignores the --overprovisioned seastar flag"
[code]

there is a conflict w/ `overprovisioned: false` - by design we need to be able to override or crash the configuration if conflicting options are passed.

[2020-12-18 17:34] BenPope commented on #302
There's a `default_topic_replication` in [Redpanda config](https://vectorized.io/docs/advanced-configuration/), which should be honoured, which probably means not sending a replication factor if one [isn't specified](https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/api/topic.go#L49).

[2020-12-18 18:36] rkruze opened #308 "rpk: start fails to run on k8 when using a persistent volume on ebs in eks"
When running redpanda on EKS using a persistent volume on EBS, I get the following:

[code]

To get around this, I've set `check=false`, which allows redpanda to start.

[2020-12-18 21:46] rkruze opened #309 "rpk: full status is printed out to the logs every 10 mins when sending metrics"
The `redpanda-status.service` send metrics information every 10 mins and prints out the full `rpk status` to the log. This can end up being pretty verbose and fills up the logs, especially when running on something like k8 where everything is going to standard out.

The service should not print out the results of running `rpk status` but should only log if any issues are encountered.

[2020-12-19 05:09] rkruze opened #310 "pkg: admin-api-docs directory in /etc/redpanda should be in /usr/share/redpanda"
In the `/etc/redpanda` directory, there is a directory labeled `admin-api-docs`. Having this here makes mounting the /etc/redpanda directory on systems like K8 more difficult. The `admin-api-docs` should be moved to `/usr/share/redpanda`.

[2020-12-19 15:43] BenPope commented on #310
A change is also needed in https://github.com/vectorizedio/deployment-automation

[2020-12-21 20:54] 0x5d opened #317 "docker: Config file is owned by root after startup"
The default config file dir (`/etc/redpanda`) is owned by `root` instead of `redpanda`. https://asciinema.org/a/5O5ClO5G3V9pViwGhDZ53Nuou

[2020-12-21 21:49] graphcareful opened #318 "coproc: Pacemaker lags behind input log"
When stress testing the pacemaker, it can be seen that the pacemaker isn't keeping up with the pace of writes from the input log:
[code]

Heres a du of the two logdirs by the end of a test. The identity topic materialized log should have the same records as the input topic, but it seems to have much less data.

[2020-12-21 22:25] 0x5d commented on #262
@senior7515 should we close this?

[2020-12-21 23:08] dotnwat opened #319 "incompatible noexcept spec on boost intrusive list iterator"
Workaround is here https://github.com/vectorizedio/redpanda/commit/9fffa6260a4fb407143a0e7be1c2c3c281a571ea

The issue is when we have a boost intrusive list iterator member in a class with a default noexcept move constructor. The iterator has an implicit may-throw move constructor, and in this case the standard says that the defaulted noexcept should be deleted because the exception specification

[2020-12-21 23:08] dotnwat opened #320 "gcc-9 invalid exception specification for boost intrusive list iterator"
Workaround is here https://github.com/vectorizedio/redpanda/commit/9fffa6260a4fb407143a0e7be1c2c3c281a571ea

The issue is when we have a boost intrusive list iterator member in a class with a default noexcept move constructor. The iterator has an implicit may-throw move constructor, and in this case the standard says that the defaulted noexcept should be deleted because the exception specification

[2020-12-21 23:10] senior7515 commented on #319
hahaha, my old me was at least honest `but warns in gcc9. Punting to hunt this bug for later.` eeek.

[2020-12-21 23:12] senior7515 commented on #262
This was true when we used to write the config on ~/.rpk ... so i think still present, but yeah we can close for now.

[2020-12-21 23:12] #262 closed

[2020-12-22 01:28] dotnwat commented on #318
Is the conversion happening in parallel?

[2020-12-22 01:38] graphcareful commented on #318
For a bit it was, leaving the chat highlights here for notekeeping. Attempted to adjust batch read size, removing flush on every write to materialized log, and reading from the dirty offset with no noticeable change. Performed other small improvements to the supervisor like reducing the amount of copying with no improvement as well.

Moving forward I will try to profile and isolate the source of t

[2020-12-22 01:55] dotnwat commented on #317
What's the motivation for this? Generally you'll find everything under `/etc` is owned by root.

Does this related to `rpk`, in which case I think both debian and redhat have some guidance on when applications change their own configuration files under `/etc` (e.g. https://www.debian.org/doc/manuals/maint-guide/dother.en.html#conffiles).

We should attempt (though it might not always be feasible)

[2020-12-22 04:05] senior7515 opened #321 "survive data directory deletion by admin"
Steps to reproduce:

1. disk full
2. admin logs in and `rm -rf` a particular topic on all nodes
3. admin reboots nodes

The expected outcome should be for redpanda to recover.

[2020-12-22 04:14] senior7515 opened #322 "rpk: add ability to create and manage ballast files"
When running out of disk space, admin should be able to delete a ballast file to get the node to boot.

default can be 5% - https://www.cockroachlabs.com/docs/v20.2/cockroach-debug-ballast

[2020-12-22 04:33] senior7515 commented on #322
should be 5% or 5G whichever is smallest.

[2020-12-22 04:34] dotnwat commented on #321
Adding more detail. The idea is that admin wants some way to purge out some data to free up space. Experience with kafka was that they could delete all the files on disk and the cluster would recover with the same topic but the topic is empty--truncated at zero.

i think that this goal is good, but i think we should avoid complicated heuristics. for example, if we make it safe to delete data on a

[2020-12-22 04:37] senior7515 commented on #321
I'm not sure that it needs to reset to zero. Why can't it be treated the same way we treat a compacted segment. We start w/ an empty directory? ... pick up offset from the last kv store which can default to 0.

[2020-12-22 04:42] dotnwat commented on #321
that works. it's a configuration / behavior heuristic, but that one is easy to add a configuration option for.

[2020-12-22 04:49] senior7515 commented on #321
@mmaslankaprv

I think we can change this assert to be `>=` rather than `==`

https://github.com/vectorizedio/redpanda/blob/dev/src/v/raft/consensus.cc#L904-L920

[2020-12-22 04:51] senior7515 commented on #321
[code]

[2020-12-22 05:12] dotnwat commented on #302
@0x5d is this an rpk issue or a redpanda/kafka/controller issue?

[2020-12-22 05:16] senior7515 opened #324 "add context to raft logs for starting + recovery finished"
logs like

[code]

offer no value. Let's get the `starting` and `recovered` print the `ntp`

[2020-12-22 05:16] senior7515 commented on #324
sorry my bad. it has all the information! haha.

[2020-12-22 05:16] #324 closed

[2020-12-22 05:52] senior7515 commented on #302
@BenPope has a good point.

[2020-12-22 06:40] mmaslankaprv commented on #321
It is all not so easy, logs are recovered in storage layer, before raft starts. There are some metadata in KV store.

[2020-12-22 07:26] mmaslankaprv commented on #321
Assertion in [consesus.cc@911](https://github.com/vectorizedio/redpanda/blob/dev/src/v/raft/consensus.cc#L904-L920) is correct. This means that when log start offset is greater than dirty offset i.e. log was prefix truncated we must have snapshot that we may use to establish the term. Without the snapshot being present Raft is unable to get the term information for given offset. The assertion is c

[2020-12-22 10:55] chiting commented on #317
Hello, I checked the last version `20.12.7` and it seems `/etc/redpanda` and its content are now owned by `redpanda:redpanda`

[2020-12-22 12:24] alenkacz opened #327 "Rpk container start claims there's cluster, but it cannot be stopped"
So is my node 0 running or not? :-)

RPK was build from latest dev

[code]

[2020-12-22 12:25] alenkacz commented on #327
I can take a look at this one as well

[2020-12-22 12:29] alenkacz commented on #327
[code]

[2020-12-22 12:56] BenPope commented on #327
Hi @alenkacz, what's in the log? Did it fail to start?

[2020-12-22 13:18] 0x5d commented on #304
Edited the description to fix the log's format.

[2020-12-22 14:58] #321 closed

[2020-12-22 15:50] 0x5d commented on #327
`rpk container start` should probably wait until all containers are up & running for some time before exiting. This looks like the container failed, so `rpk container stop` didn't need to do anything.

@alenkacz can you post the output of `docker logs rp-node-0` please?

[2020-12-22 15:57] 0x5d commented on #317
@chiting what version were you running before? As far as I could tell, that's the case since 20.12.6.

[2020-12-22 16:12] alenkacz commented on #327
[code]

Probably also some testing improvements can be done here as well. Are there some e2e tests around rpk already?

Yeah I was thinking the same - it should wait until it starts. I can try to come up with a patch if you want.

[2020-12-22 16:18] BenPope commented on #327
I think it's this bug: https://github.com/vectorizedio/redpanda/pull/325

[2020-12-22 16:47] 0x5d commented on #327
@alenkacz there are some e2e tests but none for `rpk container` yet, sadly. I'm working on them (should have a PR ready next week!) but they're in an internal repo though.

[2020-12-22 16:50] BenPope commented on #327
This is now fixed in 20.21.8 / latest:
[code]

[2020-12-22 16:51] alenkacz commented on #327
Thanks :) That was fast!

[2020-12-22 16:52] BenPope commented on #327
Great! The container is fairly new and we clearly need to add more tests!

It was already in progress!

[2020-12-22 16:55] 0x5d opened #331 "rpk container start: Wait for the nodes to be stable before exiting."
Otherwise, more issues like https://github.com/vectorizedio/redpanda/issues/327 could pop up again.

[2020-12-22 16:55] 0x5d commented on #327
@alenkacz if you wanna work on the patch to make `rpk container start` wait for the nodes, I'd be happy to review it. I created an issue to track it too: https://github.com/vectorizedio/redpanda/issues/331

[2020-12-22 17:08] rkruze commented on #322
I think 1GB is more than enough to get the node back up and running.

[2020-12-22 17:09] chiting commented on #317
@0x5d I see what happened now: I was using latest and it was 4 weeks old. I'm not sure if I pulled it recently or not but sorry for the noise.

[2020-12-22 17:17] 0x5d commented on #317
No problem! Thanks for trying out the docker image, let us know if you run into any more issues :smiley:

[2020-12-22 17:17] #317 closed

[2020-12-22 17:29] alenkacz commented on #327
alright, I think I can close this one then, right? -> done

[2020-12-22 17:29] #327 closed

[2020-12-22 17:34] 0x5d commented on #294
@rkruze do you have a command so I can repro this? I was looking into this and actually found the opposite to be true: `--kafka-addr <ip>` results in `<ip>:33145`.

[2020-12-22 19:36] rkruze opened #333 "redpanda: cluster will not form without a node with an empty seed server list"
When setting up a cluster, you want to make sure all nodes have the same seed servers. This includes the initial node since if it was to come back with an empty data directory you would want it to be able to join the cluster automatically without user intervention. This does not work today. If you set up a three-node cluster with each node having all three nodes in its seeds list it will never for

[2020-12-22 19:49] rkruze commented on #204
I really want to have something like:

[code]

[2020-12-22 19:56] BenPope commented on #333
Probably related/prerequisite: https://github.com/vectorizedio/redpanda/issues/245

[2020-12-22 20:52] 0x5d opened #335 "rpk: Remove the license key check"
Currently, either rpk or redpanda have enterprise-only features, which makes the license key check unnecessary. Some users have also found it confusing, making them think there's something broken. Therefore, it should be removed.

[2020-12-22 20:59] 0x5d commented on #165
The license msg issue will be fixed with #335

[2020-12-23 00:44] BenPope commented on #335
It might be useful for those on the [Redpanda Community Licence](https://github.com/vectorizedio/redpanda/blob/dev/licenses/rcl.md), but it can always be resurrected, and predicated on the enabled features.

[2020-12-23 02:37] graphcareful commented on #318
Status update: Bug has been identified. the source is the event loop timer, its not really firing every 10 milliseconds as initially would be expected.

[2020-12-23 07:35] senior7515 commented on #333
i remember @mmaslankaprv mentioning we had a restriction to form the raft groups from one node, i.e.: to bootstrap from one node. we needed to differentiate node joining vs node bootstrap. i think we have more metadata tracking now we can make that distinction. basically if not in set.

[2020-12-23 07:36] senior7515 commented on #310
I think this is merged. @rkruze please reopen if not.

[2020-12-23 07:36] #310 closed

[2020-12-23 08:20] senior7515 opened #339 "metadata dissemination service: update eventual consistent metadata on deletes"
[code]

[2020-12-23 08:21] senior7515 commented on #339
I think this is what @rkruze was actually seeing. metadata dissemination doesn't finish the updates on deletes.

[2020-12-23 09:03] mmaslankaprv commented on #339
This is another issue. All the topics in the cluster were deleted. Clients were still running. When client asks for metadata the topic gets autocreated with default settings i.e. single partition, replication factor = 1. This is the state that we are seing

[2020-12-23 17:53] #165 closed

[2020-12-23 19:03] rystsov opened #340 "Redpanda: update state_machine not to fail when log is truncated with raft::write_snapshot"
When an app using `state_machine` is restarted after  the log is truncated via calling write_snapshot with should_truncate set to yes the app fails with `Reader cannot read before start of the log 0 < 9` bacause state_machine expects a log starting with zero.

The expected behaviour is that state_machine should start reading from first available offset.

[2020-12-23 21:05] mmaslankaprv opened #342 "fix raft replace_whole_group test"
The `replace_whole_group` test is failing in CI. We have to investigate to find out the reason and fix it.

[2020-12-23 21:43] #309 closed

[2020-12-24 00:14] #335 closed

[2020-12-24 00:17] senior7515 commented on #235
@rkruze we just need to add a pointer here - https://github.com/vectorizedio/redpanda/blob/dev/docs/www/ansible-terraform.md

or on a file like that.

[2020-12-24 00:17] #128 closed

[2020-12-24 00:18] senior7515 commented on #129
I think @mmaslankaprv added #290 which IMO solves this.

the x-core balancing should be a different ticket tho.

[2020-12-24 00:20] senior7515 commented on #127
@rfielding are you still interested in contributing this fix? or should we close.

[2020-12-24 00:21] senior7515 commented on #111
we added docs on the dockerhub. though @0x5d should we mention the following config as the most common one there?

[code]

[2020-12-24 00:21] #111 closed

[2020-12-24 00:23] senior7515 commented on #78
@yshalabi let me know if still interested in submitting this patch or if we should close.

[2020-12-24 00:24] senior7515 commented on #30
@dotnwat i think you fixed this.

[2020-12-24 01:12] 0x5d commented on #111
I think that config file isn't needed. You can just run `docker run -tiP vectorized/redpanda:latest start --smp 1 --memory 2G`. I have an open draft PR for the dockerhub docs, I will get to update it as soon as I'm done with the rpk tests.

[2020-12-27 19:23] 0xdiba opened #344 "Node dashboard server is not working"
The dashboards endpoint does not seem to work properly.
After correctly setting up the `dashboard_dir`, starting redpanda and trying to access the dashboard, the following error is reported:
[code]

[2020-12-28 15:09] #213 closed

[2020-12-28 15:19] andresaristizabal commented on #195
Fixed and merged: https://github.com/vectorizedio/redpanda/pull/289

[2020-12-28 15:19] #195 closed

[2020-12-28 18:42] 0x5d commented on #304
@senior7515 I wouldn't consider this a fatal conflict. There's a hierarchy: flags > environment > config. The `additional_start_flags` list is overridden by any of the above. The `--overprovisioned` flag and `rpk.overprovisioned` config field have existed for a couple versions now (`--smp` & `--memory` are also available in `rpk start`). I think if a user wants to set those values they should use

[2020-12-28 18:48] 0x5d commented on #302
@dotnwat sorry I hadn't seen your question. This isn't a redpanda server error, but that `rpk api topic create` has a default value for `--replicas` of 1: https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/api/topic.go#L126

[2020-12-28 20:52] 0x5d opened #346 "redpanda: Typo in configuration.cc"
It should be `default_topic_replication`, without the trailing "s": https://github.com/vectorizedio/redpanda/blob/dev/src/v/config/configuration.cc#L245

[2020-12-29 02:05] senior7515 commented on #346
@0x5d seems longer to open an issue than to file a pr

[2020-12-29 03:49] rkruze opened #350 "redpanda: support for decreasing number number of cores via smp"
You can currently increase the number of cores used with no issue but decreasing the number of cores will result in redpanda not starting. This is problematic for K8, where limits might be adjusted over time or as a user adjusts the number of cores in a local development environment.

JIRA Link: [CORE-580](https://redpandadata.atlassian.net/browse/CORE-580)

[CORE-580]: https://redpandadata.atlass

[2020-12-29 13:11] 0x5d commented on #346
@senior7515 I can change the string quickly, but there might be people using the old field, so I think the new one should be introduced and the old one deprecated. Redpanda would probably want to check both, and if the old one was used, print a deprecation warning.

[2020-12-29 15:33] BenPope commented on #304
The order of flags > env > config is pretty obvious, but an ordering of two places in the config file is arbitrary, so I say it's best to detect it and exit with an error.

[2020-12-29 17:04] rkruze opened #352 "rpk: handle passing parameters like "3Gi" for --memory"
Today, you can only pass in values like "3G" or "500M" to the memory flag as these are the only values supported by seastar.

https://github.com/scylladb/seastar/blob/6598966aa2711d2ecfc280ec563f5a401087b0f4/src/util/conversions.cc#L37

In RPK, if passed in something like "3GB" or "3Gi" we should be able to convert that to the format that seastar wants. If passed today, you get an error like:

[co

[2020-12-29 18:04] andresaristizabal opened #353 "Change input config from redpanda.yaml to input flags for coproc/js"
At this moment, for coprocessor js implementation, the input config is load from a  `redpanda.yaml`, the idea is to change that from reading a file to pass the config via node js command arguments.

[2020-12-29 19:56] 0x5d commented on #353
@andresaristizabal please specify this is for the coproc side, since it's new. This will take more time for `redpanda` & `rpk`.

[2020-12-29 20:08] #302 closed

[2020-12-29 22:30] dotnwat opened #354 "cross segment compaction"
* segments a, b, c
* delete metadata indexes
* concat b onto a then compact that
* repeat with a' and c
* limit the size that segments reach

a pre-sorting function which chooses which pairs to merge.

[2020-12-29 22:57] senior7515 commented on #354
https://github.com/vectorizedio/redpanda/blob/dev/src/v/storage/disk_log_impl.cc#L246-L261

[2020-12-30 12:14] BenPope opened #357 "ctre appends -std=c++17, disabling c++20"
As mentioned here: https://github.com/vectorizedio/redpanda/pull/349#pullrequestreview-559726483

`ctre` pushes `-stdc++17` into the flags

https://github.com/hanickadot/compile-time-regular-expressions/blob/main/CMakeLists.txt#L33

This is true when compiling some of the kafka directory.

[2020-12-30 19:12] rkruze opened #359 "config: naming difference between advertised_rpc_api and rpc_server"
The current config has the following to define where the rpc server listens to:

[code]

but to the advertise config is named slightly differently.

[code]

The two should have the same postfix.

JIRA Link: [CORE-582](https://redpandadata.atlassian.net/browse/CORE-582)

[CORE-582]: https://redpandadata.atlassian.net/browse/CORE-582?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJw

[2020-12-30 19:27] 0x5d commented on #359
100%.

While this affects rpk, the most significant changes need to happen in redpanda (those fields are in the `redpanda` config object).

Rephrasing what I said here: https://github.com/vectorizedio/redpanda/issues/346, I think renaming them is very easy, but it would break existing installations. Therefore we should add new fields and support the older ones with a deprecation warning if they're

[2020-12-30 19:30] 0x5d commented on #359
Whoops. My bad.

[2020-12-30 19:54] dotnwat commented on #357
It looks like ctre shouldn't be setting the c++17 flag, but I'm unable to reproduce the issue in redpanda--no instances of `17` in compile_commands.json.

[2020-12-30 19:54] #357 closed

[2021-01-04 10:50] mmaslankaprv commented on #333
Currently we operate with the following assumptions:

- node without seed servers is designated as a cluster root, it is the only node that will initiate cluster formation, when no more
nodes are present the node with empty seed server list will form a single node cluster
- node with seed server list will use the seed servers to communicate with the cluster to join

[2021-01-04 10:59] BenPope commented on #333
How does one restart the cluster root? Should it have seeds? What if it lost its data dir?

Would it make sense to have a two-phase initialisation, where a tool, perhaps RPK, triggers cluster formation?

[2021-01-04 11:23] mmaslankaprv commented on #333
Restarting node is not a problem. The problem is when it lose the data directory, then we have to change configuration to point it to different nodes to join the cluster. I am wondering how is this solved in CoackroachDB. They similar approach to seed servers.
We were targeting the easiest way of bootstrapping the cluster. Two phase approach is an option but certainly more complicated one. Maybe w

[2021-01-04 11:46] BenPope commented on #333
I think CockroachDB does two-phase. The concern is that during a network partition, bootstrapping must form within the majority partition. An unusual situation for sure, but it comes up if the cluster root loses it's data and is restarted.

The context here is within Kubernetes. It's not so easy with StatefulSet, to have a node behave differently depending on whether it is the cluster root, and wh

[2021-01-04 16:08] rkruze commented on #333
Yes, CockroachDB uses a two-phased init. Each server is brought up with the same "join" list. Once those nodes are up, if a cluster hasn't been formed in the past, they go into standby until a node gets an "init" command. https://www.cockroachlabs.com/docs/v20.2/cockroach-init.html

[2021-01-04 16:45] mmaslankaprv commented on #333
I think we can make the operation to be two step without implementing the centralized configuration. We can introduce the centralized configuration as a follow up.

[2021-01-04 17:26] mmaslankaprv opened #366 "Support changing topic configuration in runtime"
Add support for changing configuration of topics in runtime.

[2021-01-04 23:09] dotnwat opened #369 "Failure in `test_recreated_topic_does_not_lose_data` (AddressSanitizer)"
[code]

[2021-01-04 23:10] dotnwat commented on #369
@mmaslankaprv seem like a race condition?

[2021-01-05 03:20] dotnwat commented on #30
thanks. linked and closed.

[2021-01-05 03:20] #30 closed

[2021-01-05 03:21] #78 closed

[2021-01-05 03:28] dotnwat commented on #340
Is `first available offset` ever different than the offset immediately following the snapshot position? @mmaslankaprv ?

[2021-01-05 06:31] rystsov commented on #340
state_machine has _next field (set to 0 in the constructor), it uses it as a position it starts reading from and updates after each read batch, I think if I add another constructor I'll control where the state_machine starts reading from and avoid the problem

[2021-01-05 23:02] #304 closed

[2021-01-06 03:03] rystsov commented on #340
fixed there: https://github.com/vectorizedio/redpanda/pull/373/commits/1ac10b2b259f8e30811dbed37fb2ae84c9c3e96b

[2021-01-06 20:13] senior7515 opened #376 "storage: perform eager adaptive fallocation rather than lazy fallocation"
Currently, we do: https://github.com/vectorizedio/redpanda/blob/dev/src/v/storage/segment_appender.cc#L123-L138

Which basically means that if we are about to hit a limit, we dispatch a falloc + write. This works well, but we see 4x spike in latency for the duration of the syscall from 2ms -> 8ms waiting for the kernel sync event to finish.

Dispatching fallocation early at 16MB instead of the 32M

[2021-01-06 21:50] graphcareful opened #378 "coproc: Server side check for multiple scripts producing on exact same materialized topics"
A materialized topic schema is <input_topic>.$<destination_topic>$ , so if two different coprocessors produce on the same destination_topic for which those records originated from the same input_topic, those two writes will race to the same underlying log and crash redpanda.

Long term solution would be to namespace the materialized_topic schema with the script_id.

Short term proposal is to perfo

[2021-01-06 22:09] graphcareful opened #379 "coproc: Durably store and retrieve coprocessor last read offsets"
We want to ensure that coprocessors continue to resume processing in the face of failures and that their materialized topics remain in sync with the input topics they relate to

[2021-01-06 23:04] senior7515 commented on #378
Hmm. I don't follow. This is a bug on coproc then. Why would semantics change

[2021-01-06 23:14] graphcareful commented on #378
Gotcha, this is expected behavior, closing this and opening a bug report instead

[2021-01-06 23:14] #378 closed

[2021-01-06 23:15] graphcareful opened #380 "coproc: Fix crash encountered when multiple coproprocessors publish on same materialized topic"
Currently if two different coprocessors subscribed to the same input topics map elements over those topics to the same destination log , redpanda crashes.

[2021-01-07 04:08] rkruze opened #381 "redpanda: Clients hang when bootstrapping to a node which had it's data directory deleted"
To reproduce:

1. Bring up a three-node cluster.
2. On the node with node id 2, delete the data directory and kill -9 the redpanda process.
3. Bring back up the redpanda process.
4. Point a client to bootstrap from node id 2.
5. Most operations to consume or produce will now hang.

[2021-01-07 04:34] senior7515 commented on #381
@mmaslankaprv this looks like we're holding some some semaphore of sorts.

[2021-01-07 12:44] mmaslankaprv commented on #381
I've tried this, I am unable to reproduce this. The only thing that I see is the client trying to update metadata. After node successfully rejoins the cluster metadata are updated and client is able to continue.

[2021-01-07 13:19] mmaslankaprv commented on #381
I was able to make `openmessaging-benchmark` to hang with this as a last message in logs

It can be reproduced with following steps:

1) start benchmark workload
2) stop benchmark with sigkill (Ctrl+C)
3) remove redpanda folder
4) restart redpanda
5) start workload again

It seems to be an openmessaging benchmark worker issue:
[code]

[2021-01-07 16:13] rkruze opened #384 "Doc: provide documentation on how to use "rpk api topic set-config""
We should have examples of how to use `rpk api topic set-config` in the documentation. For example, how to set retention.

[2021-01-07 21:08] dotnwat opened #386 "Consumer group failures with multiple internal metadata topic partitions"
The internal topic that stores consumer group metadata having 1 vs >1 partition.

[2021-01-07 21:08] dotnwat commented on #386
@mmaslankaprv any other details here that are relevant?

[2021-01-07 22:19] yougotashovel opened #387 "Expose /metrics port outside of a node, so dashboard can be developed locally with real data."
Curl from inside a node provides prometheus metrics
[code]

Curl from outside a node times out:
[code]

@dotnwat:
RPC and Kafka are exposed, but the admin api does not appear to be exposed (9644)

---
For reference:
[code]

[2021-01-08 11:28] mmaslankaprv commented on #381
@rkruze can you share the driver setup that were reproducing the issue ?

[2021-01-08 12:10] mmaslankaprv commented on #386
The problem was caused by `kafka::coordinator_ntp_mapper` returning incorrect coordinator for the group when there were more  partitions.

code : https://github.com/vectorizedio/redpanda/blob/ff5a12c48785f428845c753b0522ce9e2d857397/src/v/kafka/groups/coordinator_ntp_mapper.h#L56

selected incorrect `update` method override. Hash was every time different for the same string.

[2021-01-10 20:47] dotnwat commented on #376
Addressing this is also a good time to optimize fallocation to not flush all the pending chunks. That is, currently fallocation in the segment appender introduces a barrier. The solution is probably something along the lines of allowing the fallocation if it doesn't not ever overlap with an inflight request (or will not overlap with a future inflight request).

[2021-01-11 22:03] senior7515 opened #395 "compat: segment kafka-go driver error on auto-created topics"
1. Kafka client: https://github.com/segmentio/kafka-go
2. see main.go
3. see error logs (on a mac) via this docker compose:

[code]

[rp.txt](https://github.com/vectorizedio/redpanda/files/5798541/rp.txt)

[main.go.txt](https://github.com/vectorizedio/redpanda/files/5798543/main.go.txt)

[2021-01-11 22:04] senior7515 commented on #395
cc: @ honne23

[2021-01-11 22:13] dotnwat commented on #395
what error string should we be searching for in that log?

[2021-01-11 22:21] honne23 commented on #395
should be the following I believe: `INFO  2021-01-01 18:15:06,751 [shard 3] kafka - protocol.cc:180 - Detected error processing request: std::runtime_error (batched_output_stream is already closed. Ignoring: 117 bytes)`

[2021-01-11 22:21] #386 closed

[2021-01-11 22:22] senior7515 commented on #395
correct, that happens on abrupt connection termination. (i.e.: control-c style where there is no shutdown sequence)

[2021-01-11 22:26] dotnwat commented on #395
got it thanks

[2021-01-12 05:34] dotnwat commented on #395
i haven't managed to reproduce this exact error, but running the segment kafka-go client I see that it seems to be using a message format (at least for fetching) that is quite old and we don't support (yet). that may explain the error because the client may not really be able to do anything other than close the connection.

i'll look to see what would be be needed to support this older format. gen

[2021-01-12 18:03] honne23 commented on #395
@dotnwat Unfortunately I don't but after inspecting the code as well it does seem like there's only one version for fetch. To confirm I also spun up a client with a <a href="https://github.com/confluentinc/confluent-kafka-go">different library</a> and can confirm that there have been significant performance improvements with the new library and no errors reported.

So it seems this is correct.

Th

[2021-01-12 20:24] senior7515 commented on #395
@honne23  you might also want to give Sarama a go. :D

[2021-01-12 23:19] cstrahan opened #402 "getconf segfault"
`rpk` uses https://github.com/shirou/gopsutil (see [here](https://github.com/vectorizedio/redpanda/blob/36661f6001e8e1e942b2ddcdc4a9421f7bbc7e1a/src/go/rpk/pkg/system/cpu.go#L15)), which in turn execs `getconf CLK_TCK`. However, `getconf` inherits the `LD_LIBRARY_PATH` env var, which results in a segfault; to demonstrate:

[code]

This results annoying messages popping up on Ubuntu (and probably a

[2021-01-12 23:32] senior7515 commented on #402
thank you @cstrahan! we're on it.

[2021-01-13 00:15] senior7515 commented on #402
@ivotron  - let's investigate the build too to make sure we don't rely on the system loader.

@0x5d  - do you think the exec, needs our internal LD path set (in go code)

[2021-01-13 00:16] senior7515 commented on #402
looking at the trace, it doesn't make sense to me that it uses the system path for anything. looks like a build bug to me.

[2021-01-13 01:12] graphcareful opened #404 "Wasm engine stalls with too many requests"
After successfully registering 100 coprocessors (same input topic) and sending data onto that one topic (thus triggering 100 requests to the wasm engine) it seems as though the engine and redpanda have stalled. With v/coprocs new architecture there is 1 fiber per coprocessor. In the redpanda logs I had observed only a portion of these fibers were not stalled. After examining a few more runs logs s

[2021-01-13 02:03] senior7515 commented on #404
Can you just 'perf record' a trace and see what's the hold up?

[2021-01-13 10:11] alenkacz commented on #170
I'll take this one.

[2021-01-13 16:15] bithavoc commented on #111
@senior7515 FYI Dockerhub still doesn't refresh, no mention of the data directory there https://hub.docker.com/r/vectorized/redpanda

[2021-01-13 16:24] bithavoc commented on #111
Sorry I missed this, I guess the PR hasn't been merged yet.

[2021-01-13 21:57] #318 closed

[2021-01-13 21:57] #380 closed

[2021-01-13 22:52] 0x5d commented on #402
I submitted a fix on our internal packaging tool. Thanks so much for your thorough description @cstrahan !

[2021-01-14 06:12] dotnwat commented on #395
@honne23 is this ticket resolved from your perspective using a different kafka client? happy to leave it open if the segment client is a must-have, but wanted to double check before going down that path.

[2021-01-14 12:01] bithavoc opened #411 "kafka: Topic or partition unavailable right after creation"
Is it normal that a newly created topic with a single partition is unavailable right after creation? It seems to take a few second to go online, I'm having to check the partition using a temporary reader against code error `3`, otherwise I get:

[code]

The driver I use is [`kafka-go`](https://github.com/segmentio/kafka-go), but I don't think is about the driver though, I haven't check against a v

[2021-01-14 17:32] rkruze commented on #186
Another user ran into this issue on the community slack channel. https://vectorizedcommunity.slack.com/archives/C01B3QBLUTT/p1610603088004800

[2021-01-14 20:50] senior7515 commented on #411
I think the segment driver is using a very old (slow) protocol (hardcoded). recently @dotnwat debugged this. so it's a matter of our parser copying the bytes from an old format into the new format. I'd recommend upgrading the client library version, but we'll push a fix for this relatively soon.

[2021-01-14 20:54] bithavoc commented on #411
Gotcha, this was with kafka-go `github.com/segmentio/kafka-go v0.4.8` (latest tag as of Jan 2021)

[2021-01-15 04:35] dotnwat commented on #186
@rkruze should be in next week!

[2021-01-15 13:48] honne23 commented on #395
@dotnwat no problem! Switched over to the other client so I'm happy to close this ticket and save you guys some time :)

Might be worth having a readme of recommended clients and / or known incompatibilities. Although in this case it is definitely the responsibility of Segment to use an updated protocol.

[2021-01-15 15:39] voxpelli opened #419 "Reflect BSL 1.1 max change date in your defined change date"
After a Twitter discussion it was mentioned that you use BSL 1.1, but still have a +4 years change date. The max change date of BSL 1.1 is 4 years after release as is highlighted by this very passage of the BSL 1.1 license, which is also [present in your repo](https://github.com/vectorizedio/redpanda/blame/7f5805125d26c61655c444da5e87fa4d82d239b4/licenses/bsl.md#L38-L42):

This is further highligh

[2021-01-15 15:45] senior7515 commented on #419
Thanks @voxpelli . Looking into it. Pretty sure, the legal advise we got on it, was what we reflected. I'll be happy to make the change if it doesn't make sense. I'll need a few weeks to get the the correct ppl to revise it.

[2021-01-15 15:46] senior7515 commented on #419
Question, curious what you are using redpanda for

[2021-01-15 15:51] voxpelli commented on #419
Nothing yet, but it's on my list of interesting tech 👍

[2021-01-17 18:37] graphcareful commented on #404
@andresaristizabal can you link your fix to this? Thanks!

[2021-01-17 21:01] andresaristizabal commented on #404
Of course, https://github.com/vectorizedio/redpanda/pull/417 this PR solved this problem

[2021-01-17 21:01] #404 closed

[2021-01-18 13:02] #170 closed

[2021-01-18 20:33] senior7515 opened #425 "rpk namespacing: `rpk redpanda topic <create, delete, ...>`"
We need some feedback but...

to: @rkruze

cc: @alenkacz @dotnwat @RafalKorepta @dimitriscruz

[2021-01-18 21:00] 0x5d commented on #425
I think it works well for most `api *` subcommands:

- `rpk topic consume | produce | delete | describe | list | set-config | status`

The only one that I wouldn't know where to move would be `rpk api status`, which shows info about topics, partitions & replicas. It's cluster-scoped data, not only topic-specific.

[2021-01-18 22:37] dotnwat commented on #395
@honne23 glad it's working! we're going to put the segment client on our todo list. hopefully we can support it--it does seem to be used pretty widely.

[2021-01-18 22:48] dotnwat commented on #404
Don't forget to link issues and PRs together. If you forget to add the note to a git commit, you can go back after merging and add `fixes: #xxx` to the PR cover letter.

[2021-01-18 23:32] rkruze commented on #425
How about putting `rpk api status` under something like `rpk topic list --details`?

The rest fits pretty well.

[2021-01-19 01:47] andresaristizabal opened #427 "coproc: null-ptr dereference when pushing data to materialized topics"
How to replicate this issue:
1. enable coprocessor on `redpanda.yaml`
2. create produce topic
3. upload 100 coprocessor definition, each coprocessor should produce `result<index>` result topic.
4. send  "message" string to produce topic `rpk api produce produce <enter> message`

redpanda error log: [download here](https://github.com/vectorizedio/redpanda/files/5833126/message.txt)

[2021-01-19 01:52] dotnwat commented on #425
Is there any concern that rpk may grow so many capabilities for interacting with the kafka or data APIs over time that the top-level rpk namespace will become bloated (e.g. `rpk <kafka/data resource>` vs `rpk (client|data|api|?) <kafka/data resource>` so something like `rpk topic ...` vs `rpk data topic ...` or something). I guess this something that we face with a kitchen sink tool.

[2021-01-19 02:35] senior7515 commented on #425
i agree w/ @0x5d  - let's do `rpk topic *`

[2021-01-19 02:50] senior7515 commented on #427
what compiler version? address sanitizer has a bug on gcc10 - so you have to use clang-debug on vtools. https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95137

[2021-01-19 13:54] 0x5d commented on #425
`rpk topic *` was @rkruze 's idea ❤️  . I think it works well except for the case I mentioned.

For comparison:

[code]
[code]

I think `rpk api status` has a broader scope than `rpk api topic list`, showing the distribution of partitions & topics across nodes. I wonder if, since `rpk status` was deprecated in favor of `rpk debug info`, we should move `rpk api status` to `rpk redpanda info`.

[2021-01-19 16:25] #402 closed

[2021-01-19 16:26] senior7515 commented on #402
@cstrahan We'll try to package up a new release today or tomorrow that will include this fix. so apt-get update away from solving it :)

[2021-01-19 16:41] senior7515 commented on #425
`rpk topic assignments` ? I think each node should also have one more piece of info, how many partitions it is the leader for and how many partitions it is the follower for.

[2021-01-19 17:08] alenkacz commented on #331
@0x5d you're working on this or I can take it? :)

[2021-01-19 18:45] 0x5d commented on #331
@alenkacz I'm on it, thanks!

[2021-01-20 00:18] BenPope commented on #425
Feels a bit related to a consumer in a group.

`rpk broker details -v`?

One thing; when querying info, it should be resilient to brokers that are down. Currently it fails in a few scenarios, if a node is down. But a node being down is great cause for using the tool.

[2021-01-20 05:04] rkruze opened #432 "rpk: Don't require the node id when specifying the seed servers"
If you try to start a node with rpk using something like

[code]

You will get an error.

[code]

[2021-01-20 11:21] 0xdiba commented on #425
[code]
This view is more on the broker/metadata POV. So a namespace under sth like `cluster`/`broker`/`metadata` would probably be more suitable.

I'd argue that detailed info about partition assignment of topics could be located under a per topic command.
So `$rpk topic info <topic_name>` would give you a thorough view of the specific topic:
[code]

And `rpk topic ls` would give a birds-eye view

[2021-01-20 12:28] 0x5d commented on #432
This is a duplicate of https://github.com/vectorizedio/redpanda/issues/190

[2021-01-20 13:35] 0x5d commented on #425
@0xdiba I think `rpk api topic describe` (soon to be `rpk topic describe`) is already what you want from `rpk topic info`:
[code]
I think the `cluster` namespace would work well. `rpk cluster info`. Not bad.

[2021-01-20 14:03] 0xdiba commented on #425
@0x5d Exactly, I was just trying to establish what I had in mind regarding namespacing.
I should have named the command as it is already named in rpk. :+1:

[2021-01-20 16:05] #432 closed

[2021-01-20 17:26] cstrahan commented on #402
Sure thing!

Awesome -- thanks!

[2021-01-20 17:59] alenkacz opened #436 "Fail build if commit naming convention is not met"
There's a convention for commit naming - all commits should be prefixed with component/sub-component name. It would be nice to have this convention enforced so that it's easy to follow for new contributors.

We could use pre-commit hook or at least start with a github action validating that.

JIRA Link: [CORE-583](https://redpandadata.atlassian.net/browse/CORE-583)

[CORE-583]: https://redpandadat

[2021-01-20 18:00] alenkacz commented on #436
@0xdiba any other ideas here? :)

[2021-01-20 18:14] senior7515 commented on #425
btw, we should rename `In-sync replicas -> replicas` we dont' ISR

[2021-01-20 18:56] 0x5d commented on #425
@senior7515 so do you mean removing it? There's already a `Replicas` column, to the left.

[2021-01-20 19:30] graphcareful opened #437 "segfault with storage_e2e_test_rpunit, fails in debug/gcc builds"
With clang debug/clang builds, the test passes, haven't tested on other builds. Here's the error:

[code]

[2021-01-20 20:02] senior7515 commented on #437
this is known. this is due to address sanitizers actually corrupting coroutine stack frames

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95137

[2021-01-20 20:02] #437 closed

[2021-01-20 20:09] 0x5d commented on #425
I just realized I wrote `rpk topic` instead of `rpk redpanda topic` 🤦🏽

[2021-01-21 05:28] dotnwat commented on #436
Is pre-commit hooks an opt-in sort of thing? I create many commits that do not follow this rule during the development process.

[2021-01-21 07:47] alenkacz commented on #436
hmm good point, that would probably not be a good idea. Maybe just something that's run in CI then? Found this, maybe we can reuse this or write something similar https://github.com/conventional-changelog/commitlint/blob/master/docs/reference-rules.md

[2021-01-21 13:56] #331 closed

[2021-01-21 22:59] rkruze opened #445 "Support the Kafka Transactions API"
Add support for the Kafka Transactions API.

[2021-01-21 23:14] #427 closed

[2021-01-22 00:06] rystsov opened #447 "Mixing a leader_ack and quorum_ack replication levels leads to timeouts in a debug build"
When quorum_ack is used after leader_ack on a debug build `replicate_entries_stm::apply` invoked from `replicate_batcher` hangs indefinitely and leads to the timeouts. We already have a test validating this scenario `append_entries_test::test_mixed_consisteny_levels` but a typo there leads to always using `leader_ack`.

[2021-01-22 03:59] dotnwat commented on #447
@mmaslankaprv IIRC this is controlled by acks in produce request? that would mean that a client could externally cause some lock up?

[2021-01-22 05:09] rkruze opened #450 "rpk container: Use volumes to save state"

[2021-01-22 17:23] #425 closed

[2021-01-22 19:01] senior7515 commented on #419
update here. met w/ some legal counsel, more scheduled :)  - will keep you posted as we make progress.

[2021-01-23 04:31] VRspace4 commented on #97
Can you add in the dockerhub readme to point the volume mount to the following folder:
`/var/lib/redpanda`

[2021-01-23 15:59] matthew-d-jones opened #459 "Error running docker container"
Ran
`docker run -ti -p 9092:9092 vectorized/redpanda:v21.1.1`
and am met with this error when it tries to launch:
[code]

Host is Ubuntu 20.04, 16 logical CPUs, in case that is relevant.
Installing via apt and running with systemd works as expected on the same machine.

[2021-01-23 19:10] senior7515 commented on #459
@matthew-d-jones should be fine, you might experience latency. does `redpanda` exit?

try to set `fs.aio-max-nr` to `1048576` or smth large like that. depending on how large the machine is.

if redpanda doesn't exit, then it's fine. we just want to let you know when we detect less than ideal conditions.

[2021-01-23 19:14] senior7515 commented on #459
@0x5d and @rkruze i noticed that the 21.1.1 doesn't run w/ Roko's unreserved memory as well

[code]

I think is missing Roko's recent changes.

@0x5d  + @ivotron - did the package diverge for some reason?

[2021-01-23 19:15] senior7515 commented on #459
I just tried it on ubuntu 20, and i got similar error, but didn't exit. so should be fine to test.

[2021-01-23 19:23] matthew-d-jones commented on #459
Thank you for the reply.
When I tried earlier it did exit immediately after that seastar error.
I've just run exactly the same command again and this time it has not hit the error at all, and it successfully continues running. I'll report if the problem reoccurs, but for now it seems I can continue with trying Redpanda.

[2021-01-23 19:25] senior7515 commented on #459
great! let us know if you run into anything else. excited to learn how it works out! are you using librdkafka?

[2021-01-23 19:28] matthew-d-jones commented on #459
Yes, some of my client applications use librdkafka C++, and some use it via the confluent-kafka python bindings. I should be able to drop the container into my existing integration tests and see what happens, I'll report via Slack how that goes.

[2021-01-23 20:01] senior7515 opened #460 "rpk config init: incorrectly assigns the redpanda configuration to root"

[2021-01-23 20:53] senior7515 commented on #460
@0x5d - the fix for this is to add a ducktape test to ensure that post-init of package is always owned by `redpanda:redpanda`

[2021-01-23 21:59] senior7515 commented on #460
just wanted to add here, that internally, the new pkg should have this fixed. Should be complimentary to the ducky tests this will generate.

[2021-01-23 22:05] senior7515 commented on #98
#186

[2021-01-23 22:56] senior7515 commented on #460
this is a packaging bug. closing since it's now fixed in v21.1.2

[2021-01-23 22:56] #460 closed

[2021-01-23 22:57] senior7515 commented on #459
i think this might have been related with #460  - let me know if it is and I can close it.

[2021-01-23 23:20] senior7515 opened #461 "rpk api status defaults to port 0"
Running:

[code]

gives the user:

[code]

with the following configuration
[code]

[2021-01-23 23:58] 0x5d commented on #461
Steps to repro:
[code]

[2021-01-24 00:20] senior7515 commented on #461
ah! i wonder if we should detect multiple environments kinda like kubernetes.

[2021-01-24 03:00] ivotron commented on #459
fwiw, I've tested this on macos and ubuntu 18.04, and it worked fine. One way to "reset" and test from a clean state is to do `docker system prune --all --force --volumes` but be aware that this removes everything on docker (images, containers, volumes, networks, etc.)

[2021-01-24 05:01] kanadaj opened #465 "Excessive disk+memory usage"
On Kubernetes, Redpanda seems to consume a morbid amount of resources by default - looking at around 50-60GB storage and 10+GB memory on a 64GB RAM node. Introducing a memory constraint in Kubernetes helped tone the memory usage down, but the storage usage is still very excessive. On limited PVCs, it seems to use up everything it has to, constantly triggering storage warnings, and on local / hostP

[2021-01-24 05:22] senior7515 commented on #465
@kanadaj  - need more info.

0. what redpanda version
1. how many topic/partitions
2. what retention period
3. what retention bytes
4. how many cores are you setting
5. are you using our helm-chart

PS: w.r.t resources, one could def use 200MB. However, for prod you can use 1core and 2G of ram. we recommend for prod 2G of ram per core. you can choose to run w/ less but turn on developer mode.

[2021-01-24 07:16] senior7515 commented on #459
@matthew-d-jones should be OK to test. just printing that

[2021-01-24 07:16] #459 closed

[2021-01-24 13:26] kanadaj commented on #465
0. vectorized/redpanda:latest from DockerHub
[code]
1. 10 topics, 1 partition each
2. Whatever is the default but the memory usage was high even before it started storing events
3. Default - how do you set this even?
4. Is default memory footprint dependent on CPU count? Also, with 2G RAM per core and a limit of 1 core, it gives 'Free memory per CPU [MB]' warning on startup
5. ...you have a Helm c

[2021-01-24 14:50] BenPope commented on #465
The helm chart is at: https://github.com/vectorizedio/helm-charts

[2021-01-24 18:52] 0x5d commented on #387
Fixed in #455

[2021-01-24 18:52] #387 closed

[2021-01-24 20:10] #447 closed

[2021-01-24 22:04] senior7515 commented on #465
@kanadaj

3. you set it when you create the topic or by setting a default https://github.com/vectorizedio/redpanda/blob/dev/src/v/config/configuration.cc#L249 in the `redpanda:` section of the config.
4. make sure it is `1<<31` ... aka (2147483648)

[2021-01-24 22:05] senior7515 commented on #465
alternatively, you can set `developer_mode: true` to disable warnings. up to you.

[2021-01-24 22:08] senior7515 commented on #344
it is now at `localhost:9644/dashboard` but @yougotashovel needs to update the html+js

[2021-01-24 22:41] kanadaj commented on #465
The topics should be fine, they work fine in Kafka - I'm trying to see if Sentry ([https://github.com/getsentry/onpremise](https://github.com/getsentry/onpremise)) would work with RedPanda instead of Kafka but I've had troubles with the helm chart (some components report that their used topics' partitions are unavailable) and Kafdrop couldn't connect to Redpanda either... Strange overall.

For #4,

[2021-01-24 23:07] senior7515 commented on #465
grepping the tree looks like it uses CH. we work fine w/ CH.

TIL: kafkadrop - it uses the jvm driver, so my hunch is that the k8s cluster you have is expecting some particular network setup.

check your /etc/redpanda/redpanda.yaml on the nodes to see.

we just landed #186 multiple listeners last friday which should fix these oddities most of the time. we'll likely update our helm + docs this or n

[2021-01-25 02:08] senior7515 commented on #346
good thinking.

[2021-01-25 03:22] senior7515 commented on #320
does it matter ? we only build w/ clang-11 at the moment, gcc-10 doesn't support coros, so likely gcc-11 which makes this ticket extra no?

[2021-01-25 07:09] dotnwat commented on #320
yeh we can close this. also all that code was refactored, and is currently undergoing another refactor as we split out kafka::server from kafka::client. so yeh, i suspect this won't be relevant in thefuture.

[2021-01-25 07:09] #320 closed

[2021-01-25 10:06] mmaslankaprv opened #476 "unable pass `logger-log-level=` parameter"
RPK doesn't forward  single logger setup parameter f.e.:
`--logger-log-level=raft=trace`

[2021-01-25 11:24] alenkacz opened #477 "rpk Makefile"
I feel like Makefile is the go-to way to build go projects these days. When I first cloned RPK, that was the first thing I was looking for to figure out how to run tests/build etc.

We should provide Makefile to RPK and then we can even leverage it in github actions.

Reference: https://github.com/vectorizedio/redpanda/pull/439#issuecomment-766740338

[2021-01-25 15:06] dotnwat opened #481 "automatic stack trace decoding / reporting"
We need to be able to have meaningful stack traces on crash without copying and pasting raw traces into a decoding utility.

[2021-01-25 20:11] #461 closed

[2021-01-25 21:15] dotnwat opened #487 "make expiring_promise move safe and eliminate shared promise"
1. expiring_promise::get_future sets a lambda on its internal timer that stores a reference to `this`. expiring promises are often stored in containers that might be resized (e.g. flat hash map). thus an unfortunate timeout and container resize may lead to all kinds of problems. solution is to make expiring promise move safe.

we've updated users to use a stable container for the time being.

2. f

[2021-01-25 21:37] senior7515 commented on #487
@dotnwat  wait! why not use stable iterators with `node_hash_map` ?

[2021-01-25 21:39] dotnwat commented on #487
as opposed to making expiring promise be move safe?

[2021-01-25 21:40] senior7515 commented on #487
@dotnwat correct. and it'd work now. I think we can do both, but this is an easy workaround for that in the expiring promise.

[2021-01-25 21:41] senior7515 commented on #481
should be under `rpk debug stracktrace`

[2021-01-25 21:43] dotnwat commented on #487
is this different than `we've updated users to use a stable container for the time being.` mentioned in the ticket?

[2021-01-25 22:05] senior7515 commented on #487
i missread the tix, sorry :'(

[2021-01-26 07:14] dotnwat opened #501 "upgrade failure on startup"
per @0xdiba instructions single node local v20.12.9, create topic produce some records, shutdown, restart with same data directory with 21.1.3 release. here is more failure details

@mmaslankaprv

[code]

and full startup log after upgrade

[code]

[2021-01-26 07:35] ivotron opened #502 "ducktape failures"
Ran ducktape tests on c9f94da, there are some tests failing. To reproduce:

[code]

since some are outdated, it might be that the test harness needs to be updated in order to reflect recent changes on dev

[2021-01-26 13:27] mmaslankaprv opened #505 "rename `raft/configuration.h` to `raft/group_configuration.h`"
The inconsistency in class vs file name is confusing.

[2021-01-26 13:27] #501 closed

[2021-01-26 18:50] dotnwat commented on #502
Trying this out. Is it required to use `clang-release`? I don't see a way to start the cluster with a debug build.

[code]

[2021-01-26 19:17] dotnwat commented on #502
[code]

[2021-01-26 19:18] dotnwat commented on #502
Oh, I see that `/home/nwatkins/src/redpanda/vbuild/compose/` doesn't exist. What do I need to do to bring that into my tree?

[2021-01-26 19:31] dotnwat commented on #502
[code]

I see this in a log

[code]

Seems the containers are running

[code]

[2021-01-26 22:48] ivotron commented on #502
sorry for the confusion, the `vtools deploy cluster` only deploys the nodes. Maybe it should be called `vtools deploy nodes` or `vtools allocate nodes` or something alike?

oh, right. I'll send a patch to consider the case where the cluster hasn't been created.

looks like the image is being rebuilt as part of `vtools test ducky`. Sorry for all the confusion, I'll consolidate all these distinct st

[2021-01-27 14:19] JacobJohansen opened #519 "error on cluster bootstrap using helm chart"
Alexander has files that should help reproduce

first error
[code]

error on reboot loop
[code]

the system is a semi bare metal setup using KVM and talos; the persistence layer is running on ceph

start of slack chat can be found https://vectorizedcommunity.slack.com/archives/C01B3QBLUTT/p1611718549147100

Roko said they were able to reproduce the issue: https://vectorizedcommunity.slack.com/arch

[2021-01-27 15:14] 0x5d opened #521 "Non-fatal config parse error during rpk redpanda start"
Every time `rpk redpanda start` is run, this error pops up:
[code]

[2021-01-27 15:45] 0x5d opened #522 "rpk: Add TLS config flags for rpk topic *"
Currently, TLS config is only picked up if it's set in the config file. We should allow users to pass the same config through flags in the  commands that could require them, such as `rpk topic`.

[2021-01-27 16:34] #519 closed

[2021-01-27 17:13] rkruze commented on #522
We might want to consider allowing for a directory to be passed with the certs vs having to specify all 3 certs. So we could have something like a directory `certs` which contains:

- cert_file
- key_file
- truststore_file

and then pass via `rpk` something like `rpk --cert-dir=certs` vs having to have something like `rpk --cert-file=cert --key-file=key --truststore-file=truststore`

[2021-01-27 18:08] 0x5d commented on #522
Would we rely on naming conventions or peeking inside the files to know which is which?

[2021-01-27 18:38] rkruze commented on #522
Would probably make sense to use a naming convention.

[2021-01-27 20:24] BenPope opened #523 "Crash in redpanda at startup when running in kubernetes"
To reproduce, install the helm chart with Kind: https://github.com/BenPope/helm-charts/tree/initial-kind/kind

You can add a` --set image.tag=<short_sha>` here: https://github.com/BenPope/helm-charts/blob/initial-kind/kind/make.sh#L50

You'll get that sha after running this: make_clang_release.sh
[code]
The problem happens on node-1:
[code]
Log:
[code]
Stack:1
[code]
Stack 2:
[code]

[2021-01-27 20:40] BenPope opened #524 "rpk start doesn't support multiple listeners"
Example config:
[code]
Error:
[code]
Some things to consider, when setting the config with rpk config set:
[code]
If the `redpanda.advertised_kafka_api` is already set in the config as map, then changing it to a list will fail, so the entire node needs replacing, not its contents.

And both map and list forms need to be supported.

[2021-01-27 20:40] BenPope commented on #524
This blocks https://github.com/vectorizedio/helm-charts/pull/16

[2021-01-27 20:52] 0x5d commented on #524
I'm working on a fix as we speak, but the main obstacle for "sane" config management I see is that we don't have clearly-defined versions. So we could say config version 1 doesn't supports a single advertised kafka addr and it requires `seed_servers`' items to have a `{"host": {"address": "<address>", port: <port>}, "node_id": "<id>"}` structure. Then we could consider v2 to support a list of adv.

[2021-01-27 21:11] 0x5d commented on #524
Alternatively we could have multiple versions not at the config file level but at the field level. But this would of course make config mgmt more complex.

[2021-01-27 21:11] ivotron commented on #524
+1 on having versioned config schemas. A pain to maintain but necessary in the long run in order to maintain sanity. This also will eventually result in having to publish a compatibility table between redpanda/rpk and config schema versions

[2021-01-27 22:04] dotnwat commented on #523
Does this happen if you give the same config to redpanda outside k8s?

[2021-01-27 22:06] BenPope commented on #523
Not tested.

[2021-01-27 22:35] senior7515 commented on #524
+1 on versioned schemas.

[2021-01-27 22:36] senior7515 commented on #524
Everything storage related, should really come with versions. I can't think of anything we send over the wire or on-disk that should not have a version tbh.

[2021-01-27 23:13] senior7515 opened #526 "coproc: enable zstd on `rpk wasm deploy`"
ensure that `rpk wasm deploy` uses `zstd` standard since even a simple hello-world is 250KB

[2021-01-28 11:26] andresaristizabal commented on #526
Hi, added compression_type to create coproc internal topic: https://github.com/vectorizedio/redpanda/pull/528

[2021-01-28 18:22] 96RadhikaJadhav commented on #505
@mmaslankaprv Can I work on the issue?

[2021-01-28 21:03] #526 closed

[2021-01-28 23:37] BenPope opened #532 "Multiple listener configuration"
#451 introduces support for multiple listeners.

Confguration looks like:

[code]

I think it would be easier to understand and maintain if it was inside-out, i.e., the name at the top level, rather than the type at the top level.

Benefits:
 * Eliminates a potential misconfiguration if the names don't match
 * Increases locality

Cons:
 * It's not how Kafka does it.

Mitigations:
 * rpk could gen

[2021-01-29 04:47] dotnwat commented on #505
Hey @96RadhikaJadhav glad to have you! @mmaslankaprv is this task still open?

[2021-01-29 15:55] mmaslankaprv commented on #523
Assertion failure triggered in debug build:
[code]

[code]

[2021-01-29 16:24] graphcareful opened #536 "kafka/client: Make global configuration parameter 'retries' more granular"
Right now as a temporary work around coproc is setting the kafka/client global config parameter 'retries' to zero. What we really want is a more finer way for consumers of the api to set the retries value themselves maybe per request or per client instance.

[2021-01-30 02:12] graphcareful opened #538 "coproc: redpanda crashing on double delete"
To reproduce you must register a copro then call delete on the same id twice in quick succession.

[code]

[2021-01-30 03:18] yaroot opened #540 "Reading from empty/inactive topic results in substantial disk read"
I tested mostly  21.1.4-1-d698a3b

## Problem

In this `dstat` output there is substantial disk read starting from 07:59:48 when I enable consumer for an inactive topic. I expected it would be more like 07:59:37-47 (when reading from only active topics, and everything is in cache). This is from a test vm, single node setup, dev mode.

Some other things I notice:
- this also occurs with inactive pa

[2021-01-30 05:22] #538 closed

[2021-01-30 05:30] dotnwat commented on #540
@yaroot thank you for the detailed report / reproducer! i suspect what you are observing is that after a restart, redpanda will have a cold cache because it does not use the kernel buffer cache for performance reasons, and instead maintains its own cache in user space.

if you don't restart the service do you observe the io behavior that you'd expect?

i suspect that there will be some interesting

[2021-01-30 08:12] yaroot commented on #540
It only happens when consuming a empty topic, lasts as long as I have noticed and tested this (a few hours), even without running the producer, just create the topic - restart - start the consumer.

Is there a chance because of the empty partition and nothing to cache, it has to read the disk for every read?

[2021-01-30 13:47] andresaristizabal opened #541 "Coproc: Error on disable a coprocessor 2 times"
With the new implementation, disable coprocessor that returns an undefined,  we found an error when coprocessor tries to disable one coprocessor 2 times.

How to replicate it:
1. Enable coproc on redpanda
2. Create a coprocessor that returns a `Promise<undefined>`, like `return Promise.resolve()`
3. publish two messages to coprocessor input topic
4. restart redpanda, and publish again same coproce

[2021-01-30 13:48] andresaristizabal commented on #541
Also, I'm working on avoiding send 2 times same disable request for 1 coprocessor

[2021-01-30 17:24] graphcareful commented on #541
This is a duplicate of #538 closing

[2021-01-30 17:24] #541 closed

[2021-01-30 18:56] #523 closed

[2021-01-31 02:27] emaxerrno opened #542 "chunk-starvation"
Depending on a particular workload there might be a situation in which the chunk appender, might take on full 32MB and wait to synchronize all 32MB in 16KB chunks.

strategy to improve

1. for the quota reservation of the memory, we should use 128KB
2. 16KB for follow up chunks
3. eager fallocation without synchronization (waiting for all chunks to finish

cc: @rkruze  @mmaslankaprv @Lazin

JIRA L

[2021-01-31 02:34] dotnwat commented on #540
hey @yaroot thanks! yes, this sounds like an edge case. we should not need to be hitting disk for a read to an idle topic. since we track what is on disk, we know if that is necessary or not. most likely we have a pessimistic rule that is causing the extra i/o. i'll take a look at this this week. thanks again and i'll update the ticket once we know more.

[2021-02-01 20:50] 0x5d commented on #294
This was fixed in #360

[2021-02-01 20:50] #294 closed

[2021-02-02 14:34] rk3rn3r commented on #123
I start a single node Redpanda container with docker compose like that:

[code]

And it works well with Kafka Connect Distributed.
FYI @senior7515 ;)

[2021-02-02 18:38] bbigras opened #554 "kafka: errors using ksqldb"
I got:

[code]

JIRA Link: [CORE-586](https://redpandadata.atlassian.net/browse/CORE-586)

[CORE-586]: https://redpandadata.atlassian.net/browse/CORE-586?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-02-02 21:32] dotnwat commented on #123
excellent @rk3rn3r multi-network support just landed in the core so we now supported named listeners like you expect in kafka. that's being wired up right now through `rpk` tooling https://github.com/vectorizedio/redpanda/pull/529

[2021-02-02 22:59] senior7515 commented on #554
hi @bbigras - ksqldb needs transactions which will land soon (4-6 weeks) . see

#551  and #445

so soon!

[2021-02-02 23:13] dotnwat commented on #502
@ivotron seems like we can close this ticket now and add some notes on how to run to the vtools readme/docs/wiki or something?

[2021-02-03 00:48] dotnwat commented on #554
In addition to needing transactions, this error message looks like the test may not have even made it to the point of execution where it's failing because of a lack of transactions. @rystsov it might be worth while to look at this failure sooner than later to see if there are other areas of the API that we are failing on and need to add some tickets.

[2021-02-03 06:05] ivotron commented on #502
yeah, sorry I forgot to reference this issue in the commit. This got fixed in #555. I'll add notes to the wiki

[2021-02-03 06:05] #502 closed

[2021-02-04 04:11] emaxerrno opened #565 "Track redpanda deployment context"
E.g. via `rpk redpanda env`

1. our build dockerfile should have a REDPANDA_ENVIRONMENT variable that  =docker (@ivotron )
2. kubernetes should override that environment variable (@RafalKorepta )
3. our .deb and .rpm file should also override that env variable (@ivotron)
4. rpk needs to send it with the debug info (@0x5d)

We need to understand where to spend the most time on the product direction

[2021-02-04 10:40] RafalKorepta commented on #565
I have question regarding 4th bullet. Should rpk/redpanda send debug info as a call-home functionality? Does the `rpk` needs imperative command to create troubleshooting bundle that customer can send to us? Is there any additional functionality that based on the `REDPANDA_ENVIRONMENT` we should do something?

[2021-02-04 19:58] senior7515 commented on #565
yeah, just understanding the source of installations will allow us to prioritize how much time we spend on each part of the stack.

[2021-02-04 21:23] senior7515 opened #570 "rpk wasm generate foo"
Steps: (21.2.1)

[code]

Expected

[code]

[2021-02-04 21:41] bbigras commented on #554
Thanks. Don't hesitate if you want me to test anything.

[2021-02-04 23:07] bbigras opened #571 "Anyone tested with debezium connect?"
It seems to hang while creating a connector.

To reproduce:

[code]

Original instructions:
https://github.com/debezium/debezium-examples/tree/master/tutorial#using-sql-server

My changes:
https://github.com/debezium/debezium-examples/compare/master...bbigras:redpanda?expand=1

[2021-02-05 02:37] dotnwat commented on #571
@bbigras thanks for the report, debezium looks really interesting! do you happen to know if debezium is relying on idempotent producers or kafka transactions directly or indirectly? those are the two core features that will not be in redpanda until march (later this month for a tech preview cc: @rystsov). Otherwise, we would expect it to work and can take a closer look.

[2021-02-05 03:37] bbigras commented on #571
Yeah, it seems a very efficient way to get real-time updates from a database.

I have no idea to be honest. I just discovered redpanda/kafka this week because of a comment on HN.

[2021-02-05 03:38] senior7515 commented on #571
i think @rk3rn3r might know. - do you know if debezium uses txns or idempotent producers?

[2021-02-05 05:59] ivotron commented on #565
for .rpm and .deb, these same literal values is what would get assigned to the `REDPANDA_ENVIRONMENT` variable? what about other "containers" (e.g. VMs)

[2021-02-05 06:27] senior7515 commented on #565
That's fine. what we are trying to track is - do we add more resources to k8s, or to .deb, .rpm or to dockerhub or to what exactly. so tracking the `source` - currently we only have `kubernetes`, `docker`, `linux-deb`, `linux-rpm`

come to think of it, i think `rpk` should also track the source machine `mac` vs `linux` - this can be set at build time.

[2021-02-05 06:27] senior7515 commented on #565
@0x5d ^^

[2021-02-05 06:50] dotnwat commented on #436
yeh! good idea @alenkacz . we a bunch of unwritten style sort of guidelines that would be easy enough to check in a github action, either enforcing a rule or maybe for some rules gently reminding about the guidelines but not blocking.

@ivotron ^ what do you think

[2021-02-05 10:16] rk3rn3r commented on #571
Hey @senior7515!
Debezium runs on Kafka Connect, which doesn't use tx-producer. If idempotent producer is used depends on the provided producer config which is defined in the Kafka Connect config, but not enabled by default.

But I confirm Kafka Connect connects nicely to Redpanda, but when creating a connector it get stucked. Recently I got to that same point and didn't have time to continue on i

[2021-02-05 12:20] rk3rn3r commented on #571
At KCD startup I saw some ListOffset warnings:
[code]

and later some other things I found
[code]
and
[code]

I also don't see a successful JoinGroup (I think it comes after the listNodes call), where it joins the worker group.

[2021-02-05 12:24] rk3rn3r commented on #571
Here's an example `docker-compose.yml`:

[code]

[2021-02-05 15:15] dotnwat commented on #571
thank you @rk3rn3r for the quick turn around here! this is excellent. it does look like there are some thing we need to investigate w.r.t. compatibility with debezium.

[2021-02-05 15:46] andresaristizabal commented on #570
expected new behaviour: `rpk wasm generate <folder_name>  --output <path>`
expected output: `npm created project in <current_path>or<path>/<folder_name>`

[2021-02-05 17:51] ivotron commented on #436
commitlint seems really cool! I think we should adopt it. I'll look deeper into it

[2021-02-05 20:59] senior7515 commented on #570
exactly

[2021-02-05 23:29] senior7515 commented on #419
fixed in https://github.com/vectorizedio/redpanda/commit/187547195d556946102bebc27733791e46957cd7

[2021-02-05 23:29] #419 closed

[2021-02-06 00:20] voxpelli commented on #419
Very nice @senior7515 👏

Nitpick: You probably want to change the text as well: `Change Date: Feb 04, 2025. Change date is **ten** years from release date.`

[2021-02-06 02:46] senior7515 commented on #419
ah good point.

[2021-02-07 16:43] bbigras opened #575 "slack link expired?"
When I use `https://vectorized.io/slack` I get:

![image](https://user-images.githubusercontent.com/24027/107153101-a53f4d00-6963-11eb-8215-29d94618dba0.png)

[2021-02-07 19:14] senior7515 commented on #575
we made it non expiring. but let me see. thank you for raising this concern.

[2021-02-07 19:16] senior7515 commented on #575
@bbigras i just tested on an incognito window and it seem to work.

https://vectorized.io/slack

maybe slack was having an issue?

[2021-02-07 19:25] senior7515 commented on #575
@bbigras I was able to reproduce. Let me generate a new token

cc: @rkruze

[2021-02-07 19:43] senior7515 commented on #575
OK i think slack is having issues. I created a new token, tested on an incognito window and it gave me the same error.

[2021-02-07 19:56] senior7515 commented on #575
We'll fix this tom. So the gist is that they are having issues. I created a new slack workspace, new link and same issues.

We'll use an amazon lambda to send invites, probably tom or so.

[2021-02-07 20:10] senior7515 commented on #575
pushing a temporary 30 day link for now

[2021-02-07 21:22] bbigras commented on #575
I'm still having the same problem. I'm using google to log in.

[2021-02-08 04:28] senior7515 commented on #575
let me try to generate a new token for fewer days like 7 and see if works. sigh. turns out that they expired all the long term tokens today... or well. today is when we found out! thank you for filing.

[2021-02-08 21:01] senior7515 commented on #575
@bbigras - it was a slack issue. I just created a new token and the site should be up in 5 mins. I tested the whole flow myself on a new window

[2021-02-08 21:01] #575 closed

[2021-02-08 21:16] bbigras commented on #575
Yeah it works now. Thanks.

[2021-02-09 02:37] dotnwat opened #581 "Support for SCRAM-based ACL"
JIRA Link: [CORE-587](https://redpandadata.atlassian.net/browse/CORE-587)

[CORE-587]: https://redpandadata.atlassian.net/browse/CORE-587?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-02-09 03:23] dotnwat opened #582 "Auto-cleanup consumer group state on topic/partition delete/movement"
- [x] Topic delete (via #597)
- [ ] Partition delete / movement

JIRA Link: [CORE-588](https://redpandadata.atlassian.net/browse/CORE-588)

[CORE-588]: https://redpandadata.atlassian.net/browse/CORE-588?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-02-09 13:50] deepskyblue86 commented on #505
@96RadhikaJadhav I hope you don't mind I did this work. :upside_down_face:

[2021-02-09 16:14] graphcareful opened #590 "wasm engine crashes with UnhandledPromiseRejection when starting without a path to cfg file"
If you start the wasm engine like so: (without passing a path to a redpanda.yaml file)
[code]

You'll see this output
[code]

If we do want to crash in the case we desire a wasm path to be explicitly defined this crash should still be handled and the wasm engine should gracefully fail.

[2021-02-09 17:26] andresaristizabal commented on #570
New approach: we are going to use the react CLI approach.
`rpk wasm generate <path>`

example:
$ rpk wasm generate e1
$ tree -L 1 e1
e1
├── node_modules
├── package.json
├── src
$ rpk wasm generate other/path/e2
$ tree -L 3 other
other
└── path
    └── e2
        ├── node_modules
        ├── package.json
        ├── public
        ├── README.md
        ├── src
        └── yarn.lock

[2021-02-10 00:18] hagmonk opened #591 "Confluent schema-registry crashes on relaunch"
Confluent's schema-registry creates a compacted topic called `_schemas`. On initial launch this works fine, but if the schema-registry is restarted, we get the following crash:

[code]

Looking at [KafkaStore.java:263](https://github.com/confluentinc/schema-registry/blob/v6.1.0/core/src/main/java/io/confluent/kafka/schemaregistry/storage/KafkaStore.java#L263), this occurs in `verifySchemaTopic` wh

[2021-02-10 02:37] senior7515 commented on #591
@mmaslankaprv i think this has to do with `alter configs` ?

[2021-02-10 02:44] dotnwat commented on #591
ah this may be redpanda not reporting all topic configuration properties

[2021-02-10 02:46] #505 closed

[2021-02-10 03:44] dotnwat commented on #591
I was able to reproduce this. The issue is that redpanda is not reporting the clean-up policy in the describe configs api. Should be an easy fix. @hagmonk i'll update this ticket when a fix drops.

[2021-02-10 07:38] #591 closed

[2021-02-10 07:45] dotnwat commented on #591
hey @hagmonk a fix for this has merged. can you recommend any sort of workload / tests to run against the schema registry? given the feedback loop to get a new release cut with this change (@senior7515 ?) it could be useful for us to do a little testing locally in case there are other incompatibilities lurking in there.

[2021-02-10 11:40] RafalKorepta commented on #565
@senior7515 the issue was closed automatically when you merge the https://github.com/vectorizedio/redpanda/pull/567. I will reopen until @ivotron finish .deb and .rpm bundle work.

[2021-02-10 20:56] mmaslankaprv opened #595 "support nodes decommissioning"
Add support for removing nodes from an active cluster. The operation should involve moving partitions from decommissioned node.

[2021-02-11 09:59] raphaelauv commented on #186
@dotnwat do you have some news about this ? Thank you :)

[2021-02-11 15:28] dotnwat commented on #186
hi @raphaelauv yes support for multiple listeners has merged (since v21.1.2), and yesterday some of the tool support to interact with the new configuration settings merged. we've tested docker compose and k8s with multiple network setups and it seems to be working ok.

until a release with the tooling update is cut, the configuration file can be changed manually:

[code]

I'm pretty sure I update

[2021-02-11 17:37] simon0191 commented on #95
This one seems to be already solved.
[code]

[2021-02-11 18:39] dotnwat opened #604 "Producing after changing acks hangs"
Seeing an issue with a topic with replication 3 and 30 partitions where initially we produce with acks=1, stop, and then start again with acks=all, and producing doesn't seem to make progress. Restarting with the first acks setting is ok.

[code]

[2021-02-11 18:51] dotnwat commented on #95
thanks @simon0191. @0x5d is there a PR we can link this issue to and then close this?

[2021-02-11 18:55] simon0191 commented on #249
@dotnwat if no one is working on this I can give it a try.

Is this the whitelist of configs the one in `src/v/kafka/server/handlers/topics/types.cc#to_cluster_type`?
[code]

I was thinking about:
1. creating a map of string (config option) to lambda that takes a config_value as string, a cluster::topic_configuration and returns a cluster::topic_configuration.
2. in `src/v/kafka/server/handlers/to

[2021-02-11 21:53] #570 closed

[2021-02-11 23:03] dotnwat commented on #249
hey @simon0191 i think there are two separate PRs here. the first would address this ticket probably swap out `is_not_supported` with `is_supported` and check for set inclusion.

for the second PR i think you could copy-paste your example code above into a separate ticket (or into a github discussions). I was just looking at some of that code and it could definitely use a clean-up but it would be

[2021-02-12 01:15] rkruze opened #608 "High latencies seen when machine saturation is hit"
When running something like `rdkafka_performance`, if you just let it run without specifying a rate you get some very high latencies, for example:

on 3 i3en.large instances, running the following: `./rdkafka_performance -P -b <broker> -t sfo -s 1024 -a -1 -c 10000000 -u` will get you the following:

[code]

Now if we specify a rate of about 100 MB/s using the following command: `./rdkafka_perform

[2021-02-12 01:38] senior7515 commented on #186
@raphaelauv we aim to have this release next week. AFAIK it's supported through and through on every level now. We just need to cut the release.

[2021-02-12 02:56] BenPope opened #609 "rpk redpanda start is underdocumented"
Both in the docs, and in the command help.

### Command
`rpk redpanda start -- help` needs updating for `NamedSocketAddress`: `advertised_kafka_api` and `kafka_api` format should be `name://host:port`, and that they can be specified multiple times.

[code]

### Docs

`/docs/www/rpk-commands.md` needs a big update.

[2021-02-12 04:56] rkruze commented on #608
Just to compare, running the following on Kafka on the same hardware, with flushing after every message I get the following:

[code]

[2021-02-12 05:29] senior7515 commented on #608
I think this is directly related to #542  -

@dotnwat posits that we use up all the memory and have to wait for all the chunks to come back specially when we do a flush()

[2021-02-12 09:09] RafalKorepta opened #611 "Reject creation of kubernetes object when key labels are used"
Based on the discussion in https://github.com/vectorizedio/redpanda/pull/576 the validation webhook need to reject user intent to create Cluster custom resource that overwrites the following labels:

- `app.kubernetes.io/name`,
- `app.kubernetes.io/instance`,
- `app.kubernetes.io/component`

[2021-02-12 15:56] flyaruu opened #613 "Original java-based AdminClient fails after timeout"
Hi, I'm trying Redpanda, for example to replace Kafka for integration tests, perhaps for other cases later.

I'm running the simplest single node setup I can think of:
[code]
I have a simple Java unit test that list:
[code]
It just hangs for a minute and then fails:

[code]

Any ideas why this isn't working?

[2021-02-12 16:03] flyaruu commented on #613
I've uploaded the source to this repo: https://github.com/floodplainio/redpanda
Run using:
[code]

[2021-02-12 16:57] dotnwat commented on #613
Hi @flyaruu. I tried this on fedora 32 a few minutes ago. I pulled the latest image and ran the same docker command you posted, and then tested with:

[code]

I'm curious if the kafka admin client works for you? It'd be nice to narrow down to networking vs client issue.

[2021-02-12 17:06] flyaruu commented on #613
Hi Noah, got it, turned out to be resolved by a reboot :-/ Docker for Mac was in a weird state (even though other containers worked fine). Sorry for wasting your time, and thanks for the input.

[2021-02-12 17:06] #613 closed

[2021-02-12 17:28] dotnwat opened #614 "raft: apparent memory safety race"
[code]

latest `clang-debug`

[code]

[2021-02-12 17:29] dotnwat commented on #614
@mmaslankaprv approximately when in git history was the last known good state?

[2021-02-12 17:52] dotnwat commented on #613
No worries @flyaruu let us know if you run into any issues. Enjoy!

[2021-02-12 20:47] dotnwat commented on #614
working back through git history with same test command

[code]

@ 33f09d0d0e7bb12d65a4e2d1cbc04e907ac4e77f

[2021-02-13 01:07] yougotashovel opened #617 "dashboard: images will not serve, MIME types need to be added"
The server for the dashboard needs to include MIME types for images:
* SVG
* PNG

**Waiting for this PR to merge:**
https://github.com/vectorizedio/redpanda/pull/616

**To reproduce the issue:**
After PR merge you can test the dashboard after running redpanda and going to this url:
[code]

[2021-02-13 01:46] dotnwat commented on #614
This has all the hallmarks of a race condition, but I'm not sure where it is @mmaslankaprv. Running your reproducer above triggers a use-after-free sanitizer crash at least back to here:

[code]

but i think it goes back a bit further than this. running the test with a heavy parallel build of the redpanda tree triggers the condition quite easily. on the latest HEAD, and some other recent commits w

[2021-02-13 01:51] dotnwat commented on #614
I think we should try and fix this use-after-free because it has been around for a while and is easy to reproduce. That might lead us to answers about the failure at the storage layer.

[2021-02-13 05:34] senior7515 commented on #617
This should happen automatically

https://github.com/vectorizedio/seastar/blob/master/src/http/file_handler.cc#L87-L88

extracts and sets the content type

here: https://github.com/vectorizedio/seastar/blob/master/src/http/reply.cc#L154-L157

which ultimately are stored here:

https://github.com/vectorizedio/seastar/blob/master/src/http/mime_types.cc#L18-L34

I can add this and submit a PR for ima

[2021-02-13 05:36] senior7515 commented on #617
`svg, image/svg+xml` is missing

[2021-02-13 05:53] senior7515 commented on #617
I patched seastar - https://groups.google.com/g/seastar-dev/c/QKmdtnxOpNk

@dotnwat should I merge those patches into our /dev

[2021-02-13 18:17] dotnwat commented on #617
into the `for_upstream` branch

[2021-02-13 19:27] dotnwat opened #618 "cluster: consumer group integration with partition movement"
Consumer group manager assumes that internal metadata partitions are never unregistered at runtime. Partition movement changes this assumption.

@mmaslankaprv are there other examples of sub-systems integrating with partition movement in the tree?

[2021-02-13 21:06] senior7515 commented on #617
ok i'm doing it.

btw i noticed you used pull requests instead of the regular mailing list style patches for our branch

[code]

Did you submit that patch independently to upstream -  i didn't see it on the mailing list.

I'm pushing now. the 2 changes

[2021-02-13 21:16] dotnwat commented on #617
The pull requests don't really matter. Once those patches land in upstream seastar we can rebase before merging to get rid of the merges.

[2021-02-13 21:22] senior7515 commented on #617
github closed a public issue from a private fork. hmmm. reopening

[2021-02-13 22:33] #617 closed

[2021-02-14 01:06] emaxerrno opened #621 "add relative or `/dashboard` path to react app"
@yougotashovel  I got the dashboard to work w/ the latest build, however I see a few issues before it's all working

1. we need to change the index.html to produce relative assets. i don' tthink the `manifest.json` is working as expected

here is the index.html that *does* work

[code]

2. the dashboard still seems to use dummy data

JIRA Link: [CORE-590](https://redpandadata.atlassian.net/browse/

[2021-02-14 01:06] senior7515 commented on #621
![image](https://user-images.githubusercontent.com/175206/107865663-cef1eb80-6e1d-11eb-9443-964179efbe73.png)

[2021-02-14 01:07] senior7515 commented on #621
3. Let's move the support bar + twitter + slack to the top right below the redpanda

![image](https://user-images.githubusercontent.com/175206/107865674-f2b53180-6e1d-11eb-9404-68bc944bc758.png)

[2021-02-14 01:09] senior7515 commented on #621
let's sync w/ @laurajaramillovectorized for design input too.

[2021-02-14 02:33] senior7515 opened #622 "absl:: containers defined with 100% mem usage"
Currently, we use absl for containers datastructures.

the memory pressure of `absl::flat_hash*{set,map}` is large. So normally we use `absl::node_hash_map`.

for the majority of our workloads our maps are lookup-mostly (probably 90%+ lookups and some very little deletions). Most of the time we `rehash(0)` after deletion of these maps because frankly they just get updated so rarely - i.e.:

1. con

[2021-02-14 15:26] yougotashovel commented on #621
Both of these things should have been fixed by this https://github.com/vectorizedio/redpanda/pull/616
- package.json was changed to make everything use relative paths during build [see here](https://github.com/vectorizedio/redpanda/pull/616/files#diff-5a85e258256300aa655f668add255b3a7b6214408733eae3786d613161a8ae33)
- the dummy data was removed, and it now looks for `<host>:<ip>/metrics`, if there

[2021-02-14 19:39] raphaelauv opened #623 "Seastar Fork"
_Since it's not possible to open an issue in your seastar repo :_

Hi, I would like to know what is your roadmap about your fork of seastar, do you plan to rebase or submit your changes from scylladb repo ?

Also if you want , could you explain your choice to fork ?

Thank you.

[2021-02-15 03:12] dotnwat commented on #623
Hey @raphaelauv we have a fork only because we often want to use some fixes before they merge into upstream seastar. The `for_upstream` branch contains any patches that we intend to send to seastar-dev. Generally we hard reset to the latest seastar whenever some changes we depend on land upstream.

[2021-02-15 10:48] raphaelauv commented on #623
very clear , thank you

[2021-02-15 10:48] #623 closed

[2021-02-15 13:05] mmaslankaprv commented on #614
Segment appender issue is related with the race condition in the `storage::segment_appender`. We hydrate last page without waiting for background writes to finish.

[2021-02-15 15:15] dotnwat commented on #614
nice find. can you describe the race?

[2021-02-15 18:07] senior7515 opened #626 "support message.timestamp.type = LogAppendTime"
From the community

is message.timestamp.type = LogAppendTime currently supported? the timestamps for the records in that topic are all pretty retro, e.g. 1970-01-07T21:49:22.573Z. this is running in a docker container, date inside the container appears correct. v21.1.5 (edited)

Kevin Liu  9:48 AM
java kafka client 2.6.0. made a fresh topic, has the same behavior

[2021-02-16 00:18] dotnwat commented on #614
[code]

[2021-02-16 16:01] #614 closed

[2021-02-17 00:32] senior7515 commented on #621
ah everything works. see latest release of `v21.2.2`

[2021-02-17 02:39] senior7515 opened #636 "rpk 21.2.2 documentation incompatibility"
[code]

[2021-02-17 02:43] senior7515 commented on #636
@bmansheim can we try to push a fix for this tom to the docs?

[2021-02-17 04:25] rkruze opened #642 "Provide monitoring information on consumer lag"
We need a way to show on a per consumer basis the lag on each client for a given topic.

[2021-02-17 04:33] rkruze opened #643 "Provide monitoring on a per topic basis"
In the grafana dashboard, we need information on a per-topic basis. This includes bytes in/out and the number of partitions

JIRA Link: [CORE-591](https://redpandadata.atlassian.net/browse/CORE-591)

[CORE-591]: https://redpandadata.atlassian.net/browse/CORE-591?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-02-17 05:05] dotnwat commented on #642
From where will this information be consumed?

[2021-02-17 17:13] raphaelauv commented on #98
Hi, I just tried my example ( from first post ) with the release v21.2.2 , it's not working

[2021-02-17 17:33] BenPope commented on #98
We don't support env vars yet, so when you start Redpanda, you'll need to pass some command line flags:

You might be able to get away with:
[code]

[2021-02-17 17:42] senior7515 commented on #98
@raphaelauv  what @BenPope  said :)

We have a few users using confluent schema registry successfully now:

https://github.com/vectorizedio/redpanda/issues/591

[2021-02-17 17:55] senior7515 commented on #98
@raphaelauv this works

[code]

[2021-02-17 18:51] raphaelauv commented on #98
@senior7515 thank you but I just copy paste your example on a new docker-compose.yml file and then "docker-compose up -d"

schema-registry give me :

[code]

are you sure this work on your side ?

Thanks

[2021-02-17 18:53] BenPope commented on #98
Do you have the logs for Redpanda?

[2021-02-17 18:57] raphaelauv commented on #98
[code]

[2021-02-17 19:02] BenPope commented on #98
Looks like the configuraton didn't work:
[code]
Needs to be:
[code]

[2021-02-18 07:34] alenkacz opened #652 "Kubernetes: Support TLS on KafkaAPI"
Operator right now does not support TLS. Integrate operator with cert-manager and generate certs to be used for that.

[2021-02-18 07:39] alenkacz opened #653 "Add validation webhook to prevent users from using features that are not supported"
There's couple of things we don't support right now, for example:
- scaling down
- updating redpanda config

We should make it obvious and reject requests trying to do that rather than appearing as it should work but making users confused with why that did not work.

With this we should also test the operator with webhook e2e to be sure everything is OK.

[2021-02-18 08:06] alenkacz opened #655 "E2E tests should wait for controller to be ready"
This is techdebt - right now we install the controller but we don't wait for it to be ready. Because of that every test has to start with this https://github.com/vectorizedio/redpanda/blob/dev/src/go/k8s/tests/e2e/update/00-assert.yaml

We should try to use something like kubectl rollout or other kubectl commands to wait for controller to be ready and then drop all these unnecessary steps.

[2021-02-18 08:21] alenkacz opened #656 "Resource update should also follow the upgrade"
https://github.com/vectorizedio/redpanda/pull/598 introduced updates of resource. We use normal rolling update strategy there which is not correct, all updates requiring restart of nodes should follow strategy introduced in https://github.com/vectorizedio/redpanda/pull/596

[2021-02-18 11:15] alenkacz opened #657 "Redpanda crash when trying to provide tls config"
Using redpanda from this commit https://github.com/vectorizedio/redpanda/commit/aaf8c81f17251b20d306d9f801a898c9d258303c

It crashed in my local k8s cluster with following log:
[code]

[2021-02-18 14:49] BenPope commented on #636
I don't understand this error as a documentation problem, it looks like misconfiguration.

Both the "old" single listener config and the new multi-listener config should be supported by rpk.

[2021-02-18 14:54] BenPope commented on #98
OK, so the problem is:
[code]
It looks like it tries to update the `kafka_api` json node with a list, when it's already a map.

[2021-02-18 15:00] BenPope commented on #524
This is not fixed.

[code]

[2021-02-18 15:21] BenPope commented on #98
I've reopened https://github.com/vectorizedio/redpanda/issues/524

The easiest fix for now is to mount a configuration file that doesn't have kafka_api set:

./redpanda.yaml:
[code]
[code]

[2021-02-18 18:57] senior7515 commented on #636
do we specify the documentation for the new multi listener support in the docs? i didn't see it.

if so we can close.

[2021-02-18 20:19] BenPope commented on #636
I think documentation is covered by: https://github.com/vectorizedio/redpanda/pull/525 and https://github.com/vectorizedio/redpanda/issues/609

`rpk` is supposed to support both the old and new style, but there's a bug upgrading the old to new via `rpk redpanda start`, so I reopened #524.

The error in the description needs more context to determine where the problem lies, but it sounds like there

[2021-02-18 20:26] BenPope commented on #636
We should also change the default config file, and default generated config to always be the new version, and documentation should "forget" the old way.

[2021-02-18 20:57] senior7515 commented on #636
makes sense to me. I think @bmansheim can document the new way only and delete the old way.

[2021-02-18 22:29] rkruze commented on #642
From a user standpoint? It would be great if it was available via Grafana, but if there is another place we could make this available, via an API or CLI command that could also work.

[2021-02-19 04:28] senior7515 commented on #465
@kanadaj  https://vectorized.io/docs/quick-start-docker - it explains how to start redpanda with a few hundred MB of memory only in developer mode.

1. we'll have a k8s operator soon you can try and  #556  should expose the right IP addrs for you.

If this doesn't solve your issue, kindly reopen. I'm trying to prune some tix

[2021-02-19 04:28] #465 closed

[2021-02-20 00:56] dotnwat opened #662 "archival: warning from boost compiling with gcc+release"
[code]

[2021-02-22 08:57] alenkacz opened #664 "Replicas in the cluster spec are pointer that it not defaulted"
We have made the design decision to make replicas optional, but there's no defaulting to this field. I would recommend to keep the same behavior as statefulset has

https://github.com/vectorizedio/redpanda/blob/59629a7e0f98817f2719451d4e423418c3527bc6/src/go/k8s/apis/redpanda/v1alpha1/cluster_types.go#L29

[code]

[2021-02-22 14:15] alenkacz commented on #657
Still see this issue with build from latest master

INFO  2021-02-22 13:57:50,622 [shard 0] rpc - server.cc:147 - protocol not set - Shutting down 0 connections
Segmentation fault on shard 0.
Backtrace:
  0x000000000192857e
  0x00002960ed5fd1df
  0x0000000000b1382d
  0x00000000012e74b2
  0x0000000000a97977
  0x0000000000a32896
  0x0000000001cbc9d9

[2021-02-22 22:19] senior7515 commented on #664
@alenkacz makes sense. i think replicas 3?

[2021-02-23 00:18] jskolovos opened #671 "Using set-config on topic"
Using stand alone (on premises) installation on Centos 7, Redpanda v21.2.2

want to change retention time with: "rpk topic set-config cute-pandas -- delete_retention_ms -1"
answer is: "Added config 'delete_retention_ms'='-1' to topic 'cute-pandas'."
But when I want to check the topic with: "rpk topic describe cute-pandas" I just get:
`  Name                cute-pandas
  Internal            false

[2021-02-23 00:25] rkruze commented on #671
I checked this as well. So on Redpanda:

[code]

If I run the same against Kafka I see the following:

[code]

It seems we only support this config on a per broker basis, not on a per topic basis.

[2021-02-23 00:48] senior7515 commented on #671
@jskolovos thanks for filing. We'll fix.

[2021-02-23 00:58] senior7515 opened #672 "rpk debug info"
on a default installation:

[code]

[2021-02-23 00:59] jskolovos opened #673 "rpk debug info crashing"
I did a fresh install on a Centos 7 computer (Redpanda v21.2.2)
yum install redpanda
systemctl start redpanda
rpk debug info
and got:
`rpk debug info
panic: reflect: call of reflect.Value.Index on map Value

goroutine 11 [running]:
reflect.Value.Index(0xd5e0e0, 0xc0005c6090, 0x15, 0x0, 0xd16c00, 0xc00007b8e0, 0x9d036b)
	/vectorized/go/src/reflect/value.go:966 +0x1c6
github.com/mitchellh/mapstructu

[2021-02-23 01:03] senior7515 commented on #673
duplicate of #672  Thanks @jskolovos much appreciate it. we'll try to release this week.

[2021-02-23 01:03] #673 closed

[2021-02-23 08:02] mmaslankaprv opened #674 "Segmentation fault when removing topic"
While testing I stepped on the following segmentation fault triggered by topic deletion:

[code]

[2021-02-23 10:51] criskurtin opened #675 "connecting to redpanda broker via UI tools"
Greetings,

I'm giving redpanda a try, it seems like a great kafka alternative.
We are currently using kafdrop to easily access some basic kafka info. How would one approach connecting apps like kafdrop or any kind of UI with redpanda brokers since these apps usually need a zookeeper connection as well? If I just omit the zookeeper configuration, connection just can't get established. For testing

[2021-02-23 11:06] criskurtin commented on #675
Seems like newer version of kafdrop no longer requires a zookeeper connection. Closing this issue, but if anyone still has something to add on this topic, feel free to comment

[2021-02-23 11:06] #675 closed

[2021-02-23 13:18] alenkacz commented on #672
the problem is the incompatible change in kafka_api from object to array

so this is the original config https://github.com/vectorizedio/redpanda/blob/dev/conf/redpanda.yaml ... it has kafka_api that's not array and then rpk tries to update it but viper fails when the types don't match (map vs array) :confused: One option would be just to update that original config but that might break it for old

[2021-02-23 14:49] simon0191 commented on #249
Hey @dotnwat, I’m having trouble building the project. I created a docker container based on the [redpanda-build CI job](https://github.com/vectorizedio/redpanda/blob/dev/.github/workflows/redpanda-build.yml), installed the dependencies, and then tried to build but it fails. Here are the relevant pieces:

[code]

[code]

And then inside the container, I run `install-dependencies.sh` which succeeds

[2021-02-23 15:02] alenkacz commented on #657
fixed, thanks!

[2021-02-23 15:02] #657 closed

[2021-02-23 15:36] dotnwat opened #678 "Support broker resource in describe configs"
https://vectorizedcommunity.slack.com/archives/C01AJDUT88N/p1614093627038000?thread_ts=1614091265.031800&cid=C01AJDUT88N

[2021-02-23 17:50] #672 closed

[2021-02-23 18:06] dotnwat commented on #674
I think I know what the race is. There in group manager on line 110 we should check if the group still exists before interacting with it `if (!g->in_state(group_state::dead)) {`. Is this easy to reproduce @mmaslankaprv ?

[2021-02-23 21:08] criskurtin commented on #98
Just stumbled upon this issue while I was trying to set up containerized redpanda to be accessible to consumers on the local machine. For anyone who needs a temporary fix in docker-compose form, here it is (assuming you have the `redpanda.yml` in the same directory as `docker-compose.yml` and you've already done `chmod 777 redpanda.yml`):

[code]

[2021-02-23 21:11] BenPope commented on #98
Looks great for a single broker, thanks for this.

One caveat: Looks like host networking is required, so won't work on MacOS.

[2021-02-23 23:27] senior7515 commented on #675
thanks for adding this, we'll add test for kafka drop too.

[2021-02-24 00:53] 10Dev commented on #193
FWIW you will want an install page for Windows similar to "https://vectorized.io/docs/quick-start-linux"

Note you can use MicroK8s to install a dev Kube on most platforms. On Windows, you also have Native Windows Containers to consider which can run simultaneously to Linux Containers.

But of course just getting a nice operation of RedPanda on the Windows Command Line is a good start.

What caugh

[2021-02-24 01:27] BenPope commented on #193
I think this support is intended for topic creation and the like.

I've heard it's possible to [install the redpanda deb](https://vectorized.io/docs/quick-start-linux#Install-Redpanda) under Ubuntu on WSL2 if you add systemd support: https://github.com/DamionGans/ubuntu-wsl2-systemd-script - but that's very much unsupported for now.

[2021-02-24 04:28] senior7515 opened #683 "rpk debug info v2"
typing simple `rpk debug info` on my desktop prints this:

Error initializing: The cloud vendor couldn't be detected

which is an error.

[2021-02-24 07:58] alenkacz opened #684 "RPK should be able to create config if it does not exist"
[code]

[2021-02-24 07:58] alenkacz commented on #684
I would expect it creates the folder and file, or it could write the config to the current directory but it should not fail like this

[2021-02-24 08:07] alenkacz opened #685 "rpk bootstrap does not work on old (non-array) config"
How to reproduce:
create config with kafka_api being struct and not array in /etc/redpanda/redpanda.yaml
run ./rpk config bootstrap

[code]

This is because Viper does not support different types like this when using MergeConfigMap https://github.com/spf13/viper/blob/8c894384998e656900b125e674b8c20dbf87cc06/viper.go#L1828

To get around this we need to normalize the config read from file to the ex

[2021-02-24 08:16] alenkacz opened #686 "rpk prints out empty brackets when running start"
I think those first two lines of logs are redundant and should be removed or should be more verbose to understand what it actually mean.

[code]

[2021-02-24 16:02] #653 closed

[2021-02-24 19:19] mmaslankaprv opened #688 "`rpk debug info` return incorrect information"
When `rpk debug info` is called it return following output
[code]

the message is not readable for Redpanda users and additionally rest of the output is incomplete.

[2021-02-24 19:23] mmaslankaprv opened #689 "Setting retention time doesn't work"
Executing RPK command, should cause topic delete retention to change.
[code]

Currently topic retention change is not applied.

[2021-02-24 20:10] senior7515 commented on #689
let's schedule this for next week

[2021-02-24 20:12] jskolovos commented on #688
@mmaslankaprv I think the output is incomplete because the message "open /var/lib/redpanda/data/pid.lock: no such file or directory" at the beginning. Because when this message is not in the output. The debug info displays complete. Maybe rpk commands processor was working but the cluster (just 1 machine) was down.

[2021-02-24 20:23] mmaslankaprv commented on #688
I think you are right, redpanda was down. We should output clear message about the cluster state in this case.

[2021-02-24 20:33] gaffneyc commented on #674
I maintain a set of [Ruby bindings for librdkafka](https://github.com/deadmanssnitch/kafka/) and our test suite can reliably trigger this (or a similar) segmentation fault. Most of the tests generate a topic that is removed once the test is complete.

If you already have Ruby, bundler, and Kafkacat installed then this script should run the tests against an instance on localhost:9092
[code]

[2021-02-24 20:37] senior7515 commented on #674
oh awesome! thanks @gaffneyc  - we're scheduling this for early next week.

[2021-02-24 20:39] dotnwat commented on #674
wow thanks @gaffneyc you saved me a bunch of time! watch this space for a fix!

[2021-02-24 21:08] RafalKorepta opened #690 "Versioning scheme for Redpanda k8s operator release"
The requirements are:

- the proces should automated - as a starting point git tag could trigger whole release process
- the release notes should be gather from git commit summary history
- the helm chart image tag must be updated along with the release from this repo
  - the new version of helm chart is released
- the docker hub container images are uploaded (latest and new version)

Nice to have

[2021-02-24 21:25] jskolovos commented on #688
Totally agree

[2021-02-25 06:19] dotnwat commented on #249
hey @simon0191 i think this is fixed here https://github.com/vectorizedio/redpanda/pull/692 i got some errors too building in ubuntu 20.10 and that PR has some fixes. Basically `./install-deps` then `./build` should now work in a brand new ubuntu 20.10 container.

[2021-02-25 13:21] alenkacz opened #693 "Do not override --config on some commands"
it looks like RPK has a global flag --config  https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/api.go#L38 but also some commands specify their own --config  that silently overrides it e.g. https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/topic/create.go#L91 so then if you try to do --config redpanda.yml  on that command, it won't work

[2021-02-25 18:07] simon0191 commented on #249
@dotnwat I rebased and tried to build again but it's still failing, so I just went ahead and pushed the code so that the tests are run by the CI job.

[2021-02-25 22:24] senior7515 commented on #693
good find.

[2021-02-26 23:25] rkruze opened #703 "Expose the ability to move partitions between nodes"
Like moving leaders between nodes, we should also expose the ability to trigger a partition to move between nodes using an HTTP endpoint.

Depends on: #582 (integration with consumer groups)

[2021-02-26 23:42] rkruze opened #704 "Larger backlogs tend to not get cleared"
Running a test in the open message benchmark suite, I noticed that when I had larger backlogs, like 250GB. They would not get cleared during the duration of the test. Example:
![image](https://user-images.githubusercontent.com/351857/109366685-f9de3580-7848-11eb-973a-0a422f52a9b5.png)

[2021-02-27 00:25] dotnwat commented on #678
so far i'm able to spin up kafdrop and not reproduce the error. it looks like this particular bug is related to listeners. duplicate / related issues here:

https://github.com/vectorizedio/redpanda/issues/186
https://github.com/vectorizedio/redpanda/issues/98

[code]

[2021-02-27 17:51] dotnwat opened #705 "coproc::event_listener throwing an exception during partition_move_test"
Here is a reproducer:

`bin/partition_moving_test_rpunit -t corner_cases_3 -- -c1 2>&1 | tee x.log`

then in the log I find

[code]

which seems to indicate there is a shutdown issue.

[2021-02-27 20:56] dotnwat commented on #689
@mmaslankaprv is there an interface (i guess at the controller level) for altering topic configurations so that those changes are disseminated to brokers?

[2021-02-28 01:40] dotnwat opened #708 "cluster: ignored future in metadata dissemination"
[code]

@mmaslankaprv `metadata_dissemination_service::collect_pending_updates` is throwing when the partition id is outside the range of for of partitions for the associated topic. however, right before that we verify that the topic still exists. so this seems like perhaps the fix is more complicated (?) and catching the exception and logging a message (though we do also probably want to make sur

[2021-02-28 01:40] dotnwat commented on #674
[code]

[2021-02-28 01:41] dotnwat commented on #708
src/v/cluster/metadata_dissemination_utils.cc:          "Topic {} does not contain partion {}", tp_md.tp_ns, pid));

[2021-02-28 19:01] graphcareful commented on #705
Thanks to @mmaslankaprv for investigating the cause of the crash. Pasting his findings here:

"the problem is that event_listener assumes that it will be able to connect to the cluster when starting
this is not the case when cluster is restarted
kafka::client asks for metadata
when cluster is restarted it already returns 5 nodes (edited)
so we try to connect to every one
it fails"

[2021-03-01 21:24] rkruze opened #724 "rpk: Better error message when cannot connect to local broker"
When you run an rpk command like `rpk topic list` but the local redpanda broker is down you get an error like:

[code]

It would be helpful if we provided an error message like:

[code]

[2021-03-01 21:26] rkruze opened #725 "Don't emit -1 as a high watermark"
When a partition doesn't have any data in it, we return -1 for the high watermark when providing the metadata for a topic. However, Kafka reports 0 instead of -1 for the same case. We should align with Kafka by returning 0.

[2021-03-02 04:59] #705 closed

[2021-03-02 16:10] #655 closed

[2021-03-02 16:26] mmaslankaprv opened #730 "allocator: fix memory fragmentation"
When redpanda is running  on `n1-standard-32 (32 vCPUs, 120 GB memory)` after few hours of consuming workload on 2048 partition with replication factor of 3 and compaction enabled a lot of heartbeat requests starts to timeout.

The timeouts are caused by memory allocation issues it takes up to 1s to reclaim enough memory to allocate `128KB` for `iobuf` when inserting it to cache.

Since reclaims a

[2021-03-02 16:57] #683 closed

[2021-03-02 19:10] 0x5d commented on #724
@rkruze I submitted a PR addressing this (#732). I changed the "local redpanda instance" part because initialization errors may occur even for remote nodes, so it might be confusing.

[2021-03-02 21:19] bbigras commented on #296
Is there a workaround?

I tried to play with `api.version.request=false` but without success.
https://github.com/edenhill/librdkafka/blob/master/INTRODUCTION.md#broker-version-compatibility

[2021-03-02 21:39] senior7515 commented on #296
@bbigras - can you try a more recent librdkafka release ?

[2021-03-02 21:41] senior7515 commented on #724
@0x5d i think in that case it would be incorrect tho. `local` has a very specific meaning.

[2021-03-02 21:41] senior7515 commented on #724
why can't it say `cannot connect to '<ip>'. \n Try specifying --broker-list to connect to a remote cluster`

[2021-03-02 21:54] 0x5d commented on #724
Exactly, that's why I changed it.

It totally can! I just saw that Roko's suggestion omitted that info so I didn't add it. @rkruze let me know if that works.

[2021-03-02 22:09] rkruze commented on #724
I'm fine with that, the most important part to me is to tell the user to use the --broker-list to connect to another node.

[2021-03-02 22:15] bbigras commented on #296
I was using 1.6.0 and now I'm using 1.6.1. Are we talking about the same librdkafka?

[code]

Note that I can receive messages from redpanda even if I have those errors.

[2021-03-02 22:18] #249 closed

[2021-03-03 00:12] dotnwat opened #734 "kafka: handle dynamic configs in describe configs api"
Once we have dynamic configuration changes we should reflect this in the describe config api which is able to express different sources for configuration values.

JIRA Link: [CORE-592](https://redpandadata.atlassian.net/browse/CORE-592)

[CORE-592]: https://redpandadata.atlassian.net/browse/CORE-592?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZjUiLCJwIjoiZ2l0aHViLWNvbS1KU1cifQ

[2021-03-03 02:06] #678 closed

[2021-03-03 03:48] #674 closed

[2021-03-03 03:50] senior7515 commented on #296
@bbigras thanks! looks like a bug. we'll wait for @dotnwat to chime in on deets.

[2021-03-03 09:44] bmansheim opened #736 "build: support arm64 architecture"
This would allow to run Redpanda to run on Apple M1 processors

[2021-03-03 10:30] bmansheim opened #737 "docs: explain how to run a multi-cluster k8s deployment"

[2021-03-03 14:30] 0x5d commented on #251
Fixed in #474

[2021-03-03 14:30] #251 closed

[2021-03-03 14:44] ivotron commented on #736
I reworded the title and issue description, please let me know if something doesn't make sense or if I missed something

[2021-03-03 14:49] ivotron commented on #737
hey @bmansheim, since "multi-cluster deployment" applies to both k8s and redpanda, would it be possible to add a description of what is meant with "multi-cluster deployment" in this case? do you mean multiple readpanda instances on the same kubernetes cluster? a cluster that spans multiple k8s clusters? or something else

[2021-03-03 17:38] senior7515 opened #742 "redpanda: display failed configuration invariants rather than backtrace"
When a user changes immutable invariants:

1. Node-id
2. core-count

We crash - correctly - because we cannot reason about someone changing the identity of nodes mid-run.

[code]

Let's make that fatal `vassert()`

[2021-03-03 17:38] senior7515 commented on #742
@mmaslankaprv let's also add a ducktape test that tests this.

[2021-03-03 17:39] senior7515 commented on #742
this could be a separate PR.

[2021-03-03 17:52] senior7515 commented on #742
the issue was on that very tall computers (64 physical cores and above) the logs are too far from the backtrace so you get something like this

https://gist.github.com/senior7515/96c96b166ef16ff875509050e572c892

but in reality if you scroll up, the logs are really smart and tell you what it is. so i think we should vassert() or ensure we fix the race condition on incorrect initialization order.

[2021-03-03 18:56] #742 closed

[2021-03-03 19:12] dotnwat commented on #736
I wonder if we could try to cross-compile as an experiment and ben could test on his laptop.

[2021-03-03 19:46] dotnwat opened #744 "meta: multiple listener support issue triage"
The following issues are related in some way to multiple listener support. This feature is supported within redpanda core, and these issues are primarily related to configuration, rpk, etc...

- [x] https://github.com/vectorizedio/redpanda/issues/636
- [x] https://github.com/vectorizedio/redpanda/issues/532
- [x] https://github.com/vectorizedio/redpanda/issues/524
- [x] https://github.com/vectoriz

[2021-03-03 20:20] yougotashovel opened #745 "docs: relative urls in markdown files not working"
@bmansheim  Currently most of the markdown urls have been written with no relative directory path, so while they work in Github, they don't when Gatsby compiles the website.

We need to change all urls referencing other docs from this:
[code]

To this:
[code]

This will also future proof for changing the directory structure from a single directory to nested.

[2021-03-04 00:14] senior7515 commented on #736
I think @rkruze was going to add this but go hadn’t released a compiler with proper arm support then

[2021-03-04 02:50] dotnwat commented on #744
From Ben

A lot of them just seem to be related to configuration / rpk backwards compatibility / defaults.
* RPK start should be able to deal with the old format
* Default config for container should advertise on $HOSTNAME (and be compatible with kafka env in general)

[2021-03-04 04:44] senior7515 opened #748 "early assert invariants"
Currently when we manually change the node-id, redpanda goes into a crash-loop correctly since we cannot detect a node lying about its id.

However, when debugging customer sites, it is very difficult since we attempt to graceful-exit  with #743  - but it did not work. I just installed `v21.3.2` and was able to reproduce the exact same stack trace as `v21.3.1`

[2021-03-04 05:29] dotnwat commented on #662
@Lazin did this go away? i haven't seen it recently

[2021-03-04 06:28] #354 closed

[2021-03-04 11:07] Lazin commented on #662
It should be OK when my PR will be merged. It doesn't have these warnings.

On Thu, Mar 4, 2021 at 8:30 AM Noah Watkins <notifications@github.com>
wrote:

[2021-03-04 13:33] BenPope commented on #186
This is fixed.

[2021-03-04 13:33] #186 closed

[2021-03-04 13:39] BenPope commented on #532
The new configuration system is related, perhaps the configuration file is deprecated: https://github.com/vectorizedio/redpanda/pull/553

Instead, the configuration should come from the environment, e.g.:
[code]

[2021-03-04 13:58] rkruze commented on #736
I can work on the rpk side of things but we will need a redpanda arm64 build.

[2021-03-04 16:55] raphaelauv commented on #744
@dotnwat
I would really like that redpanda could be a drop-in replacement of kafka even dockerize and support these ENV ->

[code]

[2021-03-04 17:44] senior7515 commented on #748
the issue here was that 21.3.2 was incorrectly tagged (same tag as 21.3.1) - w/ the latest tag this works as expected.

[2021-03-04 17:44] #748 closed

[2021-03-04 18:45] senior7515 opened #764 "implement DESCRIBE_ACLS in the kafka API"
Now that we have merged #281 and a bunch of other supporting infra for acls we should next implement the describe ACLs to get ready for end of month release of acls

Using kafdrop

![image](https://user-images.githubusercontent.com/175206/110013637-b6ffe000-7cd6-11eb-943f-e238235377e6.png)

clicking on the ACLs button will yield a DESCRIBE_ACLS not implemented error.

[2021-03-04 18:46] senior7515 commented on #764
[code]

[2021-03-05 03:52] dotnwat commented on #186
thank you!

[2021-03-05 03:52] dotnwat commented on #662
Ok great. Closing

[2021-03-05 03:52] #662 closed

[2021-03-05 04:00] dotnwat commented on #744
@raphaelauv thanks! im pretty sure we have a plan to support the environment variable compatibility as well. i'll track that down. were you able to use the multiple networking support when setting up the configurmation manually?

[2021-03-05 04:04] dotnwat commented on #532
@BenPope @0x5d do we support the kafka environment variables in rpk so that we can support the docker-compose case where the same kafka environmetn variables are used to configure multiple listeners? i think that michal's config changes can handle this, but that isn't going to land for a while.

[2021-03-05 04:10] BenPope commented on #532
Not directly, but I think the format is compatible, certainly for advertised_kafka_addr. You can pass the env as the command line arg value.

Should be easy to add the env as an alias using the spf libraries to make it work automagically.

[2021-03-05 05:29] senior7515 commented on #744
@mmaslankaprv  - on our new configuration changes, we should have the ability to have ENV overrides like @raphaelauv mentions. so your prototype should support binding multiple envs to the same var or some other way to override it

[2021-03-05 05:31] senior7515 commented on #744
@0x5d - i think there was a bug that @alenkacz fixed w.r.t array vs `map[string]interface{}` issue. so we should track that down and make sure we support both configs too.

[2021-03-05 05:33] #764 closed

[2021-03-05 11:56] alenkacz commented on #690
I would like to follow the "poor-man's-semver" as we discussed in the meeting - the same thing cockroach does or kubernetes does.

Every release should bump minor (or major) version (major version bumps should be probably rare).

We should then have a notion of supporting only couple of minor releases back.

I would also like to have a steady release cadence - let's say at least once a month. I do

[2021-03-05 16:21] graphcareful opened #768 "Replace last vestiges of exceptional futures within copro with result<T>"
#723

[2021-03-05 18:48] rkruze opened #769 "OOM when running redpanda via docker on apple m1"
Running with the following command:

[code]

It starts and I see the following in the log from the container:

[code]

and in the docker log I see the following which shows redpanda being killed because of a OOM:

[code]

[2021-03-05 19:34] dotnwat commented on #642
it is available `bin/kafka-consumer-groups.sh --bootstrap-server localhost:9092 --all-groups --describe` which we could figure out how to expose through rpk. i'm working on getting this into grafana now

[2021-03-05 19:56] RafalKorepta opened #770 "Versioning scheme for Redpanda configurator image"
- How it gets updated, e.g., during upgrade.
- What is relationship between versioning Redpanda operator and Redpanda and rpk

[2021-03-05 20:01] RafalKorepta opened #771 "Redpanda Operator dependency on rpk source code"
Background:

The operator and configurator has [the module dependency on rpk](https://github.com/vectorizedio/redpanda/blob/9204a8bf87ca6d1ef47559b1725582731c4faad9/src/go/k8s/go.mod#L14) with the [replace directive](https://github.com/vectorizedio/redpanda/blob/9204a8bf87ca6d1ef47559b1725582731c4faad9/src/go/k8s/go.mod#L26) ([Official docs on replace directive](https://golang.org/ref/mod#go-mod-f

[2021-03-05 22:44] senior7515 commented on #769
@rkruze is this a docker bug or a redpanda bug?

[2021-03-05 22:46] senior7515 commented on #771
I'm confused by this sentence ^^ - isn't the problem described in the quote. I think the second half of the thought is missing.

[2021-03-05 22:54] rkruze commented on #769
Not 100% clear, redpanda does seem to start and just consumes memory without printing anything to stdout. This could potentially be a docker bug, but I haven't been able to find anyone else reporting this behavior.

[2021-03-05 23:38] dotnwat commented on #642
@rkruze  Do our deployment requirements preclude running a collector to publish information into prometheus?

[2021-03-05 23:41] rkruze commented on #642
So similar to what Kafka does for JMX to Prometheus?

[2021-03-05 23:47] senior7515 commented on #642
in general yeah.

[2021-03-05 23:47] senior7515 commented on #642
though we can still offer a workaround in the mean time

[2021-03-05 23:50] rkruze commented on #642
As a short-term solution, I think this is fine, but we should find a way to show this via Redpanda's Web UI or through Prometheus without a collector.

[2021-03-06 16:47] RafalKorepta commented on #771
@senior7515 I'm sorry (had bad moment). I rephrase the issue.

[2021-03-06 17:06] ivotron commented on #769
I recall @bmansheim mentioning he experienced something similar? This is in theory should not be the problem after we address #736

[2021-03-07 20:21] RafalKorepta opened #777 "Add prometheus operator custom resource to gather Redpanda metrics"
[Prometheus Operator](https://github.com/prometheus-operator/prometheus-operator) is well know in the Kubernetes ecosystem for it's dynamic Prometheus configuration. To help users automatically scrape the Redpanda metrics let the Redpanda operator create `PodMonitor` or `ServiceMonitor` custom resource.

[2021-03-08 02:43] senior7515 commented on #777
I think this belongs in the cloud and not in the redpanda repo no? users of redpanda can hook up their own prometheus to data dog or honeycomb or whatever other 100 providers exist.

[2021-03-08 10:34] RafalKorepta commented on #777
@alenkacz @dimitriscruz What are your thoughts?

[2021-03-08 13:51] #724 closed

[2021-03-08 15:41] RafalKorepta opened #786 "Handle ClusterRoleBinding removal in the finalizer"
Context: https://github.com/vectorizedio/redpanda/pull/782#discussion_r589432303

The finalizer of the Cluster custom resource should remove subject from the ClusterRoleBinding.

[2021-03-08 16:25] alenkacz opened #787 "Update configmap when CR changes"
We never patch the configmap but there might be situations where it makes sense like e.g. scaling up which should update the seed servers addresses.

[2021-03-08 17:09] dotnwat commented on #642
I'm not sure about that specifically, but there are several projects that run a collector--not per broker--but per cluster so one instance of the collector. It runs and contacts the brokers and makes the results available to prometheus.

[2021-03-08 17:52] #642 closed

[2021-03-08 17:59] #532 closed

[2021-03-08 17:59] #636 closed

[2021-03-08 18:15] BenPope commented on #532
@senior7515 this should be fixed by #553 but I don't see how #757 changes this.

[2021-03-08 18:27] 0x5d commented on #532
@dotnwat it supports the `KAFKA_ADVERTISED_LISTENERS` env var via [`REDPANDA_ADVERTISE_KAFKA_ADDRESS`](https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/redpanda/start.go#L187) and `KAFKA_LISTENERS` via [REDPANDA_KAFKA_ADDRESS](https://github.com/vectorizedio/redpanda/blob/dev/src/go/rpk/pkg/cli/cmd/redpanda/start.go#L152)

[2021-03-08 18:29] BenPope commented on #532
@0x5d Is it possible to add an alias, so that "it just works™"

[2021-03-08 19:04] mmaslankaprv commented on #604
This has already been fixed.

[2021-03-08 19:04] #604 closed

[2021-03-08 19:07] mmaslankaprv commented on #643
@rkruze  We already expose all metrics for each partition. They can be easily aggregated per topic using appropriate prometheus query.

[2021-03-08 19:31] #725 closed

[2021-03-08 19:36] mmaslankaprv opened #788 "status API ion `cluster::controller_backend`"
`cluster::controller_backend` has to expose an API giving other components ability to check status of the long running tasks executed as a part of cluster state reconciliation.

Part of #703

[2021-03-09 01:50] andresaristizabal opened #793 "Crash observed when coprocessor offset save interval is triggered"
After wasm-engine response the coprocessor result to redpanda, redpanda show the next error without crash.

[code]

[2021-03-09 17:15] alenkacz opened #802 "Built in management of the CRDs within the operator"
Helm does not support patching of CRDs when upgrading, the only thing we do is simple kubectl apply which is not ideal.

Inspiration from the very awesome crossplane guys.

https://github.com/crossplane/crossplane/pull/2160

[2021-03-09 18:46] rkruze commented on #643
Ok, but they are not exposed in our grafana dashboard we create?

[2021-03-09 20:21] bmansheim opened #804 "Add `rpk version` to the rpk commands article"
`rpk version` shows the version of redpanda that is installed

Consider changing it to `rpk redpanda version`.

[2021-03-09 20:32] dotnwat opened #805 "docs: guidance on handling new RFC documents"
The `docs/rfcs` had clear value when we used a mailing list for development. Now that is not as clear with the availability of GitHub discussions. We currently have old rfcs in the tree, as well as new rfcs in GitHub discussions.

It'd be good to standardize around a single process, (or a combination of processes and tools) for taking rfcs through the entire design process and ultimately making th

[2021-03-09 22:17] senior7515 commented on #805
I think we should post the final RFC + discussions into the .md main repo

[2021-03-10 08:53] alenkacz commented on #805
Yeah, +1 for what @senior7515 said, it's really nice to have one place to find all the RFC/designs and not have to look for them in old github discussions

[2021-03-10 12:17] alenkacz commented on #770
I think this is resolved with us deciding yesterday that all the projects will be released at once and versioned the same

[2021-03-10 12:17] #770 closed

[2021-03-10 12:40] bmansheim commented on #805
I am happy for the process to be whatever makes the most sense for you, the devleopers.

[2021-03-10 13:22] alenkacz opened #811 "Make it possible to update statefulset"
When you deploy your cluster and then want to change the configuration, this is not supported:
start a cluster
update the cluster now enabling TLS
-> won't work

start cluster
update the cluster now enabling external connectivity
-> won't work

start cluster with TLS
disable TLS
-> won't work

and many more

[2021-03-10 21:53] dimitriscruz opened #813 "Validation of storage specification in Cluster CR"
PR https://github.com/vectorizedio/redpanda/pull/791 introduced a new redpanda.Cluster field to handle its storage configuration. We can improve on that by adding validation for capacity being > 0 and make capacity a required field. This can be achieved through webhooks (create/update).

[2021-03-11 05:29] dimitriscruz opened #816 "Add per listener TLS support"
There is support for multiple listeners but the TLS credentials are specified globally - not per listener. It would be useful for example to have an internal certificate and a separate one for external use (that might be issued by CA providers that require a public DNS).

[code]

[2021-03-11 06:12] dotnwat commented on #805
I like the idea of going directly (or through gh discussions) into the main repo. I think the missing piece is some sort of life cycle or shepherding of the rfcs. Because tbh once an rfc gets a review there is very little that drives the follow up steps like revision and actually merging.

[2021-03-11 08:24] alenkacz opened #817 "Introduce builder pattern for resources in operator"
https://github.com/vectorizedio/redpanda/pull/795#discussion_r591755883

Currently, many resources have plenty of arguments already and it's hard to review and manage. We could introduce builder pattern for certificate but also other resources to make this nicer experience.

[2021-03-11 08:42] alenkacz commented on #805
well ideally it should be in repo before the actual implementation starts, the latest when the first PR lands. I e.g. like to review the RFC again before reviewing the code. We could loosely enforce it like that for now - or have this kind of process defined.

[2021-03-11 11:18] alenkacz opened #818 "External connectivity node list not gracefully handled in kind"
When running e2e test, this is error we get reported. we should handle these environments gracefully instead or adjust the test.

[code]

[2021-03-11 11:34] alenkacz opened #819 "Error while removing subject on cluster with disabled external connectivity"
This should be handled more gracefully. I've seen this in e2e tests

[code]

[2021-03-11 14:14] alenkacz opened #821 "Create one more client certificate for the cloud application"
https://github.com/vectorizedio/redpanda/pull/795/commits/90e2b3a1d1f0b34f9a4976bc0f98122321a024b1#r590920253

we can either create another one, figure out another way how to allow people to request more or we can let that app use the same as operator does

[2021-03-11 19:43] dimitriscruz opened #825 "Storage capacity expansion in Cluster CR"
For some storage classes backed by dynamic provisioners, such as EBS's, capacity expansion is supported. If we start using such storage classes consider updating the PVC with the updated storage specification capacity.

[2021-03-12 11:03] pcvarma opened #829 "Missing alter command to modify the partition of a topic"
Missing alter command to modify the partition count of a topic
Please consider this and do the needful

[2021-03-12 17:28] andresaristizabal opened #831 "Crash after Imediality Deregister on coproc"
When I start redpanda (GCC compile), and I deploy a wasm script with `rpk wasm deploy <coproc>`, redpanda fails if I use `rpk topic create new-topic`

Error:
[code]

[2021-03-13 02:35] dotnwat opened #837 "kafka: support compression.type = producer option when creating topic"
https://kafka.apache.org/documentation/#brokerconfigs_compression.type

[2021-03-13 02:49] dotnwat opened #838 "raft: support moving partitions between cores on the same node"
- [x] When this lands we should remove the code https://github.com/vectorizedio/redpanda/pull/774/commits/2a3bdf38277fbb749a001a97e3cf6fd15a58504d that explicitly checks and avoids this situation in the test cases.

[2021-03-13 06:37] senior7515 commented on #837
Ah just looked at what this does and is already the default behavior. We are just missing `uncompressed` and `producer`